Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update changelog (#878)
  readme.txt
Owners: @myparcelnl/integration

fix: prevent automatic export when local pickup
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: prevent automatic export when local pickup (#887)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: make deploy workflow reusable
  .github/workflows/svn-deploy.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: make deploy workflow reusable (#888)
  .github/workflows/svn-deploy.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add lockfile
  composer.lock
Owners: @myparcelnl/integration

chore: add lockfile (#889)
  composer.lock
Owners: @myparcelnl/integration

chore: add lockfile
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add lockfile (#890)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.14.0 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  12464b46ed79cc3457e65e201f9357eb39ccf493
Owners: @myparcelnl/integration

fix: make ajax work
  includes/Settings/Api/AccountSettings.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: remove error reporting
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: remove error reporting
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

feat: show test connection button (#881)
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/Settings/Api/AccountSettingsService.php
  includes/Webhook/Hooks/AccountSettingsWebhook.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: delete barcode from refund email
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: remove barcode from refund mail
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: prevent unnecessary automatic export
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: show digital stamp range in order view
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

refactor
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: remove barcode from refund mail (#894)
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

Update includes/admin/class-wcmypa-admin.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

chore: sanitize validate escape
  README.md
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-modal-result-page.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-data.php
  includes/class-wcmp-postcode-fields.php
  includes/compatibility/class-wc-core-compatibility.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend-track-trace.php
  includes/frontend/class-wcmp-frontend.php
  includes/views/html-delivery-options-template.php
  private/createGettextFiles.js
  readme.txt
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: implement feedback
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: prevent unnecessary automatic export (#895)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: show digital stamp weight in order view (#896)
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

chore: sanitize validate escape (#893)
  README.md
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-modal-result-page.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-data.php
  includes/class-wcmp-postcode-fields.php
  includes/compatibility/class-wc-core-compatibility.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend-track-trace.php
  includes/frontend/class-wcmp-frontend.php
  includes/views/html-delivery-options-template.php
  private/createGettextFiles.js
  readme.txt
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: prevent dismissed message from reappearing
  includes/admin/MessagesRepository.php
Owners: @myparcelnl/integration

build: add dockerfile with node and composer
  CONTRIBUTING.md
  Dockerfile
  composer.lock
  private/entrypoint.sh
  private/gulp/createUpdateComposerTask.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add dockerfile with node and composer
  Dockerfile
  composer.lock
  yarn.lock
Owners: @myparcelnl/integration

build: set correct user
  Dockerfile
Owners: @myparcelnl/integration

build: add dockerfile with node and composer (#901)
  CONTRIBUTING.md
  Dockerfile
  private/entrypoint.sh
  private/gulp/createUpdateComposerTask.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: show digital stamp weight in order view (#896)
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: prevent unnecessary automatic export (#895)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: show test connection button (#881)
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/Settings/Api/AccountSettingsService.php
  includes/Webhook/Hooks/AccountSettingsWebhook.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: remove barcode from refund mail (#894)
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: prevent dismissed message from reappearing (#898)
  includes/admin/MessagesRepository.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
