Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix: match package type to shipping method
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

wip
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

wip
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: feedback
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: feedback
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

feat: add settings for sameday delivery
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: wip
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-api.php
Owners: @myparcelnl/integration

fix: show instabox track and trace code in order notes
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor: carrier specific dropoff point link
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/Status.php
Owners: @myparcelnl/integration

build: improve readme and initial setup
  .gitignore
  README.md
  gulpfile.js
  languages/.gitignore
  package.json
  private/gulp/createBuildJsTask.js
  private/gulp/createBuildScssTask.js
  private/gulp/createBuildTask.js
  private/gulp/createCleanTask.js
  private/gulp/createCopyDeliveryOptionsTask.js
  private/gulp/createCopyTask.js
  private/gulp/createTranslationsImportTask.js
  private/gulp/createUpdateComposerTask.js
  private/gulp/createWatchTask.js
  private/gulp/createZipTask.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: wrap readme at 80 characters
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: use asterisks instead of dashes
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

Add Codacy badge
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

refactor: moved functionality to its own class
  includes/admin/settings/SameDayDeliveryService.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

refactor: add own function for getting track trace codes
  includes/admin/class-wcmp-api.php
Owners: @myparcelnl/integration

refactor: add own function for getting retail overview link
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/Status.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

fix(checkout): use correct package type (#796)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

refactor: carrier specific dropoff point link (#800)
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/Status.php
Owners: @myparcelnl/integration

build: improve build process (#801)
  .gitignore
  README.md
  gulpfile.js
  languages/.gitignore
  package.json
  private/gulp/createBuildJsTask.js
  private/gulp/createBuildScssTask.js
  private/gulp/createBuildTask.js
  private/gulp/createCleanTask.js
  private/gulp/createCopyDeliveryOptionsTask.js
  private/gulp/createCopyTask.js
  private/gulp/createTranslationsImportTask.js
  private/gulp/createUpdateComposerTask.js
  private/gulp/createWatchTask.js
  private/gulp/createZipTask.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

refactor: feedback
  includes/admin/class-wcmp-api.php
Owners: @myparcelnl/integration

feat: check and handle shipment options with pickup (#787)
  includes/admin/MessagesRepository.php
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

refactor: check if dropoff is possible
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

wip
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: no errors for eu shipments without weight
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix(instabox): track trace not showing in notes (#798)
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix(om): no errors for eu shipments without weight (#804)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add download.html
  download.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update to v4.10.0-alpha.2
  CHANGELOG.md
  composer.json
  package.json
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): allow 6 characters as number suffix
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

wip
  includes/admin/OrderSettings.php
  includes/admin/settings/SameDayDeliveryService.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

wip
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix(checkout): allow 6 characters as number suffix (#806)
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

refactor: feedback
  composer.lock
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

refactor: lock file restored
  composer.lock
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration
