Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): do not include composer dev dependencies in final package
  .github/actions/install/action.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): improve accessibility
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.vue
Owners: @myparcelnl/frontend

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

build: add test build
  nx.json
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(admin): add better test ids
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/WcTriStateInput.vue
Owners: @myparcelnl/frontend

fix(install): prevent 504 and other confusing feedback when prerequisites are not met
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: feedback
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: disable plugin peacefully when prerequisites are not met
  config/pdk.php
  src/Logger/WcLogger.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

refactor: fix formatting
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(orders): do not add return barcodes to order notes (#998)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

chore(deps): fix tests failing
  nx.json
  package.json
  views/frontend/checkout-core/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/integration

build(nx): honor updates in pdk symlink for build:dev
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: fix error in prettier
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.13.0
  composer.lock
Owners: @myparcelnl/integration

test: update snapshots
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/build/action.yml
  .github/actions/setup/action.yml
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
  .github/workflows/--test.yml
  .github/workflows/dispatch-command.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix install steps
  .github/actions/setup/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): change name and description of action
  .github/actions/setup/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix backend test step
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: fix error in tests
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix: fix width of carrier settings not matching other tabs
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

fix: fix width of carrier settings not matching other tabs (#1000)
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

fix: render child product settings component
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

feat: support variation product settings
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
  src/Pdk/Service/WcViewService.php
Owners: @myparcelnl/integration

fix(variations): orderline has merged productsettings
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

style: fix code style
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

wip: implement feedback
  config/pdk.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
  tests/Mock/MockWcProductVariation.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

fix: use different id for child product settings
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(variations): save variations
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

fix(admin): fix look of product variations
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/WcDescription.vue
  views/backend/admin/src/components/WcHelpTip.vue
  views/backend/admin/src/components/pdk/WcChildProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/composables/index.ts
  views/backend/admin/src/composables/useElementData.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(view): check if is child product page
  src/Pdk/Service/WcViewService.php
Owners: @myparcelnl/integration

refactor: remove phpmd warning
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

fix: fix select widths
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: add type hints
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

fix(admin): fix boolean input values not being picked up
  views/backend/admin/src/components/pdk/WcProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

test: update tests
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: replace types
  views/backend/admin/src/components/pdk/WcChildProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcProductSettingsFormGroup.vue
  views/backend/admin/src/composables/useElementData.ts
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
