Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build: update build flow
  .browserslistrc
  .github/workflows/release-alpha.yml
  .github/workflows/release.yml
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  Dockerfile
  composer.json
  composer.lock
  gulpfile.ts
  package.json
  pdk.config.cjs
  private/entrypoint.sh
  release.config.js
  src/Pdk/Hooks/PdkOrderListHooks.php
  tsconfig.base.json
  tsconfig.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
  views/vite-config/package.json
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update name of output release assets
  release.config.js
Owners: @myparcelnl/frontend

feat: add dhleuroplus and dhlparcelconnect
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/settings/CarrierSettings.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

fix: improve components
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcLoader.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

build: update build flow
  .github/workflows/release-alpha.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  composer.lock
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update artifact names
  .github/workflows/release-alpha.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

feat: add dhleuroplus and dhlparcelconnect
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

fix(admin): fix select boxes duplicating and options not being preselected
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix(admin): update components
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

feat: add dhleuroplus and dhlparcelconnect
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/views/html-order-shipment-options.php
  includes/class-wcmp-data.php
  migration/wcmp-upgrade-migration-v4-1-0.php
  src/js/wcmp-frontend.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add dhleuroplus and dhlparcelconnect
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add dhleuroplus and dhlparcelconnect
  includes/admin/class-wcmp-export.php
  src/js/wcmp-frontend.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update product settings
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

feat: add dhleuroplus and dhlparcelconnect
  includes/admin/OrderSettingsRows.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: leave out belgium insurance for dhlparcelconnect
  includes/admin/OrderSettingsRows.php
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

chore: bump sdk and delivery options
  composer.json
  composer.lock
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  src/js/wcmp-frontend.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add carrier dhl europlus and dhl parcelconnect (#955)
  composer.json
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/views/html-order-shipment-options.php
  includes/class-wcmp-data.php
  includes/frontend/class-wcmp-checkout.php
  migration/wcmp-upgrade-migration-v4-1-0.php
  package.json
  src/js/wcmp-frontend.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: clean up config
  config/pdk.php
Owners: @myparcelnl/integration

style: remove concatenation
  src/Pdk/Plugin/Service/WcDeliveryOptionsService.php
Owners: @myparcelnl/integration

chore(deps): update myparcel dependencies
  yarn.lock
Owners: @myparcelnl/integration

fix: fix delivery options call for dhl parcelconnect and dhl europlus
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: fix delivery options call for dhl parcelconnect and dhl europlus
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix(modal): fix modal actions
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

chore(deps): update @myparcel/delivery-options
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix number error on "add order" page
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: regression fixes
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/frontend/class-wcmp-checkout.php
  package.json
  src/js/wcmp-frontend.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement bootstrapper
  config/pdk.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Logger/WcLogger.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Action/WcBackendEndpointService.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  src/Service/WpScriptService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: update frontend routes
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

style: fix whitespace
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: fix delivery options for dhl parcelconnect and dhl europlus (#957)
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/frontend/class-wcmp-checkout.php
  package.json
  src/js/wcmp-frontend.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Change the return type of getTimestamp to match with the parent
  includes/compatibility/class-wc-date-compatibility.php
Owners: @myparcelnl/integration

fix: change the return type of getTimestamp to match with the parent (#958)
  includes/compatibility/class-wc-date-compatibility.php
Owners: @myparcelnl/integration

fix: fix operator error in order settings
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

fix: fix operator error in order settings (#959)
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

feat: add bulk actions
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/hooks/onCreateStore.ts
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: move constants to pdk config
  src/Admin/MessageLogger.php
  src/Admin/MessagesRepository.php
  src/Facade/Messages.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
