Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(deps-dev): update typescript to 5.7.3
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/package.json
  views/vite-config/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): update typescript to 5.7.3 (#1247)
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/package.json
  views/vite-config/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: define package manager version and node version for corepack et al
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): group minor (non-pdk) updates together for npm ecocystem
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update readme.txt
  readme.txt
Owners: @myparcelnl/integration

build(composer): define required php version as 7.4
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(composer): define required php version as 7.4
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: restore pdk-setup commands where needed
  .github/workflows/analyse.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): bundle composer updates similarly to the npm updates
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(audits): fix an issue where no audit records were provided to a migration to move exported states to products instead
  src/Migration/Migration5_3_2.php
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

test(snapshots): update wordpress hook snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migrations): fix database migrations not running automatically on existing installations
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: partial address sync, properly hide address fields
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add poc but testable implementation of the address-widget
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/README.md
  views/frontend/address-widget/package.json
  views/frontend/address-widget/src/main.ts
  views/frontend/address-widget/tsconfig.build.json
  views/frontend/address-widget/vite.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(address): incorrect import used
  views/frontend/address-widget/package.tgz
  views/frontend/address-widget/src/main.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: use a local gzipped package as the gh repo is private
  views/frontend/address-widget/package.json
  views/frontend/address-widget/package.tgz
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(language): fix myparcel settings not showing in the user preferred language
  src/Pdk/Service/LanguageService.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(language): fix myparcel settings not rendering in some languages (#1259)
  src/Pdk/Service/LanguageService.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(migrations): fix database migrations not running automatically on existing installations
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

test(snapshots): update wordpress hook snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(audits): fix an issue where no audit records were provided to a migration to move exported states to products instead
  src/Migration/Migration5_3_2.php
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

feat: add receipt code for WooCommerce v4
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
Owners: @myparcelnl/integration

feat: add receipt code for WooCommerce v4
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add receipt code for WooCommerce v4
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

Update OrderSettings.php
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

Update OrderSettings.php
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

Fix typos
  readme.txt
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
Owners: @myparcelnl/integration

Fix main file
  .wordpress-assets/screenshot-4.png
  README.md
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

Update License URI
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Update Author URI
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Remove parenthesis
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: correct version
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore: fix typos (#1204)
  readme.txt
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
Owners: @myparcelnl/integration

fix: correct version
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Remove parenthesis
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Update Author URI
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Update License URI
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Fix main file
  .wordpress-assets/screenshot-4.png
  README.md
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: improve main file (#1263)
  .wordpress-assets/screenshot-4.png
  README.md
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(audits): fix an issue where no audit records were provided to a migration to move exported states to products instead
  src/Migration/Migration5_3_2.php
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
