Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat(js): normalize components
  views/backend/admin/src/components/WcSpinner.vue
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcButtonGroup.ts
  views/backend/admin/src/components/pdk/WcButtonGroup.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcCol.ts
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcImage.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcRow.ts
  views/backend/admin/src/components/pdk/WcRow.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.ts
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/utils/createDashIcon.ts
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
Owners: @myparcelnl/frontend

refactor: update
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

refactor: rename card to box
  src/Pdk/Hooks/PdkOrderHooks.php
Owners: @myparcelnl/integration

fix: reduce prop type errors
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(admin): scaffold dropoff input
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

refactor: add deprecation to AbstractUpgradeMigration
  src/Migration/AbstractUpgradeMigration.php
Owners: @myparcelnl/integration

fix: import default time input
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

feat: add dropoff day component to carrier settings
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcTimeInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

fix: make pdk order lines an indexed array
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: use correct title in order box
  src/Pdk/Hooks/PdkOrderHooks.php
Owners: @myparcelnl/integration

fix(admin): hide icon element if none exists
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

fix(admin): align dropdown menu items to the left
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

fix(admin): improve styling
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/WcLoadingOverlay.vue
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: set up lint-staged
  .eslintrc.cjs
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct migrations (wip)
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix: fix type error in getting value of option (#952)
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
Owners: @myparcelnl/integration

fix(migration): pass cc argument to insurance function
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: correct migrations (wip)
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

fix(admin): fix select boxes not choosing first option
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix(admin): wrap checkbox input in div to avoid errors and warnings
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
Owners: @myparcelnl/frontend

refactor: rename order list card to item
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix: fix errors on checkbox props
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
Owners: @myparcelnl/frontend

style: apply eslint fixes
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

fix: remove version query string from cdn urls
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

fix(migration): pass cc argument to insurance function (#953)
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: fix error on upgrade
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(migration): store all settings
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): do not migrate orders and products without active woocommerce
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): update account data when applicable
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): correctly store carrier settings
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): save carrier settings by correct key
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix: close inline style properly
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: close inline style properly (#954)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: take weight into account for packagetype selection (wip)
  config/pdk.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): update components
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcTimeInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

build: update build files
  Dockerfile
  composer.json
  composer.lock
  gulpfile.ts
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Merge branch 'alpha' of /Users/mark/Projects/docker-wordpress/plugins/woocommerce-myparcelnl with conflicts.
  composer.json
  composer.lock
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add dhleuroplus and dhlparcelconnect
  config/pdk.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
