Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix: error when order management enabled
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(om): fix error when creating webhook (#840)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add automatic release flow
  package.json
  release.config.js
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add zip file to assets
  release.config.js
Owners: @myparcelnl/frontend

build: automatic release
  .github/workflows/release.yml
  private/updateVersion.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: feedback
  package.json
  release.config.js
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update release.config.js
  release.config.js
Owners: @myparcelnl/frontend

refactor: feedback
  .github/workflows/release.yml
  package.json
  private/updateVersion.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: automatic release (#841)
  .github/workflows/release.yml
  package.json
  private/updateVersion.js
  release.config.js
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  c638878bea4037adb90ddbfa41de76221aefc845
Owners: @myparcelnl/integration

build: update push workflow
  .github/workflows/push.yml
  .github/workflows/release.yml
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.12.1 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  2463f205d2780cbf4ad2c3a8db405f44c31b792b
Owners: @myparcelnl/integration

docs: update readme.txt
  readme.txt
Owners: @myparcelnl/integration

docs: update readme.txt (#842)
  readme.txt
Owners: @myparcelnl/integration

fix: add missing file to final zip
  .github/workflows/release.yml
  private/gulp/createZipTask.js
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.12.2 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  88e516b635706d45467b37fcb021354c42980c09
Owners: @myparcelnl/integration

wip
  includes/Widget/MyParcelWidget.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

doc: changed tested up to 6.0
  readme.txt
Owners: @myparcelnl/integration

doc: change "tested up to" to 6.0 (#849)
  readme.txt
Owners: @myparcelnl/integration

fix(om): error when delivery options absent
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/class-wcmp-export.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/class-wcmp-export.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

refactor: update option name
  includes/admin/settings/Status.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: validate api key to prevent unnecessary calls
  includes/admin/settings/Status.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

refactor: only subscribe to webhook when api key changed
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/settings/Status.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/settings/Status.php
Owners: @myparcelnl/integration

fix: php warnings undefined array key
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix(om): error when delivery options absent (#845)
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/class-wcmp-export.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

feat: add dashboard widget
  includes/Widget/MyParcelWidget.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  src/scss/wcmp-admin-styles.scss
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: php warnings undefined array key (#848)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

Integrated bootstrap4 and changed styles to carD
  includes/Widget/MyParcelWidget.php
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/Webhook/Service/WebhookSubscriptionService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  includes/Widget/MyParcelWidget.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  src/img/myparcel_logo_rgb.svg
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow number as suffix using myparcel address fields
  includes/adapter/RecipientFromWCOrder.php
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

feat: add dashboard widget
  includes/Widget/MyParcelWidget.php
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add dashboard widget
  includes/admin/views/MyParcelWidget.php
  src/scss/widget.scss
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add dashboard widget
  includes/admin/views/MyParcelWidget.php
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  includes/admin/views/MyParcelWidget.php
  src/css/widget.css
  src/scss/wcmp-admin-styles.scss
  src/scss/widget.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend
