Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

perf: use check visibility in modern browsers
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): keep delivery options after address toggle and for single-rate shipping (Divi 5)
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): drop checkVisibility compatibility fallback
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

feat(checkout): target the submitting form in getForm() for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): merge form data across all checkout forms for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

docs: compact comments to essentials
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

wip
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(insurance): refresh stored carrier data so insurance keeps working
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): keep the shop up when the carrier refresh cannot reach the api
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration

build(deps): require pdk 4.7.0 for markFailed()
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: cover both insurance formats the api can send
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration
