Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

test: update tests for PDK changes
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

build(deps): update `myparcel/pdk` to v3.0.0
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Service/WpScriptService.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): v6 settings migration was not registered
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

fix: upgrade migration never ran
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

test: restore upgrade-hook call to snapshot expectations
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): update pdk to v3.1.1
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: add working vue-form-builder tarball resolution for scope migration
  package.json
  private/vue-form-builder-working.tgz
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use working vue-form-builder version for scope migration
  package.json
  private/vue-form-builder-working.tgz
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(dev-deps): use pdk-app-builder from `@myparcel-dev`
  package.json
  pdk.config.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update dependabot config for new npm-org
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): remove resolution and work with compatible js-pdk version
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix several form elements no longer displaying in admin panels
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix several form elements no longer displaying in admin panels
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

update snapshots for priority delivery
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: update js pdk
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: update @myparcel-dev/pdk-* dependencies (#1555)
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent using stale data for orders
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

fix: prevent using stale data for orders
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: prevent using stale data for orders (#1536)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

ci: use node 24 for semantic release
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update bulk action prefix to myparcelcom
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

fix(admin): fix an issue causing bulk actions not to work (#1559)
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

fix(admin): handle bulk order ids in digital stamp range field
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(node): bump node version to v24
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(release): fix package name in release config
  release.config.cjs
Owners: @myparcelnl/integration

build(release): fix semantic-release-config import path
  release.config.cjs
Owners: @myparcelnl/integration

build(release): remove unused --root-command argument
  release.config.cjs
Owners: @myparcelnl/integration

build(release): remove -C preserve case option which does not exist on linux
  release.config.cjs
Owners: @myparcelnl/integration

fix(build): fix an issue with the plugin zip being created incorrectly
  release.config.cjs
Owners: @myparcelnl/integration

feat(order): allow myparcel saleschannels to fetch delivery options data
  src/Pdk/Hooks/PdkEndpointHooks.php
  src/Service/WordPressHookService.php
  tests/Mock/MockWpError.php
  tests/Mock/MockWpUser.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/mock_class_map.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

feat(order): allow finding existing orders by their ID
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

Update tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
Owners: @myparcelnl/integration

Update src/Pdk/Hooks/PdkEndpointHooks.php
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

Update src/Pdk/Hooks/PdkEndpointHooks.php
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

fix: return original $is_rest_api_request if no URL is set
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

Update tests/mock_wp_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

Update tests/Mock/MockWpError.php
  tests/Mock/MockWpError.php
Owners: @myparcelnl/integration

Update tests/mock_wp_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

docs: improve docblock
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration
