Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: generate a zip in semantic-release rather than in the pdk-builder
  release.config.cjs
Owners: @myparcelnl/integration

chore: bump app-builder
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Implement feedback Joeri 2
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Simplify get country
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

Update tests and snapshots for trunkrs
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update tests and snapshots for trunkrs (#1495)
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

Implement feedback Joeri
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

remove validation it was not needed.
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update test
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Implement feedback Joeri 2
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Simplify get country
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

fix(woocommerce): save shipping address when MyParcel fields are active but delivery options are disabled
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent infinite loop in Blocks checkout separate address fields
  views/frontend/checkout-separate-address-fields/src/main.ts
Owners: @myparcelnl/frontend

Update test
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(woocommerce): save shipping address when MyParcel fields are active but delivery options are disabled
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Simplify get country
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

Implement feedback Joeri
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Implement feedback Joeri 2
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

remove validation it was not needed.
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: save shipping address when MyParcel fields are active but delivery options are disabled (#1463)
  src/Hooks/SeparateAddressFieldsHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: shipping class none to disable the do
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: disable the do based on shipping class none
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/vcs.xml
  WARP.md
  composer.json
  composer.lock
  docker-compose.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use correct address for order after checkout
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

fix: use correct address for order after checkout
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

fix: use correct address for order after checkout
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

fix: use correct address for order after checkout (#1503)
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: add tests
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: add tests
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix: disable do if shipping class none
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: disable do if shipping class none
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: add tests
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix: add tests
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
