Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(blocks): call declare_compatibility directly instead of via before_woocommerce_init
  src/Hooks/BlocksIntegrationHooks.php
Owners: @myparcelnl/integration

revert(blocks): remove over-aggressive script skip on blocks checkout
  src/Hooks/CheckoutScriptHooks.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

fix(blocks): register declare_compatibility on before_woocommerce_init from constructor
  src/Hooks/BlocksIntegrationHooks.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: sync ordergrid bulkactions with new order modes (#1601)
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: expose capabilities proxy from pdk (#1600)
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-delivery-options/src/utils/index.ts
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(pdk-compat): remove references to PDK consts for packageTypes, deliveryTypes, shipmentOptions (#1613)
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Datasets/orders.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: re-enable shipment export when WooCommerce uses Order v2 (#1617)
  config/pdk.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

docs: fix CONTRIBUTING snapshot heading and note capabilities proxy
  CLAUDE.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): require released PDK 4 and JS-PDK 2
  composer.json
  composer.lock
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): fix lockfile
  composer.lock
Owners: @myparcelnl/integration

build(deps): update yarn.lock
  yarn.lock
Owners: @myparcelnl/integration

feat(frontend-endpoint): restrict public route to same-origin requests
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(migration): make 6.1.0 account migration retry on failure
  src/Migration/Migration6_1_0.php
  tests/Unit/Migration/Pdk/Migration6_1_0Test.php
Owners: @myparcelnl/integration

test: replace brittle order snapshots with concrete assertions
  tests/Datasets/meta.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: silence phpstan false-positive on 6.1.0 shop guard
  src/Migration/Migration6_1_0.php
Owners: @myparcelnl/integration

fix: fix fatal errors when upgrading to v6.5.0 from > v6.1.0
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/Migration6_5_1.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix fatal errors when upgrading to v6.5.0 from > v6.1.0 (#1637)
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/Migration6_5_1.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(blocks): rename delivery-options block namespace from myparcelnl to myparcelcom
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  views/blocks/delivery-options/block.json
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): fix WooCommerce blocks checkout regression introduced in V6
  src/Hooks/BlocksIntegrationHooks.php
  src/Integration/AbstractBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Mock/MockWcBlocksUtils.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/mock_wc_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): remove dead declareCheckoutBlocksCompatibility method
  src/Hooks/BlocksIntegrationHooks.php
Owners: @myparcelnl/integration

test: update EntryTest snapshots for before_woocommerce_init hook
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: revert defensive null-guard in MockWcBlocksUtils
  tests/Mock/MockWcBlocksUtils.php
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix infinite loading or "blocks not supported" notices when using blocks checkout (#1632)
  src/Hooks/BlocksIntegrationHooks.php
  src/Integration/AbstractBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wc_functions.php
  views/blocks/delivery-options/block.json
  views/blocks/delivery-options/src/frontend.tsx
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(order-grid): add getForOrderList() to skip items/notes queries
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

feat(order-grid): use getForOrderList() in order list hook
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix(order-grid): fix @var annotation and guard fallback against double-throw
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

chore: add composer console script to run PDK console commands locally
  README.md
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(v4): prevent unauthorized shipment data manipulating
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(v4): prevent information disclosure
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(v4): prevent checkout delivery options manipulation
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix(v4): acknowledge nonce verification
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(v4): implement feedback plugin check plugin
  includes/class-wcmp-assets.php
  includes/class-wcmp-postcode-fields.php
  readme.txt
Owners: @myparcelnl/integration

fix(v4): acknowledge slowness with comment
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(v4): implement feedback plugin check plugin
  includes/class-wcmp-assets.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

doc: improve ajax fix for developers
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(v4): prevent unauthorized shipment data manipulating (#1649)
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-postcode-fields.php
  includes/frontend/class-wcmp-checkout.php
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore: run PDK console commands from the plugin locally (#1647)
  README.md
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(order-grid): fix @var annotation and guard fallback against double-throw
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

feat(order-grid): use getForOrderList() in order list hook
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

test(order-grid): update getForOrderList test to assert empty notes/lines
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
