Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: use fallback for null parameter
  includes/collections/settings-collection.php
Owners: @myparcelnl/integration

fix: prevent error substr expects parameter 1 to be string (#927)
  composer.lock
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-shipping-methods.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-log.php
  includes/collections/settings-collection.php
  includes/compatibility/abstract-wc-data-compatibility.php
  includes/entities/settings-field-arguments.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/wcmp-initialize-settings-collection.php
  migration/wcmp-upgrade-migration-v4-0-0.php
  migration/wcmp-upgrade-migration-v4-4-1.php
  migration/wcmp-upgrade-migration.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix deprecation warning on belgian shipments
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: hide fields when digital product
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

fix: hide fields when digital product
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

fix: fix exclude billing with digital download (#930)
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

fix: fix deprecation warning on belgian shipments (#929)
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

chore(release): 4.16.0-rc.2 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  773afd2afd43954f3c7458663732532e3d1266f4
Owners: @myparcelnl/integration

fix: fix str_replace fatal error during checkout
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: fix type error on fresh install
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore: update version
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: allow building admin app
  gulpfile.js
  package.json
  private/gulp/createTranslationsImportTask.js
  private/gulp/createUpdateComposerTask.js
  private/gulp/createWatchTask.js
  views/admin/package.json
  views/admin/src/__tests__/componentTests.spec.ts
  views/admin/src/index.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

feat: replace default vue components with custom ones
  assets/js/myparcel.js
  views/admin/src/__tests__/componentTests.spec.ts
  views/admin/src/assets/scss/_toggle.scss
  views/admin/src/components/pdk/WcButton.vue
  views/admin/src/components/pdk/WcCard.vue
  views/admin/src/components/pdk/WcCheckboxInput.vue
  views/admin/src/components/pdk/WcFormGroup.vue
  views/admin/src/components/pdk/WcModal.vue
  views/admin/src/components/pdk/WcMultiCheckbox.vue
  views/admin/src/components/pdk/WcNotification.vue
  views/admin/src/components/pdk/WcTable.vue
  views/admin/src/components/pdk/WcToggleInput.vue
  views/admin/src/index.ts
Owners: @myparcelnl/frontend, @myparcelnl/integration

Changes by thijmenwijers
  views/admin/src/assets/scss/index.scss
  views/admin/src/components/WcFormGroup.vue
  views/admin/src/components/pdk/WcModal.vue
  views/admin/src/index.ts
  views/admin/vite.config.ts
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: add settings menu to sidebar
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: replace bootstrap components with custom ones
  .yarnrc.yml
  views/admin/src/components/pdk/WcModal.vue
  views/admin/src/components/pdk/WcNumberInput.vue
  views/admin/src/components/pdk/WcSelectInput.vue
  views/admin/src/components/pdk/WcTextInput.vue
  views/admin/src/components/pdk/WcToggleInput.vue
  views/admin/src/index.ts
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent undefined array keys
  includes/admin/class-wcmypa-admin.php
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

fix: fix str_replace fatal error during checkout (#931)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: prevent undefined array keys
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

feat: add insurance possibilities for eu shipments
  includes/admin/OrderSettingsRows.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

refactor
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

fix: remove 0 in order settings rows options
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

fix: allow insurance for eu
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: use sdk for insurance possibilities
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

wip
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

fix: allow insurance for eu + row
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

fix: no signature without insurance outside nl
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix: prevent insured switch to be on when insurance is off
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix: use newest sdk for eu + row insurance options
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add insurance options for eu shipments (#922)
  composer.json
  composer.lock
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.16.0 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  f341361bd8aceea589588eeaff84edf10ae8d746
Owners: @myparcelnl/integration

docs: explain hook render service
  src/Pdk/Service/HookRenderService.php
Owners: @myparcelnl/integration

feat: set up logger
  composer.json
  config/pdk.php
  includes/admin/settings/class-wcmp-settings-data.php
  src/Admin/MessageLogger.php
  src/Admin/MessagesRepository.php
  src/Logger/WordPressLogger.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix yarn and license
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  LICENSE
  package.json
  readme.txt
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add frontend app scaffolding
  views/frontend/package.json
  views/frontend/src/assets/scss/index.scss
  views/frontend/src/index.ts
  views/frontend/tsconfig.json
  views/frontend/vite.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: show order detail even when package type is integer
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: show order detail even when package type is integer (#935)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
