Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: make shipping modal scrollable
  views/backend/admin/src/assets/scss/_modals.scss
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: check woocommerce active single and multisite
  config/pdk.php
Owners: @myparcelnl/integration

test: add newly invoked function to mocks
  tests/Unit/EntryTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

refactor: remove unused use statements
  tests/Unit/EntryTest.php
Owners: @myparcelnl/integration

test: fix test
  tests/Unit/BootTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: make sure it works outside admin area
  config/pdk.php
Owners: @myparcelnl/integration

fix: make shipping modal scrollable (#1571)
  views/backend/admin/src/assets/scss/_modals.scss
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

WIP
  composer.json
  composer.lock
  package.json
  src/Pdk/Plugin/Installer/WcMigrationService.php
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update src/Pdk/Hooks/PdkEndpointHooks.php
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

feat(order): allow myparcel saleschannels to fetch delivery options data
  src/Pdk/Hooks/PdkEndpointHooks.php
  src/Service/WordPressHookService.php
  tests/Mock/MockWpError.php
  tests/Mock/MockWpUser.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/mock_class_map.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

feat(order): allow finding existing orders by their ID
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

Update tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
Owners: @myparcelnl/integration

docs: improve docblock
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

Update tests/mock_wp_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: return original $is_rest_api_request if no URL is set
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

Update tests/mock_wp_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

Update src/Pdk/Hooks/PdkEndpointHooks.php
  src/Pdk/Hooks/PdkEndpointHooks.php
Owners: @myparcelnl/integration

build(deps): update sdk and pdk to compatible versions for the delivery options endpoint
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update tests/Mock/MockWpError.php
  tests/Mock/MockWpError.php
Owners: @myparcelnl/integration

Revert "build(deps): update sdk and pdk to compatible versions for the delivery options endpoint"
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update pdk to v3.3.0 and bump related packages
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: fix an existing issue with the permission callbacks test
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
Owners: @myparcelnl/integration

test: persist models for the PdkOrderRepositoryTest
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

test(webhooks): amend webhooks test asserts
  tests/Unit/Pdk/Hooks/PdkWebhookHooksTest.php
Owners: @myparcelnl/integration

feat(order): allow myparcel sales channel integration to fetch delivery options data (#1565)
  composer.json
  composer.lock
  src/Pdk/Hooks/PdkEndpointHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Service/WordPressHookService.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Mock/MockWpError.php
  tests/Mock/MockWpUser.php
  tests/Unit/Pdk/Hooks/PdkEndpointHooksTest.php
  tests/Unit/Pdk/Hooks/PdkWebhookHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: add multisite test
  tests/Unit/EntryTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: check woocommerce active single and multisite
  config/pdk.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: fix an issue detecting the woocommerce plugin on multisite installations (#1575)
  config/pdk.php
  tests/Unit/EntryTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(security): fix tar vulnerability
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): group updates together instead of per-directory
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): fix config
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(language): add support for German and Italian
  composer.lock
Owners: @myparcelnl/integration

use input classes
  views/frontend/checkout-address-widget/src/utils/init.ts
Owners: @myparcelnl/frontend

fix: implement feedback and bump address widget
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/init.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): apply input classes to the address widget (#1582)
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/init.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: pin version
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): fix tar vulnerability
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): fix tar vulnerability (#1579)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(v4): export shipment with weight
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
