Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

test: fix tests
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

chore(deps): update composer dependencies
  composer.lock
Owners: @myparcelnl/integration

test: update tests
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: replace autowire with get
  config/pdk.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

refactor(phpstan): fix errors in facade phpdocs
  phpstan-baseline.php
  src/Facade/Filter.php
  src/Facade/WooCommerce.php
  src/Facade/WordPress.php
Owners: @myparcelnl/integration

feat(shipments): add barcode as order note (#1004)
  config/pdk.php
  phpstan-baseline.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: fix pdk test files not being included
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add phpstan at level 5
  .github/workflows/analyse.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .gitignore
  composer.json
  composer.lock
  package.json
  phpstan-baseline.php
  phpstan.neon.dist
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.19.0
  composer.lock
Owners: @myparcelnl/integration

chore: update gitignore
  .gitignore
Owners: @myparcelnl/integration

fix(checkout): fix empty billing address 1 (#1005)
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

test: improve tests
  composer.json
  tests/Datasets/orders.php
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcData.php
  tests/Mock/MockWcOrder.php
  tests/Mock/MockWpMeta.php
  tests/Pest.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Hooks/TrackTraceHooksTest.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
  tests/functions.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update node dependencies
  yarn.lock
Owners: @myparcelnl/integration

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

refactor: remove commented code
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

fix: re-fix the cutoff toggles without touching other toggles
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

fix(settings): make drop off toggle reactive again
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

fix(settings): make drop off toggle reactive again (#1008)
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

build: pin node version
  nx.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update yarn
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: organize test reset hooks
  tests/Mock/MockWcData.php
  tests/Mock/MockWcPdkBootstrapper.php
  tests/Mock/MockWpMeta.php
  tests/Mock/StaticMockInterface.php
  tests/Pest.php
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

test: clean up mocked classes and functions
  tests/Pest.php
  tests/mock_class_map.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

refactor: cast post id to int to avoid problems
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

test: update tests
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcData.php
  tests/Mock/MockWpMeta.php
  tests/Mock/WordPressScheduledTasks.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test: split mocked functions into multiple files
  tests/Pest.php
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test: move wc function to correct file
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test: add factories
  .meta/.phpstorm.meta.php
  composer.json
  tests/Factory/AbstractWcDataFactory.php
  tests/Factory/Contract/WcDataFactoryInterface.php
  tests/Factory/WpFactoryFactory.php
  tests/Mock/MockWpMeta.php
  tests/Pest.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/factories/WC_Order_Factory.php
  tests/factories/WC_Order_Item_Factory.php
  tests/factories/WC_Order_Item_Product_Factory.php
  tests/factories/WC_Product_Factory.php
  tests/functions.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: include entry file in coverage reports
  phpunit.xml
Owners: @myparcelnl/integration

chore: update lockfile
  yarn.lock
Owners: @myparcelnl/integration

chore: update phpstan baseline
  phpstan-baseline.php
Owners: @myparcelnl/integration

test: add first test for plugin entry file
  tests/Mock/MockWpActions.php
  tests/Unit/EntryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(migration): migrate product variations
  phpstan-baseline.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Mock/MockWc.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcProduct.php
  tests/Mock/MockWcSession.php
  tests/Mock/MockWcShippingMethod.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/functions.php
  tests/mock_class_map.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(migration): add package type to product settings (#1006)
  phpstan-baseline.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Mock/MockWc.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcProduct.php
  tests/Mock/MockWcSession.php
  tests/Mock/MockWcShippingMethod.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/functions.php
  tests/mock_class_map.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix js-pdk not working
  package.json
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

chore(deps): upgrade myparcelnl/pdk to v2.19.1
  composer.lock
Owners: @myparcelnl/integration

chore(deps): update vitest
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: reorder settings
  config/pdk.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  tests/Unit/Hooks/TrackTraceHooksTest.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): upgrade myparcelnl/pdk to v2.19.2
  composer.lock
Owners: @myparcelnl/integration

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration
