Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: update dependencies
  package.json
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: incorporate account
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: save account properly
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
Owners: @myparcelnl/integration

wip: add webhooks
  config/pdk.php
  src/Hooks/RestApiHooks.php
  src/Pdk/Plugin/Action/WcWebhookActions.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Webhook/WcWebhooksRepository.php
Owners: @myparcelnl/integration

fix: use context query
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
Owners: @myparcelnl/integration

fix(admin): don't render wc card footer element if not necessary
  views/backend/admin/src/components/pdk/WcCard.vue
Owners: @myparcelnl/frontend

fix: improve webhooks
  config/pdk.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  views/backend/admin/src/index.ts
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add webhook processing scaffolding
  composer.lock
  config/pdk.php
  src/Hooks/CheckoutHooks.php
  src/Hooks/RestApiHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Plugin/Action/WcEndpointActions.php
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix: save carriersettings
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

fix: use endpoint class from new location
  src/Hooks/RestApiHooks.php
Owners: @myparcelnl/integration

fix: improve carriers
  src/Hooks/RestApiHooks.php
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: show delivery options
  src/Hooks/CheckoutHooks.php
  views/frontend/checkout-delivery-options/src/delivery-options/updateDeliveryOptionsConfig.ts
  views/frontend/checkout-delivery-options/src/getAddressParts.ts
  views/frontend/checkout-delivery-options/src/hasAddressType.ts
  views/frontend/checkout-delivery-options/src/synchronizeAddress.ts
  views/frontend/checkout-delivery-options/src/updateShippingMethod.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update delivery options config
  config/MyParcelNL/WooCommerce/Pdk/Plugin/WcShippingMethodRepository.php
  config/pdk.php
  src/Hooks/CheckoutHooks.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Service/WcViewService.php
  views/backend/admin/src/App.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/frontend/checkout-delivery-options/src/delivery-options/createDeliveryOptions.ts
  views/frontend/checkout-delivery-options/src/delivery-options/toggleDeliveryOptions.ts
  views/frontend/checkout-delivery-options/src/delivery-options/updateDeliveryOptionsConfig.ts
  views/frontend/checkout-delivery-options/src/getAddress.ts
  views/frontend/checkout-delivery-options/src/hasSplitAddressFields.ts
  views/frontend/checkout-delivery-options/src/index.ts
  views/frontend/checkout-delivery-options/src/setHouseNumber.ts
  views/frontend/checkout-delivery-options/src/store.ts
  views/frontend/checkout-delivery-options/src/stringToBoolean.ts
  views/frontend/checkout-delivery-options/src/triggerEvent.ts
  views/frontend/checkout-delivery-options/src/updateAddress.ts
  views/frontend/common/src/index.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: rename pdk frontend to pdk admin
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

fix: only read shipping class term when available (#951)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

style(eslint): apply eslint fixes
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

wip: update settings
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

wip: package type calculation
  src/Hooks/CheckoutHooks.php
Owners: @myparcelnl/integration

wip: make deliveryoptions visible
  views/frontend/checkout-delivery-options/src/delivery-options/updateDeliveryOptionsConfig.ts
  views/frontend/checkout-delivery-options/src/index.ts
  views/frontend/checkout-delivery-options/src/store/useDeliveryOptionsStore.ts
  views/frontend/checkout-delivery-options/src/synchronizeAddress.ts
Owners: @myparcelnl/frontend

fix: update settings
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

fix: fix return type
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

fix(admin): update components
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

build(admin): improve dev qol
  package.json
  views/backend/admin/package.json
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/index.ts
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
  views/frontend/checkout-delivery-options/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: create carrier settings taking into account cart contents
  src/Hooks/CheckoutHooks.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: clean up hooks
  config/pdk.php
  src/Admin/MessageLogger.php
  src/Admin/MessagesRepository.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/CheckoutHooks.php
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Hooks/PdkApiHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Hooks/RestApiHooks.php
  src/Hooks/ScheduledMigrationHooks.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/MigrationInterface.php
  src/Migration/Migrator.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Plugin/Action/WcEndpointActions.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Pdk/Plugin/Service/WcDeliveryOptionsService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Service/ScriptService.php
  src/Service/WordPressHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: update delivery options
  config/pdk.php
  package.json
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/CheckoutHooks.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Plugin/Action/WcBackendEndpointService.php
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-delivery-options/src/delivery-options/fetchContext.ts
  views/frontend/checkout-delivery-options/src/init/initializeDeliveryOptionsStore.ts
  views/frontend/common/src/store/createStore.ts
  views/frontend/common/src/store/index.ts
  views/frontend/common/src/store/types.ts
  views/frontend/common/src/store/useDeliveryOptionsStore.ts
  views/frontend/common/src/types.ts
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
Owners: @myparcelnl/integration

fix: fix some stuff
  src/Hooks/CartFeesHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

refactor
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
Owners: @myparcelnl/integration

fix: save deliveryoptions after checkout
  src/Pdk/Hooks/PdkPlaceOrderHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

feat: add support for taxes
  src/Hooks/CartFeesHooks.php
  src/Pdk/Service/WcTaxService.php
Owners: @myparcelnl/integration

fix: move wctaxservice to plugin
  config/pdk.php
  src/Pdk/Service/WcTaxService.php
Owners: @myparcelnl/integration

fix: update script service
  config/pdk.php
  package.json
  src/Hooks/CheckoutScriptHooks.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WpScriptService.php
  views/backend/admin/src/assets/scss/_transitions.scss
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: file name extension will be added automagically
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

fix: update js apps
  views/backend/admin/package.json
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/WcSpinner.vue
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
  views/backend/admin/vite.config.ts
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-delivery-options/vite.config.ts
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/checkout-split-address-fields/vite.config.ts
  views/vite-config/index.cjs
  views/vite-config/index.d.ts
  views/vite-config/package.json
  views/vite-config/tsconfig.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update test labels
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcImage.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

fix: fix icons
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
Owners: @myparcelnl/frontend

build: disable sourcemaps
  views/vite-config/index.cjs
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
