Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(migration): move order meta left behind under the pre-6.0.0 namespace
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  tests/Mock/MockWcClass.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): bound the run by scanned pages and skip unsupported carriers
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

test: fix conflict resolution mishap
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix(migration): resolve numeric carrier ids and page through legacy order meta
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(migration): retry failed orders and restore legacy UPS mapping
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/Migration6_5_1.php
  src/Service/WpCronService.php
  tests/Datasets/callbacks.php
  tests/Mock/WordPressScheduledTasks.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Service/WpCronServiceTest.php
Owners: @myparcelnl/integration

refactor(migration): reuse legacy carrier parser
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

test: restore mocks lost in rebase onto main
  tests/Mock/WordPressScheduledTasks.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(migration): convert order shipments left behind by a 4.x plugin
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateV4OrderShipmentsMigrationTest.php
Owners: @myparcelnl/integration

refactor(migration): simplify carrier conversion
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
Owners: @myparcelnl/integration

fix(security): remove unused build tooling and let pinned resolutions float
  package.json
  views/blocks/delivery-options/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - drop the new security resolutions
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): INT-1913 - send the cart weight in grams without a unit
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix(checkout): refresh the complete cart weight
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(checkout): INT-1913 - name the cart checks in the checkout listeners
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): INT-1913 - leave the shipping class weight to INT-1801
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

feat(admin): show a spinner and a button in notifications
  views/backend/admin/src/components/pdk/WcNotification.vue
Owners: @myparcelnl/frontend

build(deps): INT-1564 - require sdk 11.0.0-beta.35 for its mapper
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: INT-1564 - resolve carrier and package type names via the sdk
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Migration6_5_1.php
  src/Pdk/Context/Service/WcContextService.php
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

build(deps-dev): INT-1935 - move to vite 8, vitest 4 and happy-dom 20
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/index.js
  views/vite-config/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump semantic-release-config to 7
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): INT-1935 - cache tasks through targetDefaults
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump nx to 23
  .gitignore
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump pdk-app-builder to 4.1.4
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - refresh transitive fixes in range
  yarn.lock
Owners: @myparcelnl/integration

test: codecov trial step1-1, remove after_n_builds
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial step2-1, wait_for_ci false
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial step3-1, require_ci_to_pass false
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial step4-1, remove codecov test results upload
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial iso4-1, original codecov.yml, no test results upload
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial nofail-1, test results upload on, failing spec removed
  .github/workflows/test.yml
  views/backend/admin/src/components/pdk/components.spec.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: codecov trial redci-1, spec fixed by pinia dedupe, || true removed
  views/backend/admin/package.json
  views/backend/admin/src/components/pdk/components.spec.ts
  views/backend/admin/vite.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): move order meta from the pre-6.0.0 namespace (#1816)
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/Migration6_5_1.php
  tests/Datasets/callbacks.php
  tests/Mock/MockWcClass.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Service/WpCronServiceTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(admin): accept the width, height and title props on the image component
  views/backend/admin/src/components/pdk/WcImage.vue
Owners: @myparcelnl/frontend

test(admin): fix the admin component test setup and test ids
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/vite-config/test-setup.ts
Owners: @myparcelnl/frontend

build(deps-dev): pin vue to 3.4.31 in the admin
  .github/dependabot.yml
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: fail the admin test scripts when a test fails
  views/backend/admin/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): pass the element to the field id of the drop-off input
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

build(admin): bump pdk-admin component tests to 2.2.8
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: report admin test failures and get the codecov checks back (#1943)
  .github/dependabot.yml
  views/backend/admin/package.json
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcImage.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/vite-config/test-setup.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - drop the new security resolutions
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
