Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: add changelog
  readme.txt
Owners: @myparcelnl/integration

docs: add changelog
  CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add changelog
  CHANGELOG.md
  composer.json
  readme.txt
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add changelog
  CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add changelog
  CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add changelog
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update sdk version
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update sdk version
  readme.txt
Owners: @myparcelnl/integration

chore: update sdk version
  composer.lock
Owners: @myparcelnl/integration

ci: update rebase workflow
  .github/workflows/rebase.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix tablerate plugin mailbox (#859)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: remove age check from eu and row consignments (#855)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix: allow numbers as suffix using myparcel address fields (#850)
  includes/adapter/RecipientFromWCOrder.php
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

fix: prevent exporting of orders with local pickup as shipping method (#858)
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-shipping-methods.php
  includes/frontend/class-wcmp-frontend.php
Owners: @myparcelnl/integration

fix: php warnings undefined array key (#848)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: only subscribe to webhook when api key changed (#846)
  includes/Settings/Api/AccountSettings.php
  includes/Settings/Api/AccountSettingsService.php
  includes/Webhook/Hooks/AbstractWebhook.php
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/settings/Status.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: add myparcel block to dashboard (#854)
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/views/MyParcelWidget.php
  src/img/myparcel_logo_rgb.svg
  src/scss/wcmp-admin-styles.scss
  src/scss/widget.scss
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix track trace link in order summary (#856)
  includes/admin/views/html-order-shipment-summary.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(om): error when delivery options absent (#845)
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/class-wcmp-export.php
  includes/class-wcmp-data.php
Owners: @myparcelnl/integration

chore(deps): update myparcelnl/sdk to 7.4.3 (#863)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.13.0 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  780de727e688236a5dd9aad6982d17c168439a9c
Owners: @myparcelnl/integration

chore(release): 4.13.0 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use local pickup method id
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

docs: update readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update site
  index.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update workflows
  .github/workflows/dispatch_command.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: remove workflow_dispatch from rebase
  .github/workflows/rebase.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use local pickup method id (#860)
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  b549ab01c5d6d95ec25bfe9f281f37dcf210fc68
Owners: @myparcelnl/integration

ci: skip lots of steps when there is no need to release
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update workflows
  .github/workflows/dispatch_command.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.13.1 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: catch orders without shipping method
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

fix: catch orders without shipping method (#864)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  ef322b0f42ed587c11e7cf65076f9f5649689e7c
Owners: @myparcelnl/integration

chore(release): 4.13.2 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add contributing.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
