Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: optimize wc product loading
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

test: hardcode test expectation migration id
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(settings): report a failed conversion instead of throwing
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix: gracefully handle account fetch failures
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
Owners: @myparcelnl/integration

test(migration): cover the account refresh failing on its own
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): convert products and orders whatever the carrier settings hold
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(carrier): refresh carrier data so the no tracking option appears
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

refactor(migration): remove the duplication between the two no tracking passes
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

fix: attempt to migrate products and orders even if no settings are present
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

feat(settings): convert stored carrier tracking settings to no tracking
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

feat(settings): convert stored product tracking settings to no tracking
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(carrier): report a failed carrier refresh instead of throwing
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(orders): convert the tracking option on existing orders and shipments
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): skip a record that cannot be converted instead of dropping its chunk
  src/Migration/NoTrackingChunkMigrator.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
Owners: @myparcelnl/integration

fix: narrow settings restore
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
Owners: @myparcelnl/integration

fix: preserve settings on deactivation
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Restore carrier settings
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/WordPressOptions.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(migration): convert tracking choices on shops upgrading from v6
  src/Migration/2026_08_04_110000_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

test(migration): name the migration ids the way prestashop does
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(insurance): refresh stored carrier data so insurance keeps working
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration

build(deps): require pdk 4.7.0 for markFailed()
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): keep the shop up when the carrier refresh cannot reach the api
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration

test: cover both insurance formats the api can send
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): point the installer at the plugin migrations
  config/pdk.php
  tests/Unit/Migration/MigrationDiscoveryTest.php
Owners: @myparcelnl/integration

feat: add admin banner announcing MyParcel for WooCommerce 6.0 (#1733)
  includes/admin/MessagesRepository.php
  includes/admin/UpgradeBanner.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat(checkout): target the submitting form in getForm() for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): restore getForm() non-null return contract + fallback test
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

feat(checkout): bind formChange to every checkout form for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

feat(checkout): merge form data across all checkout forms for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): keep delivery options after address toggle and for single-rate shipping (Divi 5)
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

wip
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): drop checkVisibility compatibility fallback
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

perf: use check visibility in modern browsers
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

docs: compact comments to essentials
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

deps: update js-pdk checkout
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: support divi 5 checkout (#1661)
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): exclude myparcel packages from cooldown
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): exclude myparcel packages from cooldown (#1776)
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend
