Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: update bug report template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: update to pdk v3
  config/pdk.php
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Migration4_0_0.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  tests/Factory/AbstractWpFactory.php
  tests/Mock/MockWpRestServer.php
  tests/Mock/MocksGettersAndSetters.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/factories/WP_Term_Factory.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

ci: create build for pr even if checks fail
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove invalid use statement
  config/pdk.php
Owners: @myparcelnl/integration

chore: add codecov.yaml
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update ide config
  .idea/myparcelnl-woocommerce.iml
Owners: @myparcelnl/integration

chore: update codecov.yml
  codecov.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix errors being ignored when pdk-builder build fails
  pdk.config.js
Owners: @myparcelnl/frontend

ci: add checkbox for deploy-svn for v4
  .github/workflows/release-legacy-v4.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: use the latest delivery options
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: use the latest delivery options
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): require `@myparcel/delivery-options` v5.20.0 or newer
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update yarn.lock
  yarn.lock
Owners: @myparcelnl/integration

ci: allow release from v4 branch
  .github/workflows/release-legacy-v4.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Integration/SeparateAddressFieldsBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  views/backend/admin/package.json
  views/backend/admin/vite.config.ts
  views/frontend/checkout-core/package.json
  views/frontend/checkout-core/src/blocks/constants.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/constants.ts
  views/frontend/checkout-core/src/classic/getClassicCheckoutConfig.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/constants.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/types.ts
  views/frontend/checkout-core/src/utils/createFields.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/splitStreet.spec.ts
  views/frontend/checkout-core/src/utils/splitStreet.ts
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/assets/scss/index.scss
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-separate-address-fields/src/index.ts
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/src/data/constants.ts
  views/frontend/common/src/data/fields.ts
  views/frontend/common/src/data/index.ts
  views/vite-config/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: fix after merge
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: yeet obsolete code
  views/separate-address-fields/.gitignore
  views/separate-address-fields/block.json
  views/separate-address-fields/package.json
  views/separate-address-fields/src/edit.tsx
  views/separate-address-fields/src/frontend.tsx
  views/separate-address-fields/src/index.tsx
  views/separate-address-fields/webpack.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: separate address fields in blocks checkout
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Integration/SeparateAddressFieldsBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/Unit/EntryTest.php
  views/blocks/delivery-options/src/constants.ts
  views/blocks/delivery-options/src/frontend.tsx
  views/blocks/delivery-options/src/utils/getDeliveryOptionsData.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/utils/useCartStore.ts
  views/frontend/checkout-separate-address-fields/assets/scss/index.scss
  views/separate-address-fields/.gitignore
  views/separate-address-fields/block.json
  views/separate-address-fields/package.json
  views/separate-address-fields/src/edit.tsx
  views/separate-address-fields/src/frontend.tsx
  views/separate-address-fields/src/index.tsx
  views/separate-address-fields/webpack.config.js
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: attempt at fixing things
  composer.json
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/OnWcBlocksCheckoutBlockRegistrationHooks.php
  src/Hooks/OnWcBlocksLoadedHooks.php
  src/Hooks/RanWebhookActionsHooks.php
  src/Hooks/WcSeparateAddressFieldsHooks.php
  src/Hooks/WcTaxFieldsHooks.php
  src/Hooks/WebhookActionsHooks.php
  src/Integration/WcBlocksLoader.php
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  src/Service/WordPressHookService.php
  src/WooCommerce/Address/EoriNumberAddressField.php
  src/WooCommerce/Address/NumberAddressField.php
  src/WooCommerce/Address/NumberSuffixAddressField.php
  src/WooCommerce/Address/StreetAddressField.php
  src/WooCommerce/Address/VatNumberAddressField.php
  src/WooCommerce/Blocks/AbstractBlocksIntegration.php
  src/WooCommerce/Blocks/DeliveryOptionsBlocksIntegration.php
  src/WooCommerce/Repository/WcShippingRepository.php
  src/functions.php
  tests/Unit/Hooks/WebhookActionsTest.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  tests/mock_class_map.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

revert: revert unnecessary changes
  views/backend/admin/package.json
  views/backend/admin/vite.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix import
  views/frontend/checkout-core/src/blocks/updateAddressInStore.ts
Owners: @myparcelnl/frontend

style: reindent composer.json
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: fix newlines at ends of files
  src/Hooks/OnWcBlocksCheckoutBlockRegistrationHooks.php
  src/Hooks/OnWcBlocksLoadedHooks.php
  src/WooCommerce/Address/Contract/AddressFieldInterface.php
  src/WooCommerce/Address/EoriNumberAddressField.php
  src/WooCommerce/Address/NumberAddressField.php
  src/WooCommerce/Address/NumberSuffixAddressField.php
  src/WooCommerce/Address/VatNumberAddressField.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix issues with classic checkout
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/OnWcBlocksLoadedHooks.php
  views/frontend/checkout-core/src/classic/getClassicCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix coverage not working
  phpunit.xml
  tests/mock_class_map.php
Owners: @myparcelnl/integration

revert: revert dependency changes
  package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/WooCommerce/Address/AbstractAddressField.php
  views/frontend/checkout-core/src/blocks/__snapshots__/getBlocksCheckoutConfig.spec.ts.snap
  views/frontend/checkout-core/src/blocks/constants.ts
  views/frontend/checkout-core/src/blocks/createBlocksCheckoutFieldSelectors.ts
  views/frontend/checkout-core/src/blocks/createBlocksCheckoutSelector.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.spec.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/blocks/resolveAddress.spec.ts
  views/frontend/checkout-core/src/blocks/resolveAddress.ts
  views/frontend/checkout-core/src/blocks/resolveAddressKey.ts
  views/frontend/checkout-core/src/blocks/updateAddressInStore.ts
  views/frontend/checkout-core/src/classic/getClassicCheckoutConfig.ts
  views/frontend/checkout-core/src/types.ts
  views/frontend/checkout-separate-address-fields/assets/scss/index.scss
  views/frontend/common/src/data/fields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: fix errors
  phpstan-baseline.php
  src/Contract/WooCommerceServiceInterface.php
  src/Hooks/AbstractFieldsHooks.php
  src/PluginLoader.php
  src/Service/WooCommerceService.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  config/pdk.php
  package.json
  src/Contract/WooCommerceServiceInterface.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WooCommerceService.php
  src/WooCommerce/Address/AbstractAddressField.php
  src/WooCommerce/Address/Contract/AddressFieldInterface.php
  src/WooCommerce/Address/EoriNumberField.php
  src/WooCommerce/Address/NumberAbstractAddressField.php
  src/WooCommerce/Address/NumberSuffixAbstractAddressField.php
  src/WooCommerce/Address/StreetAbstractAddressField.php
  src/WooCommerce/Address/VatNumberField.php
  src/WooCommerce/Contract/WcAddressFieldsServiceInterface.php
  src/WooCommerce/Service/WcAddressFieldsService.php
  views/frontend/checkout-core/src/blocks/createSelector.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/getClassicCheckoutConfig.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/constants.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/types.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/isClassicCheckout.ts
  views/frontend/checkout-core/src/utils/splitStreet.spec.ts
  views/frontend/checkout-core/src/utils/splitStreet.ts
  views/frontend/checkout-separate-address-fields/src/index.ts
  views/frontend/common/src/data/fields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: add missing newlines to end of file
  src/Contract/WpFilterServiceInterface.php
  src/Integration/AbstractBlocksIntegration.php
  src/PluginLoader.php
Owners: @myparcelnl/integration

test: fix tests
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/Unit/EntryTest.php
  tests/Uses/UseInstantiatePlugin.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix issues
  src/Hooks/AbstractFieldsHooks.php
  src/PluginLoader.php
Owners: @myparcelnl/integration

feat: support custom address and tax fields in blocks checkout
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/WooCommerce/Address/AbstractAddressField.php
  src/WooCommerce/Address/Contract/AddressFieldInterface.php
  src/WooCommerce/Contract/WcAddressFieldsServiceInterface.php
  src/WooCommerce/Service/WcAddressFieldsService.php
Owners: @myparcelnl/integration

fix(security): prevent reflected xss
  includes/Helper/ExportRow.php
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-log.php
  includes/compatibility/abstract-wc-data-compatibility.php
  includes/entities/settings-field-arguments.php
  includes/frontend/class-wcmp-checkout.php
  migration/wcmp-upgrade-migration-v2-4-0-beta-4.php
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(security): prevent reflected xss
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-postcode-fields.php
  includes/compatibility/class-wc-core-compatibility.php
  includes/compatibility/class-wc-order-compatibility.php
  includes/frontend/class-wcmp-checkout.php
  includes/views/html-delivery-options-template.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(security): prevent reflected xss
  includes/Helper/LabelDescriptionFormat.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(security): prevent reflected xss
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(security): prevent reflected xss
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: implement feedback
  includes/admin/settings/CarrierSettings.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Fix EC configuration
  .editorconfig
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
