Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(export): prevent recursive automatic exports
  src/Hooks/AutomaticOrderExportHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Mock/TrackingWcOrder.php
  tests/Mock/TrackingWcOrderRepository.php
  tests/Unit/Hooks/AutomaticOrderExportHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/Unit/WooCommerce/Repository/WcOrderRepositoryTest.php
Owners: @myparcelnl/integration

fix(export): prevent recursive automatic exports (#1819)
  src/Hooks/AutomaticOrderExportHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Mock/TrackingWcOrder.php
  tests/Mock/TrackingWcOrderRepository.php
  tests/Unit/Hooks/AutomaticOrderExportHooksTest.php
  tests/Unit/Hooks/AutomaticOrderExportSafetyTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/Unit/WooCommerce/Repository/WcOrderRepositoryTest.php
Owners: @myparcelnl/integration

ci(dependabot): fix duplicate PRs for each package.json in the monorepo
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): serialise the context refresh and tolerate older blocks stores
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): refresh delivery options when the company changes in blocks checkout
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(security): remove unused build tooling and let pinned resolutions float
  package.json
  views/blocks/delivery-options/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): move the frontend toolchain to vite 7, vitest 4 and happy-dom 20
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/index.js
  views/vite-config/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): move to @myparcel-dev/semantic-release-config 7 and csv-parse 7
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): bump nx to 22
  .gitignore
  .prettierignore
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): refresh the complete cart weight
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(customs): limit the customs item description to the api maximum
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(customs): limit the customs item description to the api maximum (#1907)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): move pdk-admin-component-tests to devDependencies
  views/backend/admin/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): move pdk-admin-component-tests to devDependencies (#1908)
  views/backend/admin/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): refresh delivery options when the company changes in blocks checkout
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): serialise the context refresh and tolerate older blocks stores
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): wait for the save that carries the company
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): report the business flag per address
  views/frontend/checkout-core/src/main.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): let the PDK decide when to refresh the business context
  views/frontend/checkout-core/src/main.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

build(deps): bump js-pdk checkout packages to 2.2.0
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): refresh delivery options when the recipient becomes a business (#1848)
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(api): stop fatal error on undefined trigger_deprecation()
  src/Pdk/Guzzle7ClientAdapter.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(api): stop fatal error on undefined trigger_deprecation() (#1905)
  src/Pdk/Guzzle7ClientAdapter.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build: align dependabot config
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: move agent instructions to AGENTS.md
  AGENTS.md
  CLAUDE.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(security): remove unused build tooling and let pinned resolutions float
  package.json
  views/blocks/delivery-options/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - drop the new security resolutions
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - move to vite 8, vitest 4 and happy-dom 20
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/index.js
  views/vite-config/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump nx to 23
  .gitignore
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): INT-1935 - cache tasks through targetDefaults
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump pdk-app-builder to 4.1.4
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump semantic-release-config to 7
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - refresh transitive fixes in range
  yarn.lock
Owners: @myparcelnl/integration

fix(checkout): INT-1913 - send the cart weight in grams without a unit
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

build: align dependabot config (#1910)
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: move agent instructions to AGENTS.md
  AGENTS.md
  CLAUDE.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: move agent instructions to AGENTS.md (#1921)
  AGENTS.md
  CLAUDE.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): flatten carrier normalisation and simplify the empty check
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
Owners: @myparcelnl/integration

fix(migration): make legacy order meta migration work on non-HPOS shops
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/MigrateV4OrderShipmentsMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

refactor(migration): reuse scheduled order migration chunks
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
