Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix: prevent shipping method from defaulting to package
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: use shift instead of index
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

docs: update plugin manual url
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update plugin manual url
  index.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(dashboard): add option to only show myparcel orders
  includes/admin/class-wcmp-export.php
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: prevent shipping method from defaulting to package (#865)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

wip
  includes/admin/views/html-order-track-trace-table.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: prevent external translations
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: implement feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: implement feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: implement feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: prevent external translations (#873)
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: use shift instead of index (#866)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

chore(release): 4.13.3 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  efe9760c5442c1b244b30b6365685c44eae01ded
Owners: @myparcelnl/integration

fix: fix digital stamp default weight
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

docs: update changelog
  readme.txt
Owners: @myparcelnl/integration

build: add svn deploy
  .github/workflows/release.yml
  .github/workflows/svn_deploy.yml
  .wordpress-assets/banner-772x250.png
  .wordpress-assets/icon-128x128.png
  .wordpress-assets/icon-256x256.png
  .wordpress-assets/screenshot-1.png
  .wordpress-assets/screenshot-2.png
  .wordpress-assets/screenshot-3.png
  .wordpress-assets/screenshot-4.png
  .wordpress-assets/screenshot-5.png
  .wordpress-assets/screenshot-6.png
  composer.lock
  private/bash/createDistFolder.sh
  private/gulp/createBuildTask.js
  private/gulp/createZipTask.js
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add carrier dhl for you
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

feat: add support for advanced shipping
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

wip
  includes/Settings/Api/AccountSettings.php
Owners: @myparcelnl/integration

fix: fix digital stamp default weight (#871)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

refactor: pr feedback
  .github/workflows/dispatch-command.yml
  .github/workflows/release.yml
  .github/workflows/svn-deploy.yml
  .github/workflows/svn_deploy.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update
  package.json
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: distribute readme as well
  private/bash/createDistFolder.sh
Owners: @myparcelnl/integration

feat: show test connection button
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/Settings/Api/AccountSettingsService.php
  includes/Webhook/Hooks/AccountSettingsWebhook.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore: change name
  includes/admin/settings/class-wcmypa-settings.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix belgian box numbers
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

chore: change name (#880)
  includes/admin/settings/class-wcmypa-settings.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  includes/Settings/Api/AccountSettingsService.php
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

build: add svn deploy (#877)
  .github/workflows/dispatch-command.yml
  .github/workflows/release.yml
  .github/workflows/svn-deploy.yml
  .wordpress-assets/banner-772x250.png
  .wordpress-assets/icon-128x128.png
  .wordpress-assets/icon-256x256.png
  .wordpress-assets/screenshot-1.png
  .wordpress-assets/screenshot-2.png
  .wordpress-assets/screenshot-3.png
  .wordpress-assets/screenshot-4.png
  .wordpress-assets/screenshot-5.png
  .wordpress-assets/screenshot-6.png
  composer.lock
  package.json
  private/bash/createDistFolder.sh
  private/gulp/createBuildTask.js
  private/gulp/createZipTask.js
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix belgian box numbers
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

feat: add support for advanced shipping (#879)
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

wip
  includes/Settings/Api/AccountSettings.php
Owners: @myparcelnl/integration

fix: fix belgian box number
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: fix belgian box number
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: feedback
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: fix belgian box numbers (#883)
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration
