Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

wip: tax fields
  src/Service/WcRecipientService.php
  views/frontend/checkout-delivery-options/src/listeners/onDeliveryOptionsUpdate.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/countries.ts
  views/frontend/checkout-tax-fields/src/utils/showHideTaxFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): sync tax fields wip
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

fix(admin): fix select boxes duplicating and options not being preselected
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

wip: add separate address fields
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  views/frontend/checkout-delivery-options/assets/scss/_checkout.scss
  views/frontend/checkout-delivery-options/assets/scss/index.scss
  views/frontend/checkout-delivery-options/src/delivery-options/getDeliveryOptionsAddress.ts
  views/frontend/checkout-delivery-options/src/helpers/addAddressFieldListeners.ts
  views/frontend/checkout-delivery-options/src/helpers/index.ts
  views/frontend/checkout-delivery-options/src/helpers/setHouseNumber.ts
  views/frontend/checkout-split-address-fields/assets/scss/_autofill-hack.scss
  views/frontend/checkout-split-address-fields/assets/scss/_checkout.scss
  views/frontend/checkout-split-address-fields/assets/scss/index.scss
  views/frontend/checkout-split-address-fields/src/address/fillAddressFields.ts
  views/frontend/checkout-split-address-fields/src/address/getAddressParts.ts
  views/frontend/checkout-split-address-fields/src/address/index.ts
  views/frontend/checkout-split-address-fields/src/address/splitAddress.ts
  views/frontend/checkout-split-address-fields/src/data/fields.ts
  views/frontend/checkout-split-address-fields/src/main.ts
  views/frontend/checkout-split-address-fields/src/utils/index.ts
  views/frontend/checkout-split-address-fields/src/utils/setAddress.ts
  views/frontend/checkout-split-address-fields/src/utils/splitFields.ts
  views/frontend/checkout-split-address-fields/src/utils/synchronizeAddress.ts
  views/frontend/common/src/address/fillSplitAddressFields.ts
  views/frontend/common/src/address/getAddressParts.ts
  views/frontend/common/src/address/getHouseNumber.ts
  views/frontend/common/src/address/index.ts
  views/frontend/common/src/address/setFieldValue.ts
  views/frontend/common/src/data/fields.ts
  views/frontend/common/src/data/index.ts
  views/frontend/common/src/store/createStore.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix naming error in bulk actions order mode
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: render settings page
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: add dhleuroplus and dhlparcelconnect
  config/pdk.php
Owners: @myparcelnl/integration

fix: fix number error on "add order" page
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: save shipment even when updated is not null
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(admin): improve select inputs
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: wrap pdk admin init in window.onload
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

fix: implement bootstrapper
  config/pdk.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Logger/WcLogger.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Action/WcBackendEndpointService.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  src/Service/WpScriptService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: disable selectwoo for now because it won't work
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: improve components
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcLoader.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

fix: update frontend routes
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: increase order list column width
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): initialize tooltips properly
  views/backend/admin/src/hooks/closeModalOnEscape.ts
  views/backend/admin/src/hooks/index.ts
  views/backend/admin/src/hooks/initializeTooltips.ts
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

refactor: normalize interfaces
  config/pdk.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/CartFeesHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/Contract/WordPressHooksInterface.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Hooks/ScheduledMigrationHooks.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Contract/MigrationInterface.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Guzzle7ClientAdapter.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkPlaceOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Plugin/Service/WcStatusService.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcTaxService.php
  src/Service/WordPressHookService.php
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix(admin): change shipment label row transition
  views/backend/admin/src/assets/scss/_transitions.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use correct option for automatic export
  src/Hooks/AutomaticOrderExportHooks.php
Owners: @myparcelnl/integration

fix: ensure numeric values at physical properties
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(modal): fix modal actions
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

fix(admin): update components
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

feat: add bulk actions
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/hooks/onCreateStore.ts
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: simplify modal
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

feat: prepend order note with text from settings
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore: ignore generated tsconfig files
  .gitignore
Owners: @myparcelnl/integration

refactor: clean up config
  config/pdk.php
Owners: @myparcelnl/integration

fix(request): update guzzle adapter
  src/Pdk/Guzzle7ClientAdapter.php
Owners: @myparcelnl/integration

fix: set physical properties on pdkorder
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

style: remove concatenation
  src/Pdk/Plugin/Service/WcDeliveryOptionsService.php
Owners: @myparcelnl/integration

fix(admin): update button style
  views/backend/admin/src/components/pdk/WcButton.vue
Owners: @myparcelnl/frontend

refactor: move constants to pdk config
  src/Admin/MessageLogger.php
  src/Admin/MessagesRepository.php
  src/Facade/Messages.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: update product settings
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

refactor: change enum properties to pascal case
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

feat(admin): add text area and code editor component
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat(settings): improve settings views
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

refactor(core): rename MultiCheckboxInput and MultiRadioInput
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/pdk/WcCheckboxGroup.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: fix imports
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

refactor: clean up render service
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
