Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix(checkout): correct blocks checkout separate address field namespace prefix
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(address): trim separate address field values before use
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

fix(address): update stale fullStreet comment
  src/Adapter/WcAddressAdapter.php
Owners: @myparcelnl/integration

fix(address): send street and number as separate fields for NL/BE orders
  src/Adapter/WcAddressAdapter.php
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_separate_address_fields__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): use separate meta fields even when address_1 is set
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_separate_address_fields_with_address_1_set__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_separate_address_fields_with_address_1_set__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_separate_address_fields_with_address_1_set__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): split address_1 into street and number for NL/BE orders
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): send street and number as separate fields for NL/BE orders (#1644)
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_separate_address_fields_with_address_1_set__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_separate_address_fields_with_address_1_set__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_separate_address_fields_with_address_1_set__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent and correct autofill of full address into street name field
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent and correct autofill of full address into street name field (#1674)
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: declare HPOS (custom_order_tables) compatibility
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: declare HPOS (custom_order_tables) compatibility (#1672)
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: stop grouping npm deps by dep name
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): pin build prefix for dependency update PRs
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: align volta and corepack yarn versions
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(dependabot): set open pull requests limit to 20
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add admin banner announcing MyParcel for WooCommerce 6.0
  includes/admin/MessagesRepository.php
  includes/admin/UpgradeBanner.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(v4): save delivery options when account is created during checkout
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

test: cover the business/consumer flag reaching the PDK from a WooCommerce cart
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

build(deps): bump pdk to 4.5.0 and admin packages to 2.1.0
  composer.json
  composer.lock
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): show the right delivery options for business and consumer orders (#1675)
  composer.json
  composer.lock
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: send width, height and length during export
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: send width, height and length during export
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: send width, height and length during export
  composer.lock
Owners: @myparcelnl/integration

feat: update js-pdk
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: send width, height and length during export (#1770)
  composer.json
  composer.lock
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: log only once per request
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix: display order grid normally when carrier is unavailable on order
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

test: add test
  src/Pdk/Hooks/PdkOrderListHooks.php
  tests/Unit/Pdk/Hooks/PdkOrderListHooksTest.php
Owners: @myparcelnl/integration

fix(v4): save delivery options when account is created during checkout (#1763)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: display order grid normally when carrier is unavailable on order (#1765)
  src/Pdk/Hooks/PdkOrderListHooks.php
  tests/Unit/Pdk/Hooks/PdkOrderListHooksTest.php
Owners: @myparcelnl/integration

fix: preserve settings on deactivation
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: narrow settings restore
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
Owners: @myparcelnl/integration

Restore carrier settings
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/WordPressOptions.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

revert: "fix(settings): preserve settings on deactivation" (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address-widget): pin yarn to 4.17.1 so the build runs
  views/frontend/checkout-address-widget/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address-widget): pin yarn to 4.17.1 so the build runs (#1773)
  views/frontend/checkout-address-widget/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1750)
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): bind formChange to every checkout form for Divi 5
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): restore getForm() non-null return contract + fallback test
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend
