Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

chore: update js-pdk for small package insurance fix
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update js-pdk for small package insurance fix
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update js-pdk for small package insurance fix (#1516)
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: reword troubleshooting text
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for plugin loading errors (#1368)
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix analyse
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: implement feedback Freek
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix: fix tests
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix: fix tests
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: disable do if shipping class none
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

feat: add migration for settings
  src/Migration/Migration6_0_0.php
Owners: @myparcelnl/integration

fix: circular reference in propositionService
  config/pdk.php
Owners: @myparcelnl/integration

fix: implement feedback
  config/pdk.php
  src/Migration/Migration6_0_0.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(proposition): get the proposition from the PropositionService directly
  config/pdk.php
Owners: @myparcelnl/integration

fix: remove hardcoded prefixes from form fields
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  src/Service/WpInstallerService.php
  src/Service/WpScriptService.php
  src/functions.php
  tests/Mock/WoocommerceUtilities.php
  tests/Mock/WordPressOptions.php
  tests/Mock/WordPressPlugins.php
  tests/Unit/BootTest.php
  tests/Unit/EntryTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/Unit/Pdk/Hooks/PdkWebhookHooksTest.php
  tests/Uses/UseInstantiatePlugin.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

test: update tests for PDK changes
  src/Hooks/TrackTraceHooks.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_BE_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_EU_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_ROW_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_all_shipment_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_delivery_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_notes__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_simple_order__1.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct propositionService call
  config/pdk.php
Owners: @myparcelnl/integration

fix: update snapshots for parcel lockers (#1484)
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: remove platform-specific build rules
  pdk.config.js
Owners: @myparcelnl/frontend

ci: prepare for myparcelnl/actions v5 and app-builder v2
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(app-builder): remove upgrade commands not included with pdk-builder v2
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: bump app-builder
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: bump pdk packages to latest versions
  package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update tests and snapshots for trunkrs (#1495)
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: generate a zip in semantic-release rather than in the pdk-builder
  release.config.cjs
Owners: @myparcelnl/integration

fix: fix missing direct dependency on `myparcelnl/sdk`and fix issues relating to its indirect upgrade
  composer.json
  composer.lock
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  tests/Factory/AbstractWpFactory.php
  tests/Mock/MockWpRestServer.php
  tests/Mock/MocksGettersAndSetters.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/factories/WP_Term_Factory.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update tests for PDK changes
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Service/WpScriptService.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): update `myparcel/pdk` to v3.0.0
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots with upstream changes
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update test expectations
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  src/Service/WpInstallerService.php
  src/Service/WpScriptService.php
  src/functions.php
  tests/Mock/WoocommerceUtilities.php
  tests/Mock/WordPressOptions.php
  tests/Mock/WordPressPlugins.php
  tests/Unit/BootTest.php
  tests/Unit/EntryTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/Unit/Pdk/Hooks/PdkWebhookHooksTest.php
  tests/Uses/UseInstantiatePlugin.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct propositionService call
  config/pdk.php
Owners: @myparcelnl/integration

fix(proposition): get the proposition from the PropositionService directly
  config/pdk.php
Owners: @myparcelnl/integration

feat: add migration for settings
  src/Migration/Migration6_0_0.php
Owners: @myparcelnl/integration
