Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(deps): upgrade myparcelnl/pdk to v2.14.0
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(product): support variation product settings (#996)
  composer.lock
  config/pdk.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
  src/Pdk/Service/WcViewService.php
  tests/Mock/MockWcProductVariation.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/WcDescription.vue
  views/backend/admin/src/components/WcHelpTip.vue
  views/backend/admin/src/components/pdk/WcChildProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/composables/index.ts
  views/backend/admin/src/composables/useElementData.ts
  views/backend/admin/src/initialize.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): make the boxes and modals match wordpress better
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): make the boxes and modals match wordpress better (#1001)
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): use cron service
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Mock/WordPressOptions.php
  tests/Mock/WordPressScheduledTasks.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Service/WpCronServiceTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

refactor(migration): use cron service (#1002)
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Mock/WordPressOptions.php
  tests/Mock/WordPressScheduledTasks.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Service/WpCronServiceTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

fix: prefix bulk actions with MyParcel
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix: do not confirm delivery for virtual orders
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: do not confirm delivery for virtual orders (#987)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix(customs): conform to minimum item value of api
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

fix: prefix bulk actions with "MyParcel" (#999)
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix(admin): make button groups responsive
  views/backend/admin/src/components/pdk/WcButtonGroup.vue
Owners: @myparcelnl/frontend

fix(customs): conform to minimum item value of api (#991)
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

chore: disable invalid inspection
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor(orders): remove label description logic from order repository
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_SKU__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_billing_address_BE__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_billing_address_BE__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address_BE__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: increase coverage
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcDateTime.php
  tests/Mock/MockWcProduct.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(orders): remove parameter name override
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore: add upgrade scripts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(orders): fix type error when country is missing
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

build: prepare for beta release
  .github/ISSUE_TEMPLATE/ZZ-BUG-REPORT-v5.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  private/semantic-release/header-beta.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: do not run prettier on html files
  package.json
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_BE_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_EU_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_ROW_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_all_shipment_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_delivery_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_notes__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_simple_order__1.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): add missing animations
  views/backend/admin/src/assets/scss/_transitions.scss
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: add tests for track trace hooks
  tests/Datasets/orders.php
  tests/Mock/MockWcClass.php
  tests/Mock/MockWpMeta.php
  tests/Pest.php
  tests/Unit/Hooks/TrackTraceHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_BE_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_EU_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_ROW_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_all_shipment_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_delivery_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_notes__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_simple_order__1.html
  tests/functions.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(orders): do not add return barcodes to order notes (#998)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(translations): migrate to pdk builder translation logic
  package.json
  pdk.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): do not include composer dev dependencies in final package
  .github/actions/install/action.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add test build
  nx.json
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix undefined index warning
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

test(admin): add better test ids
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/WcTriStateInput.vue
Owners: @myparcelnl/frontend

feat(account): show delivery options in account
  src/Facade/WordPress.php
  src/Hooks/TrackTraceHooks.php
  src/Service/WordPressService.php
Owners: @myparcelnl/integration

fix(migration): improve order migration
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressService.php
  tests/Datasets/meta.php
  tests/Mock/MockWpMeta.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): improve accessibility
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.vue
Owners: @myparcelnl/frontend

build(deps): fix error in eslint
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: disable plugin peacefully when prerequisites are not met
  config/pdk.php
  src/Logger/WcLogger.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(migration): improve migrations
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Service/WpCronService.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWcClass.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/mock_class_map.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): migrate shipments to proper address fields
  src/Migration/Pdk/OrdersMigration.php
Owners: @myparcelnl/integration

chore(deps): fix tests failing
  nx.json
  package.json
  views/frontend/checkout-core/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix backend test step
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend
