Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

test: update snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: add tests for pdk order repository
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_SKU__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(orders): fix some errors when creating orders
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

style: fix code style issues
  src/Migration/Migration5_0_0.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

build: add build step to checkout-core package
  views/frontend/checkout-core/package.json
  views/frontend/checkout-core/vite.config.ts
  views/frontend/checkout-core/vitest.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: enable js sourcemaps in dev mode
  views/vite-config/index.cjs
Owners: @myparcelnl/integration

fix(settings): fix correct shipping methods not showing up
  src/Pdk/Plugin/WcShippingMethodRepository.php
Owners: @myparcelnl/integration

fix(migration): improve shipping methods migration
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(checkout): fix third party shipping methods not working with delivery options
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix cutoff time translation
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

fix(settings): prevent array to string conversion notice
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

fix(migration): fix allow pickup locations setting not being migrated
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(admin): fix label description notice in order grid
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(migration): improve pdk migrations
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(checkout): fix javascript error on order received page
  src/Pdk/Service/WcViewService.php
Owners: @myparcelnl/integration

fix(checkout): fix delivery options not being saved to order
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  src/Pdk/Hooks/PdkPlaceOrderHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

feat(deps): update myparcelnl/pdk from 2.4.1 to 2.5.2
  composer.lock
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_SKU__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(admin): update test labels in components
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcButtonGroup.vue
  views/backend/admin/src/components/pdk/WcCheckboxGroup.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcImage.vue
  views/backend/admin/src/components/pdk/WcLoader.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcRow.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

chore(deps): update @myparcel-pdk/admin
  yarn.lock
Owners: @myparcelnl/integration

fix(admin): fix disabled and readonly logic on all inputs
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

feat(deps): update myparcelnl/pdk to v2.6.2
  composer.lock
Owners: @myparcelnl/integration

fix(plugin): fix plugin being deactivated on upgrade
  pdk.config.cjs
  private/updateVersion.cjs
  release.config.cjs
  tests/Uses/UsesMockWcPdkInstance.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build(gha): fix prune-releases step
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix error on submitting order
  composer.lock
Owners: @myparcelnl/integration

fix(product): fix product settings not working
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

build(release): increase pdk-builder verbosity
  release.config.cjs
Owners: @myparcelnl/integration

fix(migration): fix inverted product settings search query
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): fix product settings migration failing
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_SKU__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_vat_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_vat_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(requests): send correct user agent to myparcel api
  config/pdk.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(components): improve components
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/WcTriStateInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/integration

feat(admin): use native pdk product settings view
  config/pdk.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/WcTriStateInput.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: replace deprecated properties
  config/pdk.php
  src/Factory/WcAddressAdapter.php
  src/Migration/Pdk/OrdersMigration.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor(gha): remove unused code
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove unused file
  private/updateVersion.cjs
Owners: @myparcelnl/integration

fix: fix error when sending mail for pre orders
  includes/frontend/class-wcmp-frontend.php
Owners: @myparcelnl/integration

chore(pdk): update pdk config
  pdk.config.cjs
Owners: @myparcelnl/integration

feat: support woocommerce hpos
  config/pdk.php
  src/Contract/WcFeatureServiceInterface.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WcFeatureService.php
  tests/Mock/MockWcClass.php
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend
