Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix(hooks): fix error on getting pdk frontend routes
  src/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

feat(admin): improve radio component
  views/backend/admin/src/components/pdk/WcRadioInput.vue
Owners: @myparcelnl/frontend

build(semantic-release): update paths to assets
  release.config.cjs
Owners: @myparcelnl/integration

feat: retrieve shipping methods
  src/Pdk/Plugin/WcShippingMethodRepository.php
Owners: @myparcelnl/integration

refactor(admin): replace imports
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

docs: remove readme
  views/backend/admin/README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

refactor: update product migration
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat(plugin): add links to plugin meta
  src/Hooks/PluginInfoHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(admin): add multi select input
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(admin): update form group
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: show notices through all_admin_notices hook
  src/Pdk/Hooks/PdkCoreHooks.php
Owners: @myparcelnl/integration

fix(migration): improve migration logic
  .gitignore
  composer.json
  phpunit.xml
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Migrator.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Pest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(admin): make select2 component work properly
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/integration

feat(checkout): sync tax fields wip
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

feat: add eori and vat fields for europlus
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

build(gha): only keep 1 alpha release
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): add semantic-release dev dependency
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update svn upload step
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update svn upload step
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): correct keys for webhook settings
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(admin): fix rendering on elements with undefined as ref value
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

refactor: move migration logic to pdk
  config/pdk.php
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Contract/MigrationInterface.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Migrator.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

style: remove extra commas
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
Owners: @myparcelnl/integration

wip: tax fields
  src/Hooks/TaxFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-tax-fields/fields/index.ts
  views/frontend/checkout-tax-fields/package.json
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/showHideTaxFields.ts
  views/frontend/checkout-tax-fields/tsconfig.build.json
  views/frontend/common/src/address/usesAddressType.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): add tax fields
  views/frontend/checkout-tax-fields/fields/fields.ts
  views/frontend/checkout-tax-fields/fields/index.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/vite.config.ts
Owners: @myparcelnl/frontend

feat(checkout): add tax fields
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

Changes by joerivanveen
  views/frontend/checkout-tax-fields/fields/fields.ts
Owners: @myparcelnl/frontend

wip: tax fields
  src/Service/WcRecipientService.php
  views/frontend/checkout-delivery-options/src/listeners/onDeliveryOptionsUpdate.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/countries.ts
  views/frontend/checkout-tax-fields/src/utils/showHideTaxFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add eori and vat fields for europlus
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

feat(checkout): sync tax fields wip
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

feat(checkout): sync tax fields wip
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
Owners: @myparcelnl/frontend

feat: add eori and vat fields for dhl europlus
  views/frontend/checkout-delivery-options/src/listeners/onDeliveryOptionsUpdate.ts
Owners: @myparcelnl/frontend

wip: pr feedback
  views/frontend/checkout-tax-fields/src/data/fields.ts
  views/frontend/checkout-tax-fields/src/main.ts
Owners: @myparcelnl/frontend

fix: load scripts for tax number fields
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

wip: pr feedback
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Service/WcRecipientService.php
  src/Service/WpScriptService.php
  views/frontend/checkout-tax-fields/package.json
  views/frontend/checkout-tax-fields/src/data/index.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/countries.ts
  views/frontend/checkout-tax-fields/src/utils/hasTaxFields.ts
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/keepTaxFieldsInSync.ts
  views/frontend/checkout-tax-fields/src/utils/showHideTaxFields.ts
  views/frontend/checkout-tax-fields/src/utils/toggleTaxFields.ts
  views/frontend/common/src/address/usesAddressType.ts
  views/frontend/common/src/types.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add dhleuroplus and dhlparcelconnect
  config/pdk.php
Owners: @myparcelnl/integration

fix(request): update guzzle adapter
  src/Pdk/Guzzle7ClientAdapter.php
Owners: @myparcelnl/integration

refactor: move constants to pdk config
  src/Admin/MessageLogger.php
  src/Admin/MessagesRepository.php
  src/Facade/Messages.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

refactor: normalize interfaces
  config/pdk.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/CartFeesHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/Contract/WordPressHooksInterface.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Hooks/ScheduledMigrationHooks.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Contract/MigrationInterface.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Guzzle7ClientAdapter.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkPlaceOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Plugin/Service/WcStatusService.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcTaxService.php
  src/Service/WordPressHookService.php
  src/Service/WpCronService.php
Owners: @myparcelnl/integration
