Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

refactor: implement pr feedback
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test: add testcase for no allowed shipping methods
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

build: add upgrade:dev command
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add build:dev and build:test commands
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: always run composer ignoring php exts/libs
  docker-compose.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(admin): add download logs action
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
Owners: @myparcelnl/integration

ci: improve pdk setup
  .github/workflows/analyse.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: also upload test results to codecov
  .github/workflows/test.yml
  .gitignore
  nx.json
  views/vite-config/index.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: import translations before running backend tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: do not use .tmp folder for test results
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: fix sed commands
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update test flow
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(admin): add download logs action
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
Owners: @myparcelnl/integration

build: improve developer experience for wp typescript stuff
  .eslintignore
  .eslintrc.cjs
  .gitignore
  .prettierignore
  config/pdk/translations/.gitignore
  nx.json
  package.json
  private/updateTypes.sh
  private/wc-types/.gitignore
  tsconfig.base.json
  tsconfig.json
  tsconfig.react.json
  tsconfig.vue.json
  views/backend/admin/tsconfig.build.json
  views/backend/tsconfig.build.json
  views/backend/tsconfig.json
  views/blocks/delivery-options/block.json
  views/blocks/delivery-options/package.json
  views/blocks/delivery-options/src/edit.tsx
  views/blocks/delivery-options/src/frontend.tsx
  views/blocks/delivery-options/src/index.tsx
  views/blocks/delivery-options/src/save.tsx
  views/blocks/delivery-options/src/stubs.d.ts
  views/blocks/delivery-options/src/types.ts
  views/blocks/delivery-options/src/window.ts
  views/blocks/tsconfig.build.json
  views/blocks/tsconfig.json
  views/frontend/checkout-core/tsconfig.build.json
  views/frontend/checkout-delivery-options/tsconfig.build.json
  views/frontend/checkout-separate-address-fields/tsconfig.build.json
  views/frontend/checkout-tax-fields/tsconfig.build.json
  views/frontend/common/tsconfig.build.json
  views/frontend/tsconfig.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: separate address fields in blocks checkout
  .eslintrc.cjs
  package.json
  src/Hooks/BlocksIntegrationHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Integration/AbstractBlocksIntegration.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Integration/SeparateAddressFieldsBlocksIntegration.php
  src/Integration/WcBlocksLoader.php
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/Unit/EntryTest.php
  tsconfig.react.json
  views/backend/tsconfig.json
  views/blocks/delivery-options/src/constants.ts
  views/blocks/delivery-options/src/frontend.tsx
  views/blocks/delivery-options/src/utils/getDeliveryOptionsData.ts
  views/blocks/tsconfig.json
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/utils/useCartStore.ts
  views/frontend/checkout-separate-address-fields/assets/scss/index.scss
  views/separate-address-fields/.gitignore
  views/separate-address-fields/block.json
  views/separate-address-fields/package.json
  views/separate-address-fields/src/edit.tsx
  views/separate-address-fields/src/frontend.tsx
  views/separate-address-fields/src/index.tsx
  views/separate-address-fields/webpack.config.js
  views/vite-config/index.js
  views/webpack-config/index.d.ts
  views/webpack-config/index.js
  views/webpack-config/package.json
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(cronservice): reduce scheduled event fail rate
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

build: improve blocks further
  .eslintrc.cjs
  package.json
  tsconfig.react.json
  views/backend/tsconfig.json
  views/blocks/delivery-options/block.json
  views/blocks/delivery-options/package.json
  views/blocks/delivery-options/src/index.tsx
  views/blocks/delivery-options/webpack.config.js
  views/blocks/tsconfig.json
  views/webpack-config/index.d.ts
  views/webpack-config/index.js
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: use inline source map in vite dev mode
  views/vite-config/index.js
Owners: @myparcelnl/frontend

refactor: improve blocks loading
  src/Hooks/BlocksIntegrationHooks.php
  src/Integration/AbstractBlocksIntegration.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Integration/WcBlocksLoader.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/EntryTest.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build: update prettier config
  .prettierignore
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: apply prettier code style
  .github/ISSUE_TEMPLATE/COMPATIBILITY-REQUEST.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  composer.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  views/frontend/checkout-delivery-options/assets/scss/_autofill-hack.scss
  wpm-config.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update test results
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

feat(admin): add download logs action
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
Owners: @myparcelnl/integration

fix(cronservice): reduce scheduled event fail rate
  src/Service/WpCronService.php
  tests/Unit/Service/WpCronServiceTest.php
Owners: @myparcelnl/integration

fix(cronservice): reduce scheduled event fail rate
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

chore: yeet obsolete code
  views/separate-address-fields/.gitignore
  views/separate-address-fields/block.json
  views/separate-address-fields/package.json
  views/separate-address-fields/src/edit.tsx
  views/separate-address-fields/src/frontend.tsx
  views/separate-address-fields/src/index.tsx
  views/separate-address-fields/webpack.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: separate address fields in blocks checkout
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Integration/SeparateAddressFieldsBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/Unit/EntryTest.php
  views/blocks/delivery-options/src/constants.ts
  views/blocks/delivery-options/src/frontend.tsx
  views/blocks/delivery-options/src/utils/getDeliveryOptionsData.ts
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/utils/useCartStore.ts
  views/frontend/checkout-separate-address-fields/assets/scss/index.scss
  views/separate-address-fields/.gitignore
  views/separate-address-fields/block.json
  views/separate-address-fields/package.json
  views/separate-address-fields/src/edit.tsx
  views/separate-address-fields/src/frontend.tsx
  views/separate-address-fields/src/index.tsx
  views/separate-address-fields/webpack.config.js
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: fix after merge
  src/Pdk/WcPdkBootstrapper.php
  src/PluginLoader.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: fix wrong return type
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

fix(cronservice): prevent webhook callback never being executed
  src/Service/WpCronService.php
  tests/Datasets/callbacks.php
  tests/Mock/MockCallableClass.php
  tests/Unit/Service/WpCronServiceTest.php
Owners: @myparcelnl/integration

fix(cronservice): prevent webhook callback never being executed
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

chore: prepare for v5.0.0 release
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/ZZ-BUG-REPORT-v5.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  README.md
  private/semantic-release/header-alpha.md
  private/semantic-release/header-beta.md
  release.config.cjs
  src/Migration/Migration5_0_0_beta_9.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Migration/Migration5_0_0_beta_9Test.php
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(deps): upgrade @myparcel-pdk/app-builder to v1.4.7
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.45.0
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

test: fix tests after pdk update
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: remove obsolete pr template
  .github/pull_request_template.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: fix code style
  pdk.config.js
Owners: @myparcelnl/frontend

ci: run upgrade before other steps to speed up workflows
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
