Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(deps): update @myparcel/delivery-options to 5.7.4 (#982)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix missing translations
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(build): fix plugin not being seen as new version of 4.x
  pdk.config.cjs
  yarn.lock
Owners: @myparcelnl/integration

fix(migration): fix existing settings
  src/Migration/Pdk/SettingsMigration.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): transform existing carrier settings
  src/Migration/Pdk/SettingsMigration.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): have weightservice work with all units
  src/Migration/Pdk/SettingsMigration.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

fix(migration): migrate existing settings
  config/pdk.php
  src/Migration/Pdk/SettingsMigration.php
  src/Service/WpInstallerService.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

fix(migration): run the 5.0.0 migration for pre release versions
  src/Migration/Pdk/AbstractPdkMigration.php
Owners: @myparcelnl/integration

fix(migration): wip
  src/Migration/Pdk/SettingsMigration.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): wip
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

refactor: move webhook string to config
  src/Pdk/Hooks/PdkWebhookHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

refactor: update frontend projects
  package.json
  views/backend/admin/package.json
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/vite.config.ts
  views/frontend/checkout-core/package.json
  views/frontend/checkout-core/vitest.config.ts
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/package.json
  views/vite-config/index.cjs
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update gitignore
  .gitignore
Owners: @myparcelnl/integration

fix: return dynamic application version in migration
  src/Migration/Pdk/AbstractPdkMigration.php
Owners: @myparcelnl/integration

build: update docker files
  .run/All tests.run.xml
  .run/Template Pest.run.xml
  Dockerfile
  docker-compose.yml
  private/entrypoint.sh
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): improve settings migration
  composer.lock
  config/pdk.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Service/WcWeightService.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWcPdkBootstrapper.php
  tests/Pest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix watch scripts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): disable automatic release on alpha
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update build flow
  .github/actions/build/action.yml
  .github/actions/install/action.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: move legacy installed version logic out of config
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WpInstallerService.php
Owners: @myparcelnl/integration

chore(deps): update @myparcel-pdk dependencies
  yarn.lock
Owners: @myparcelnl/integration

fix: fix changes in settings and account not being updated correctly
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

perf: reduce amount of checks for account
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

feat(deps): update myparcelnl/pdk to from 2.3.0 to 2.4.1
  composer.lock
Owners: @myparcelnl/integration

feat(deps): update @myparcel-pdk/admin
  yarn.lock
Owners: @myparcelnl/integration

refactor(admin): update tab nav button component
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
Owners: @myparcelnl/frontend

fix(admin): use the correct versions of js dependencies
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

refactor: rename entry file and class
  myparcelnl-woocommerce.php
  pdk.config.cjs
  private/updateVersion.cjs
  release.config.cjs
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

build: update build flow
  .github/actions/build/action.yml
  private/bash/createDistFolder.sh
  private/gulp/createCleanTask.cjs
  private/gulp/createUpdateComposerTask.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix action ref
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: do not show product settings in custom fields
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

fix: use correct amounts
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat: add invoice fields
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: set label description on order
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: update account settings after migration
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

fix: prevent array to string conversion warning
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

fix: do not show product settings in custom fields
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

fix: fill settings that didnt't exist before migration
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(checkout): prevent orders without incomplete address
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
