Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: add listener for option changes
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: add listener for option changes (#1401)
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix(address-widget): correct type assertion
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix(address-widget): fix address widget when only one shipping country is allowed
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

feat: added new component for multi date select
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(address-widget): fix address widget with only one allowed country (#1402)
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat(admin): add a new shipment method selector
  package.json
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update contributors and versions
  readme.txt
Owners: @myparcelnl/integration

feat: add migration for settings
  src/Migration/Migration6_0_0.php
Owners: @myparcelnl/integration

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

docs: update contributors and versions (#1408)
  readme.txt
Owners: @myparcelnl/integration

feat: refactored multiDates into multiDate
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat: refactored multiDates into multiDate
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat: added new component for multi date select
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat: increment to new pdk version
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: fix composer.lock
  composer.lock
Owners: @myparcelnl/integration

feat: update package.json
  views/backend/admin/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add lock
  yarn.lock
Owners: @myparcelnl/integration

feat: fix lock
  yarn.lock
Owners: @myparcelnl/integration

feat(woocommerce): add option to list closed days for shop (#1421)
  composer.json
  composer.lock
  views/backend/admin/package.json
  views/backend/admin/src/initialize.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add clarification for this solution
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/frontend

refactor: remove unused import
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/frontend

fix: hide separate address fields for country null
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
  views/frontend/checkout-core/src/utils/index.ts
Owners: @myparcelnl/frontend

fix: blocks checkout fix
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: add blocks checkout
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
Owners: @myparcelnl/frontend

fix: hide separate address fields for country null (#1423)
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/hideSeparateFields.ts
  views/frontend/checkout-core/src/utils/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix tests
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update to 1.11.2 js-pdk
  views/backend/admin/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update to 1.11.2 js-pdk
  yarn.lock
Owners: @myparcelnl/integration

feat: add acceptance api switch (#1429)
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix the delivery options not showing up in the admin
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix the delivery options not showing up in the admin (#1476)
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
