Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): add github app args to pdk prerelease steps
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): upgrade @myparcel-pdk/app-builder to v1.2.1
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.39.2
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

build(gha): skip backend tests if cache is hit
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: migrate old shipping classes
  config/pdk.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  src/WooCommerce/Contract/WcShippingRepositoryInterface.php
  src/WooCommerce/Repository/WcShippingRepository.php
Owners: @myparcelnl/integration

fix(admin): fix button dropdowns not expanding correctly
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

fix(admin): fix button dropdowns not expanding correctly (#1129)
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

fix: add default value for delivery options position filter
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

build(nx): update nx config
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update node version
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: increase pdk log verbosity
  release.config.cjs
Owners: @myparcelnl/integration

build: use yarn via volta
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: add debug statement
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: remove debug statement
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): add workflow to create build with specific pdk versions
  .github/workflows/build-with-version.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): add workflow to create build with specific pdk versions
  .github/workflows/build-custom.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: name plugin conforming to wordpress guidelines
  private/semantic-release/header-beta.md
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: name plugin conforming to wordpress guidelines (#1128)
  private/semantic-release/header-beta.md
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): switch to source files rather than source hash
  .github/workflows/build-custom.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: replace string that looks like a real secret with other string
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: move frontend build step to pdk config
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  pdk.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): only rebase if checks pass
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): restore fetch-depth argument
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add prettierignore
  .prettierignore
Owners: @myparcelnl/integration

chore(deps): update composer dependencies
  composer.lock
Owners: @myparcelnl/integration

ci: try out arm runners
  .github/workflows/analyse.yml
  .github/workflows/build-custom.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): simplify release flow
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: add debug step
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: remove obsolete checkout steps
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: remove debug step
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update pdk cache file inputs
  .github/workflows/build-custom.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): upgrade @myparcel-pdk/app-builder to v1.3.1
  yarn.lock
Owners: @myparcelnl/integration

ci: change coverage files globs
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: use unique keys for frontend and backend caches
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: switch to myparcelnl coverage action
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: migrate old shipping classes
  config/pdk.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  src/WooCommerce/Contract/WcShippingRepositoryInterface.php
  src/WooCommerce/Repository/WcShippingRepository.php
Owners: @myparcelnl/integration

wip: use shipping classes in shipping method logic
  config/pdk.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  src/Repository/WcShippingMethodRepository.php
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/types.ts
  views/frontend/checkout-core/src/utils/getShippingRate.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/useCartStore.ts
  views/frontend/checkout-delivery-options/src/endpoints/fetchHighestShippingClass.ts
  views/frontend/checkout-delivery-options/src/endpoints/index.ts
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-delivery-options/src/utils/getHighestShippingClass.ts
  views/frontend/checkout-delivery-options/src/utils/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update cart and scripthook tests
  tests/Mock/MockWcCart.php
  tests/Mock/MockWpEnqueue.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

style: change formatting
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
