Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

Notes removed by 'git notes remove'
  366316cfae85b3369a89e70d88b6938b4839ff11
Owners: @myparcelnl/integration

Notes removed by 'git notes remove'
  fa29d61a16269bdf2769820a3609dd3f7cf25e59
Owners: @myparcelnl/integration

Notes removed by 'git notes remove'
  0f9d046b43a8e1541e407eab407e1f5b5dc8dc8a
Owners: @myparcelnl/integration

Notes removed by 'git notes remove'
  b0a1eb5259e0a110961ff7672387a7a13a54da5f
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  fa29d61a16269bdf2769820a3609dd3f7cf25e59
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  366316cfae85b3369a89e70d88b6938b4839ff11
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  b0a1eb5259e0a110961ff7672387a7a13a54da5f
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  0f9d046b43a8e1541e407eab407e1f5b5dc8dc8a
Owners: @myparcelnl/integration

feat: add track trace to account
  src/Hooks/CheckoutHooks.php
  src/Hooks/TrackTraceHooks.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: only read shipping class term when available
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: track trace link in email not working
  src/Hooks/TrackTraceHooks.php
Owners: @myparcelnl/integration

fix: track trace link in email not working
  src/Hooks/TrackTraceHooks.php
Owners: @myparcelnl/integration

fix: migrate product settings in chunks by wp-cron
  src/Migration/Pdk/ProductSettingsMigration.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix product settings view
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: product settings work again wip
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: use has separate address fields (wip)
  src/Hooks/CheckoutHooks.php
  views/frontend/checkout-delivery-options/src/getHighestShippingClass.ts
  views/frontend/checkout-delivery-options/src/synchronizeAddress.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: avoid use of pluck for tracktraces
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: avoid use of pluck for tracktraces
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

wip
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Service/WcRecipientService.php
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcOrderCardShipmentsWrapper.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update pdk order repo
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore(deps): update dependencies round 2
  yarn.lock
Owners: @myparcelnl/integration

fix: automatic export mode according to settings
  src/Hooks/CheckoutHooks.php
Owners: @myparcelnl/integration

feat: tristate option for product settings
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: save settings as group instead of individually
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

wip
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

fix: use update_post_meta and get_post_meta
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  package.json
  views/frontend/checkout-delivery-options/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fall back to empty array when no existing shipments
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor: pdk settings migration
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

refactor: pdk settings migration
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

refactor: pdk settings migration
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

test: add data test attributes
  views/backend/admin/src/components/WcSpinner.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcImage.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

test: update test ids
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

feat: merge shipment options (wip)
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: change customsdeclaration items to indexed array
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: improve buttons
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
Owners: @myparcelnl/frontend

chore(deps): update typescript
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix prop errors
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcRow.ts
Owners: @myparcelnl/frontend

fix: normalize repository interfaces
  config/pdk.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration
