Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: remove warning about missing const
  src/Pdk/Boot.php
Owners: @myparcelnl/integration

wip: schedule order migrations
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

wip: product settings
  config/pdk.php
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Service/WcStatusService.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Service/WcWeightService.php
Owners: @myparcelnl/integration

fix: fix ugly order settings
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

feat: add migration for settings
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

feat: add migration for settings
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

refactor: settings migration separately
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix: fix order settings not being saved
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  views/backend/admin/src/components/pdk/WcCard.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix appearance of form inputs and selects
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: pdk migrations separately
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/OrdersMigration.php
Owners: @myparcelnl/integration

fix: use woocommerce logger for migration logs
  src/Migration/Pdk/OrdersMigration.php
Owners: @myparcelnl/integration

fix: allow export row shipment
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: allow export row shipment with prices
  composer.json
  composer.lock
  package.json
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add billing address to PdkOrder
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat: print and update
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcOrderCardShipmentsWrapper.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/components/pdk/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add icons!!!
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/index.ts
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
Owners: @myparcelnl/frontend

fix: allow correct customs declaration when products are deleted or virtual
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore: remove superseded todos
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/class-wcmypa-admin.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

fix: move plugin data to dedicated spot in Pdk::getAppInfo
  src/Hooks/CheckoutHooks.php
  src/Hooks/RestApiHooks.php
  src/Logger/WcLogger.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Service/ScriptService.php
Owners: @myparcelnl/integration

fix: remove noisy log statement
  src/Pdk/Hooks/PdkCoreHooks.php
Owners: @myparcelnl/integration

docs: update contributing.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update gulpfile
  gulpfile.ts
Owners: @myparcelnl/frontend

fix: normalize having toStorableArray method
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat: improve components
  views/backend/admin/src/components/WcSpinner.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCol.ts
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcIcon.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcOrderCardShipmentsWrapper.vue
  views/backend/admin/src/components/pdk/WcRow.ts
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.ts
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/index.ts
  views/backend/admin/src/utils/pdkIconToDashIcon.ts
Owners: @myparcelnl/frontend

build: yeet annoying eslint rules
  views/backend/admin/.eslintrc.cjs
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: quick fix for absent wp nonce
  src/Hooks/RestApiHooks.php
Owners: @myparcelnl/integration

fix: update settings
  config/pdk.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Service/WcViewService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: prevent type error in flat rate evaluate cost
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: prevent type error in flat rate evaluate cost
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: store product settings
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

feat: add automatic order export
  src/Hooks/CheckoutHooks.php
Owners: @myparcelnl/integration

feat: add track trace to order notes
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: migrate only to newer versions than current
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Migrator.php
Owners: @myparcelnl/integration

build(gha): update myparcelnl actions to v3
  .github/workflows/--rebase-prs.yml
  .github/workflows/--release.yml
  .github/workflows/dispatch-command.yml
  .github/workflows/push.yml
  .github/workflows/rebase.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): only upload composer artifact when needed
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): rebase develop on push to main
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): run semantic release when needed
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: refactor product store function
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

fix: allow order migration through wp-cron
  src/Migration/Pdk/OrdersMigration.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
