Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: fix numeric number suffix not working in checkout
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix(admin): update button style
  views/backend/admin/src/components/pdk/WcButton.vue
Owners: @myparcelnl/frontend

refactor: change enum properties to pascal case
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/utils/createDashIcon.ts
  views/frontend/checkout-delivery-options/package.json
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: dont send number suffix with delivery options api call
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: dont send number suffix with delivery options api call (#960)
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: render settings page
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

refactor: normalize interfaces
  config/pdk.php
  src/Hooks/AutomaticOrderExportHooks.php
  src/Hooks/CartFeesHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/Contract/WordPressHooksInterface.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Hooks/ScheduledMigrationHooks.php
  src/Hooks/TrackTraceHooks.php
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Contract/MigrationInterface.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Guzzle7ClientAdapter.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkPlaceOrderHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/Plugin/Service/WcStatusService.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/WcTaxService.php
  src/Service/WordPressHookService.php
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix: fix naming error in bulk actions order mode
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: prevent javascript errors on order-pay
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

refactor: simplify modal
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

fix: wrap pdk admin init in window.onload
  views/backend/admin/src/initialize.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

chore: ignore generated tsconfig files
  .gitignore
Owners: @myparcelnl/integration

chore(admin): turn off inspection
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(admin): improve select inputs
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: disable selectwoo for now because it won't work
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: save shipment even when updated is not null
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: increase order list column width
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent javascript errors on order-pay (#961)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix(admin): add more css utilities
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(request): update guzzle adapter
  src/Pdk/Guzzle7ClientAdapter.php
Owners: @myparcelnl/integration

fix(admin): change shipment label row transition
  views/backend/admin/src/assets/scss/_transitions.scss
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow delivery options with partial address
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: add comment explanation
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: add comment explanation
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: allow delivery options with partial address (#963)
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: fix absent version in svn release script
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update tested up to to 6.2
  readme.txt
Owners: @myparcelnl/integration

fix: set physical properties on pdkorder
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

feat: prepend order note with text from settings
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: use correct option for automatic export
  src/Hooks/AutomaticOrderExportHooks.php
Owners: @myparcelnl/integration

fix: ensure numeric values at physical properties
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

wip: add separate address fields
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  views/frontend/checkout-delivery-options/assets/scss/_checkout.scss
  views/frontend/checkout-delivery-options/assets/scss/index.scss
  views/frontend/checkout-delivery-options/src/delivery-options/getDeliveryOptionsAddress.ts
  views/frontend/checkout-delivery-options/src/helpers/addAddressFieldListeners.ts
  views/frontend/checkout-delivery-options/src/helpers/index.ts
  views/frontend/checkout-delivery-options/src/helpers/setHouseNumber.ts
  views/frontend/checkout-split-address-fields/assets/scss/_autofill-hack.scss
  views/frontend/checkout-split-address-fields/assets/scss/_checkout.scss
  views/frontend/checkout-split-address-fields/assets/scss/index.scss
  views/frontend/checkout-split-address-fields/src/address/fillAddressFields.ts
  views/frontend/checkout-split-address-fields/src/address/getAddressParts.ts
  views/frontend/checkout-split-address-fields/src/address/index.ts
  views/frontend/checkout-split-address-fields/src/address/splitAddress.ts
  views/frontend/checkout-split-address-fields/src/data/fields.ts
  views/frontend/checkout-split-address-fields/src/main.ts
  views/frontend/checkout-split-address-fields/src/utils/index.ts
  views/frontend/checkout-split-address-fields/src/utils/setAddress.ts
  views/frontend/checkout-split-address-fields/src/utils/splitFields.ts
  views/frontend/checkout-split-address-fields/src/utils/synchronizeAddress.ts
  views/frontend/common/src/address/fillSplitAddressFields.ts
  views/frontend/common/src/address/getAddressParts.ts
  views/frontend/common/src/address/getHouseNumber.ts
  views/frontend/common/src/address/index.ts
  views/frontend/common/src/address/setFieldValue.ts
  views/frontend/common/src/data/fields.ts
  views/frontend/common/src/data/index.ts
  views/frontend/common/src/store/createStore.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: WcTextArea
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: WcTextArea
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: fix absent version in svn release script (#964)
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update tested up to to 6.2 (#965)
  readme.txt
Owners: @myparcelnl/integration

refactor: WcTextInput to WcCodeEditor
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
Owners: @myparcelnl/frontend

refactor: WcTextInput to WcCodeEditor
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: only show inputs in checkout when applicable
  composer.lock
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
