Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix: allow settings to render
  config/pdk.php
  src/Pdk/Plugin/Service/WooCommerceOrderStatusService.php
Owners: @myparcelnl/integration

chore(release): 4.16.1 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  94e7e25043bf223d03620831d17e9213bac1ec24
Owners: @myparcelnl/integration

fix: work with shipping method ids that are integer
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

feat: add pdk rest endpoint
  src/Pdk/Plugin/Action/WcEndpointActions.php
  src/Pdk/Service/RestApiHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix wrong references to vue components
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

fix: fix several type errors
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-shipping-methods.php
  includes/collections/settings-collection.php
Owners: @myparcelnl/integration

fix: fix several type errors (#939)
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmp-shipping-methods.php
  includes/collections/settings-collection.php
Owners: @myparcelnl/integration

chore(release): 4.16.2 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  94aec28df700fff317d6029d55ef78b088b7c09a
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: prevent passing null to datetime (#940)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

chore(release): 4.16.3 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  2d857c81e9ac4f6c2ee1a5a1c7c5e1faa8762b57
Owners: @myparcelnl/integration

fix: convert product dimensions to measurement unit
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: convert product dimensions from measurement unit (#941)
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

chore(release): 4.16.4 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  ac6093d614d16c82b5e177abfeecfe1aa530ef57
Owners: @myparcelnl/integration

feat: save settings
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

fix: render order card properly
  src/Pdk/Service/AdminPdkHookService.php
Owners: @myparcelnl/integration

feat: animate woocommerce toggle
  views/backend/admin/package.json
  views/backend/admin/src/assets/scss/_toggle.scss
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcCol.ts
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcRow.ts
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/index.ts
  views/backend/admin/src/jQuery.d.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: refactor
  src/Pdk/Service/RestApiHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore(deps): update lockfile
  yarn.lock
Owners: @myparcelnl/integration

wip: watch better by edie
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prefix options with underscore
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

wip: action button
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  ae36a5ce315c96f05d6879bd294a0176d82ee926
Owners: @myparcelnl/integration

build: always release develop as rc
  .github/workflows/--rebase-prs.yml
  .github/workflows/--release.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add workflow_dispatch trigger to release workflows
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add names to jobs
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent undefined array keys (#933)
  includes/adapter/RecipientFromWCOrder.php
  includes/admin/class-wcmypa-admin.php
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

chore(release): 4.16.5-develop.1 [skip ci]
  CHANGELOG.md
  composer.json
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 4.16.5-rc.1 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  71287200860ae1eecb34a6a8fbae5530a400ad5f
Owners: @myparcelnl/integration

wip: vue components
  views/backend/admin/src/components/pdk/WcButtonGroup.ts
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

fix: remove address not found model
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

wip: vue components
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/components/pdk/WcTableRow.vue
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

fi: remove customizable string for address not found
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration
