Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

test: update snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

build: update pdk config
  pdk.config.js
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: fix myparcelbe version not working
  .eslintrc.cjs
  .github/actions/build/action.yml
  .github/workflows/analyse.yml
  .gitignore
  .idea/myparcelnl-woocommerce.iml
  .idea/php.xml
  pdk.config.js
  phpstan.neon.dist
  scoper.inc.php
  scoper.vendor.inc.php
  src/Pdk/WcPdkBootstrapper.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.28.6
  composer.lock
Owners: @myparcelnl/integration

build(gha): increase fetch-depth in push flow
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: upgrade to yarn 4
  .github/workflows/test.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): debug
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): set user in docker actions
  .github/actions/release/action.yml
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): change docker run flags
  .github/actions/release/action.yml
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): remove upterm step
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/release/action.yml
  .github/workflows/analyse.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: reduce verbosity
  .github/actions/release/action.yml
  release.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix docker permissions (#1051)
  .github/actions/release/action.yml
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  release.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix push workflow
  .github/actions/release/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(permissions): check all user roles
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(test): implement feedback
  tests/Mock/MockWpUser.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(permissions): check all user roles
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(permissions): check all user roles
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/EntryTest__it_proceeds_if_prerequisites_are_met__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_unrecognized_state__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): increase fetch-depth in push flow
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: fix snapshot formatting
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix myparcelbe version not working
  .eslintrc.cjs
  .github/actions/build/action.yml
  .github/workflows/analyse.yml
  .gitignore
  .idea/myparcelnl-woocommerce.iml
  .idea/php.xml
  pdk.config.js
  phpstan.neon.dist
  scoper.inc.php
  scoper.vendor.inc.php
  src/Pdk/WcPdkBootstrapper.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: upgrade to yarn 4
  .github/workflows/test.yml
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update pdk config
  pdk.config.js
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix(permissions): check all user roles (#1048)
  src/Pdk/WcPdkBootstrapper.php
  tests/Mock/MockWpUser.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

build(gha): fix docker permissions (#1051)
  .github/actions/release/action.yml
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  release.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix push workflow
  .github/actions/release/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: update to latest pdk version
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): upgrade @myparcel-pdk/app-builder to 1.0.0-alpha.62
  yarn.lock
Owners: @myparcelnl/integration

chore: update ide files
  .idea/myparcelnl-woocommerce.iml
  .idea/php.xml
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.30.2
  composer.lock
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: phpstan error
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

fix(orders): always return items array from WcOrderRepository (#1055)
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

fix(cronservice): make callable usable
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix(cronservice): make callable usable
  src/Service/WpCronService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration
