Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(admin): fix display of actions on the orders page (#1810)
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): enforce required validation of separate address fields
  src/Hooks/SeparateAddressFieldsHooks.php
  tests/Unit/Hooks/SeparateAddressFieldsHooksTest.php
Owners: @myparcelnl/integration

fix(checkout): enforce required validation of separate address fields (#1808)
  src/Hooks/SeparateAddressFieldsHooks.php
  tests/Unit/Hooks/SeparateAddressFieldsHooksTest.php
Owners: @myparcelnl/integration

fix(migration): restore lost account data
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  src/Migration/2026_09_03_130123_restore_account_data.php
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrationDiscoveryTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
  tests/Unit/Migration/RestoreAccountDataMigrationTest.php
Owners: @myparcelnl/integration

fix(migrations): restore lost account data (#1815)
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  src/Migration/2026_09_03_130123_restore_account_data.php
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrationDiscoveryTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
  tests/Unit/Migration/RestoreAccountDataMigrationTest.php
Owners: @myparcelnl/integration

ci(release): replace the release-notes-generator fork with upstream
  package.json
  private/semantic-release/header-develop.md
  release.config.cjs
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(release): replace the release-notes-generator fork with upstream (#1814)
  package.json
  private/semantic-release/header-develop.md
  release.config.cjs
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): remove the duplication between the two no tracking passes
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

feat(settings): convert stored carrier tracking settings to no tracking
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

fix(migration): convert products and orders whatever the carrier settings hold
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): skip a record that cannot be converted instead of dropping its chunk
  src/Migration/NoTrackingChunkMigrator.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
Owners: @myparcelnl/integration

fix(migration): convert tracking choices on shops upgrading from v6
  src/Migration/2026_08_04_110000_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

refactor(migration): resolve the no tracking keys once per chunk
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

test: hardcode test expectation migration id
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix: attempt to migrate products and orders even if no settings are present
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

fix(carrier): report a failed carrier refresh instead of throwing
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(settings): report a failed conversion instead of throwing
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(carrier): refresh carrier data so the no tracking option appears
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix: gracefully handle account fetch failures
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
Owners: @myparcelnl/integration

feat(orders): convert the tracking option on existing orders and shipments
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(migration): name the migration ids the way prestashop does
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

test(migration): cover the account refresh failing on its own
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(settings): convert stored product tracking settings to no tracking
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: optimize wc product loading
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

fix(migrations): run the upgrade after woocommerce registers its entities
  tests/Mock/MockWpActions.php
  tests/Unit/BootTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(migration): cover every stored shape and drop a cross-file constant
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(migrations): convert the tracking option stored on product variations
  src/Migration/2026_08_04_110000_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
Owners: @myparcelnl/integration

fix(migrations): convert records in a pass that resumes after a failure
  src/Migration/2026_08_04_110000_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Service/WpCronService.php
  tests/Mock/MockQueries.php
  tests/Mock/MockWpError.php
  tests/Mock/WordPressScheduledTasks.php
  tests/Pest.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/Unit/Service/WpCronServiceTest.php
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(migration): make legacy order meta migration work on non-HPOS shops
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/Unit/Migration/MigrateV4OrderShipmentsMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(migration): move order meta left behind under the pre-6.0.0 namespace
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  tests/Mock/MockWcClass.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): convert order shipments left behind by a 4.x plugin
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateV4OrderShipmentsMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): resolve numeric carrier ids and page through legacy order meta
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/2026_09_03_101600_migrate_v4_order_shipments.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(migration): bound the run by scanned pages and skip unsupported carriers
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

refactor(migration): flatten carrier normalisation and simplify the empty check
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
Owners: @myparcelnl/integration

style: apply a one-time eslint --fix pass
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  vitest.workspace.ts
Owners: @myparcelnl/frontend

chore(eslint): extend the installed @myparcel-dev config packages
  .eslintrc.cjs
  .github/dependabot.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): reuse legacy carrier parser
  src/Migration/2026_09_03_101500_migrate_legacy_order_meta.php
  src/Migration/Migration6_5_1.php
  tests/Unit/Migration/MigrateLegacyOrderMetaMigrationTest.php
Owners: @myparcelnl/integration

chore(eslint): extend the installed @myparcel-dev config packages (#1817)
  .eslintrc.cjs
  .github/dependabot.yml
  package.json
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: gracefully handle account fetch failures
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
Owners: @myparcelnl/integration

refactor(migration): remove the duplication between the two no tracking passes
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
