Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(address): fix address input initializing as an empty object rather than an actual empty value
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: emit event when address changes to empty
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix(checkout): fix empty address on export when country changed during checkout
  src/Adapter/WcAddressAdapter.php
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): fix missing address when using address widget (#1320)
  src/Adapter/WcAddressAdapter.php
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix conflicting class names in autoload
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow woocommerce emails by not throwing invalid argument exception
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: fix conflicting class names in autoload
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix conflicting class names in autoload (#1343)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow woocommerce emails by not throwing invalid argument exception
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: allow woocommerce emails by not throwing invalid argument exception (#1344)
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

ci(dependabot): recurse into 'views' directory for dependabot updates
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: remove platform-specific build rules
  pdk.config.js
Owners: @myparcelnl/frontend

ci: prepare for myparcelnl/actions v5 and app-builder v2
  .github/workflows/analyse.yml
  .github/workflows/build-custom.yml
  .github/workflows/pull-request-completed.yml
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: replace window.onload with event listener for initialization
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

fix: correct Dutch translations for street, vat, and eori fields
  config/pdk/translations/nl.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/WcPdkBootstrapper.php
  src/functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: improve javascript compatibility with other plugins (#1369)
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

test: update test snapshots to include small package price
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(woocommerce): add VAT and EORI fields to blocks checkout
  src/Hooks/TaxFieldsHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

Apply suggestion from @Copilot
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

feat: implement comment Joeri
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

feat: update codecov
  tests/Unit/Hooks/TaxFieldsHooksTest.php
Owners: @myparcelnl/integration

feat: add new line EOF
  tests/Unit/Hooks/TaxFieldsHooksTest.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  src/Service/WpInstallerService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat(woocommerce): add VAT and EORI fields to blocks checkout (#1374)
  src/Hooks/TaxFieldsHooks.php
  src/Service/WordPressHookService.php
  tests/Unit/Hooks/TaxFieldsHooksTest.php
Owners: @myparcelnl/integration

docs: add troubleshooting tip for random plugin loading errors
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  config/pdk.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  tests/Unit/EntryTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/Unit/Pdk/Hooks/PdkWebhookHooksTest.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat!: get some config values at runtime based on api key
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/WcPdkBootstrapper.php
  src/functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  src/Service/WpInstallerService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WpScriptService.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Uses/UseInstantiatePlugin.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  tests/Mock/WoocommerceUtilities.php
  tests/Unit/EntryTest.php
Owners: @myparcelnl/integration

fix(woocommerce): prevent shipping label creation for pickup orders
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

wip
  tests/Mock/WordPressPlugins.php
  tests/Unit/EntryTest.php
  tests/Uses/UseInstantiatePlugin.php
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

change some code notes
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

test(snapshots): add pickup locations view setting in snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Resolve feedback Joeri
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

change some code notes
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(woocommerce): prevent shipping label creation for pickup orders
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(woocommerce): prevent shipping label creation for pickup orders (#1387)
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
