Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): update workflows
  .github/actions/build/action.yml
  .github/actions/release/action.yml
  .github/actions/setup/action.yml
  .github/workflows/analyse.yml
  .github/workflows/merge-group.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update gitignore
  .gitignore
Owners: @myparcelnl/integration

build(gha): fix getting outdated pdk in vendor
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: update to latest delivery options (#1085)
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WpScriptService.php
  views/backend/admin/vite.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update ide files
  .idea/runConfigurations/All_tests.xml
  .run/All tests.run.xml
Owners: @myparcelnl/integration

build(gha): also rebase dependabot prs
  .github/workflows/rebase-prs.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update run name for pdk update trigger
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): add dynamic name to pull request artifacts flow
  .github/workflows/pull-request-completed.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.36.1
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_BE_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_EU_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_ROW_order__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_all_shipment_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_delivery_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_notes__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_simple_order__1.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(compatibility): restore compatibility with wooc table rate
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

fix(compatibility): restore compatibility with wooc table rate
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

fix(compatibility): restore compatibility with wooc table rate (#1090)
  includes/admin/settings/class-wcmp-shipping-methods.php
Owners: @myparcelnl/integration

fix(checkout): fix myparcel div not found
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix(checkout): fix myparcel div not found (#1091)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

chore(deps): update php-stubs/woocommerce-stubs
  composer.lock
Owners: @myparcelnl/integration

fix(checkout): have delivery options show in classic checkout with new wooc versions
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

test
  src/Hooks/CheckoutScriptHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

feat/add-legacy-delivery-options-meta
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_default__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix codacy feedback
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_carrier__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

test: pdk 2.36.3
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): have delivery options show in classic checkout (#1094)
  src/Hooks/CheckoutScriptHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.36.3
  composer.lock
Owners: @myparcelnl/integration

chore: update upgrade command
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update happy-dom
  views/backend/admin/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update contributing guidelines
  CONTRIBUTING.md
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: HPOS incompatibility warning
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(admin): fix dropoff input not showing
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

refactor: HPOS incompatibility warning
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

Update woocommerce-myparcel.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(admin): fix dropoff input not showing (#1110)
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
Owners: @myparcelnl/frontend

test: remove snapshot test
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_carrier__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_shipment_options__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_date__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix codacy feedback
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_carrier__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
