Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix(migrations): fix database migrations not running automatically on existing installations
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: add receipt code for WooCommerce v4 (#1261)
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
Owners: @myparcelnl/integration

test(snapshots): update wordpress hook snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): update myparcelnl/pdk to v2.52.1
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(pdk): add snapshots for pdk direct printing support
  CONTRIBUTING.md
  composer.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migrations): fix an issue where db migrations would not automatically run for already active plugin installations (#1256)
  CONTRIBUTING.md
  composer.json
  composer.lock
  src/Migration/Migration5_3_2.php
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(pdk-admin): add heading component to test mapping
  views/backend/admin/src/components/pdk/components.spec.ts
Owners: @myparcelnl/frontend

wip: implement address-widget BETA
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/package.json
  views/frontend/address-widget/package.tgz
  views/frontend/address-widget/src/main.ts
  views/frontend/address-widget/style.css
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent negative fees with free shipping
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

fix: prevent negative fees with free shipping
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

feat: allow different addresses for shipping and billing and correctly respond to selected countries
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/README.md
  views/frontend/address-widget/package.tgz
  views/frontend/address-widget/src/main.ts
  views/frontend/checkout-address-widget/README.md
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/main.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  views/frontend/checkout-address-widget/tsconfig.build.json
  views/frontend/checkout-address-widget/vite.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: store json object with address into form field
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: prevent negative fees
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

feat(checkout): add an optional myparcel address input widget to the checkout
  composer.json
  composer.lock
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/README.md
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/main.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  views/frontend/checkout-address-widget/tsconfig.build.json
  views/frontend/checkout-address-widget/vite.config.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-core/src/utils/createName.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/isClassicCheckout.ts
  views/frontend/common/src/index.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/isClassicCheckout.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/index.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: prevent negative fees with free shipping (#1289)
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

feat(checkout): add an optional myparcel address input widget to the checkout
  composer.json
  composer.lock
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/README.md
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/main.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  views/frontend/checkout-address-widget/tsconfig.build.json
  views/frontend/checkout-address-widget/vite.config.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-core/src/utils/createName.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/isClassicCheckout.ts
  views/frontend/common/src/index.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/isClassicCheckout.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/index.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: Update snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: Implement address proxy
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

WIP
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/Contract/WooCommerceInitHookInterface.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/src/utils/blocks.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: send address data to API
  src/Adapter/WcAddressAdapter.php
  src/Hooks/AddressWidgetHooks.php
Owners: @myparcelnl/integration

feat(address): only load the address widget if enabled in settings
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

Update PdkAddressEndpointHooks.php
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
Owners: @myparcelnl/integration

feat:
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

feat:
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

feat:
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
Owners: @myparcelnl/integration

feat:
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
Owners: @myparcelnl/integration

feat:
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
Owners: @myparcelnl/integration

feat: remove unused constant
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
Owners: @myparcelnl/integration

Update snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(address): only load the address widget if enabled in settings
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

feat(checkout): add an optional myparcel address input widget to the checkout
  composer.json
  composer.lock
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/README.md
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/main.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  views/frontend/checkout-address-widget/tsconfig.build.json
  views/frontend/checkout-address-widget/vite.config.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-core/src/utils/createName.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/isClassicCheckout.ts
  views/frontend/common/src/index.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/isClassicCheckout.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/index.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: send address data to API
  src/Adapter/WcAddressAdapter.php
  src/Hooks/AddressWidgetHooks.php
Owners: @myparcelnl/integration

feat: Implement address proxy (#1292)
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
  src/Service/WordPressHookService.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: use the correct proxy endpoint uri
  views/frontend/checkout-address-widget/src/utils/init.ts
Owners: @myparcelnl/frontend

feat: prefill address if supplied
  composer.json
  composer.lock
  src/Hooks/CheckoutScriptHooks.php
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): update dependencies for address widget
  views/frontend/checkout-address-widget/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: warn when appIdentifier is not correct
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

wip: remove redundant address endpoint registrations
  composer.json
  composer.lock
  src/Pdk/Hooks/PdkAddressEndpointHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/src/utils/init.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: pass api proxy and language to widget
  views/frontend/checkout-address-widget/src/utils/init.ts
Owners: @myparcelnl/frontend
