Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

Update_manual
  .DS_Store
  language/nl_NL.html
  media/WooCommerceBE_Adresvelden.png
  media/WooCommerceBE_AlternatieveAdresvelden.png
  media/WooCommerceBE_AutoExport.png
  media/WooCommerceBE_BackorderOpties.png
  media/WooCommerceBE_DPDAfhaalopties.png
  media/WooCommerceBE_PostNLBezorgopties.png
  media/WooCommerceBE_PostNLExportInstellingen.png
  media/WooCommerceBE_PrijzenTonen.png
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: extra large package from weight option
  includes/admin/OrderSettings.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
Owners: @myparcelnl/integration

fix: large format with other weight type
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

My 29976 weight feature for extra large package (#715)
  includes/admin/OrderSettings.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
Owners: @myparcelnl/integration

Fix-images
  .DS_Store
  language/nl_NL.html
  media/WooCommerceBE_AlgemeneInstellingen.png
  media/WooCommerceBE_BPostAfhaalopties.png
  media/WooCommerceBE_BPostBezorgopties.png
  media/WooCommerceBE_BPostStandaardexportinstellingen.png
  media/WooCommerceBE_Bestellingenoverzicht.png
  media/WooCommerceBE_BezorgoptiesInschakelen.png
  media/WooCommerceBE_Exporteren.png
  media/WooCommerceBE_PostNLAfhaalopties53.png
  media/WooCommerceBE_Retour.png
  media/WooCommerceBE_StandaardExportinstellingen.png
  media/WooCommerceBE_WeergaveOphaallocaties.png
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: open old orders where the data getExtraOptionsFromOrder is still a string
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

core: update version to 4.6.0 and update changelog
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: create return label
  includes/admin/class-wcmp-export.php
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

refactor: get return options from settings
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor: deliveryTitle must be null instead of string
  composer.lock
Owners: @myparcelnl/integration

Revert "refactor: deliveryTitle must be null instead of string"
  composer.lock
Owners: @myparcelnl/integration

refactor: turn of the options retour in the box
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

refactor: use Yoda notation
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor: process feedback
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor: process feedback
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

My 30158 label in the box (#717)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: no notice when weight missing in order
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

build: prepare for release
  composer.json
  composer.lock
  gulpfile.js
  languages/woocommerce-myparcel-en_GB.po
  languages/woocommerce-myparcel-en_US.po
  languages/woocommerce-myparcel-fr_BE.po
  languages/woocommerce-myparcel-fr_FR.po
  languages/woocommerce-myparcel-nl_BE.po
  languages/woocommerce-myparcel-nl_NL.po
  languages/woocommerce-myparcel.pot
  package-lock.json
  package.json
  private/downloadFile.js
  private/downloadTranslations.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: no notice when weight missing in order (#721)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

build: minor improvements
  gulpfile.js
  package-lock.json
  package.json
  private/createGettextFiles.js
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: fix user agent not being sent to myparcel
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: autoloading
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: autoloading (#722)
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: always show Number of labels field and check if multicollo is possible before exporting
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix(redjepakketje): always display redjepakketje before other carriers in delivery options
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: remove an empty delivery date in label description
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

fix: remove timestamp
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

fix: re-add alternate delivery days settings
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

add better translations and help texts
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

fix setting name casing
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

fix: no notice when weight missing in order (#721)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

build: minor improvements (#714)
  gulpfile.js
  package-lock.json
  package.json
  private/createGettextFiles.js
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore: update to 4.7.0
  languages/woocommerce-myparcel-en_GB.po
  languages/woocommerce-myparcel-en_US.po
  languages/woocommerce-myparcel-fr_BE.po
  languages/woocommerce-myparcel-fr_FR.po
  languages/woocommerce-myparcel-nl_BE.po
  languages/woocommerce-myparcel-nl_NL.po
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update myparcelnl/sdk to v6.0.0-beta.6
  composer.json
  composer.lock
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix nonexistent delivery date in label description (#725)
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

fix: no notice when weight missing in order (#721)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

build: minor improvements (#714)
  gulpfile.js
  package-lock.json
  package.json
  private/createGettextFiles.js
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore: update myparcelnl/sdk to v6.0.0-beta.6
  composer.json
  composer.lock
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update to 4.7.0
  languages/woocommerce-myparcel-en_GB.po
  languages/woocommerce-myparcel-en_US.po
  languages/woocommerce-myparcel-fr_BE.po
  languages/woocommerce-myparcel-fr_FR.po
  languages/woocommerce-myparcel-nl_BE.po
  languages/woocommerce-myparcel-nl_NL.po
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix nonexistent delivery date in label description (#725)
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
