Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.25.2
  composer.lock
Owners: @myparcelnl/integration

build(gha): remove push trigger from release flow
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(vite): add vitest to external deps
  views/backend/admin/vite.config.ts
Owners: @myparcelnl/frontend

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

chore(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

fix(migration): feedback when accountsettings not fetched
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

fix(migration): prevent api key from disappearing
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/SettingsMigration.php
  src/Service/WpInstallerService.php
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

fix: implement feedback
  src/Migration/Migration5_0_0.php
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Service/WpInstallerService.php
Owners: @myparcelnl/integration

test: add test
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

build(release): add beta to release branches
  release.config.cjs
Owners: @myparcelnl/integration

fix(migration): alow shipping method without colon
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): allow shipping method without colon (#1024)
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): prevent loosing current version on uninstall
  src/Service/WpInstallerService.php
Owners: @myparcelnl/integration

fix(migration): prevent removing current version on uninstall (#1022)
  src/Service/WpInstallerService.php
Owners: @myparcelnl/integration

test: add test
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

fix(migration): finish migration even when api key is faulty
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

fix: implement feedback
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

fix: implement feedback
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

fix: implement feedback
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

fix(migration): finish migration even when api key is faulty (#1023)
  src/Migration/Migration5_0_0.php
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

build(gha): add workflow_dispatch to push flow
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): add if to rebase-prs job
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: use local delivery options build
  src/Service/WpScriptService.php
  tmp/myparcel.lib.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update node dependencies
  yarn.lock
Owners: @myparcelnl/integration

build(gha): remove prune-releases job
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

fix(orders): use order_number instead of order_id
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: fix js pdk imports
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
Owners: @myparcelnl/frontend

fix: fix ts imports (#1030)
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
Owners: @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.26.0
  composer.lock
Owners: @myparcelnl/integration

feat: add order number
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add order number
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor: rename order property
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

Revert "feat: add order number"
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
Owners: @myparcelnl/frontend
