Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix: allow empty country in checkout
  composer.lock
  src/Hooks/CheckoutScriptHooks.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Service/WcFrontendRenderService.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: allow empty country in checkout
  tests/Mock/MockThrowingContextService.php
  tests/Unit/Pdk/Service/WcFrontendRenderServiceTest.php
Owners: @myparcelnl/integration

chore: restore composer.lock
  composer.lock
Owners: @myparcelnl/integration

fix: fix an error while the country was empty in checkout (#1800)
  src/Hooks/CheckoutScriptHooks.php
  src/Integration/DeliveryOptionsBlocksIntegration.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Service/WcFrontendRenderService.php
  tests/Mock/MockThrowingContextService.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/Unit/Pdk/Service/WcFrontendRenderServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: preserve settings on deactivation
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: narrow settings restore
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
Owners: @myparcelnl/integration

Restore carrier settings
  src/Migration/Migration6_0_0.php
  src/Service/WpInstallerService.php
  src/Service/WpOptionNamespaceService.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpOptionsDatabase.php
  tests/Mock/WordPressOptions.php
  tests/Unit/Service/WpOptionNamespaceServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

feat(address): allow filtering of address fields through wcAddressFields filter
  src/Adapter/WcAddressAdapter.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

test(adapter): ensure filters are removed after usage in WcAddressAdapterTest
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

feat(tests): add support for mocking remove_filter function
  tests/Mock/MockWpActions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

build(deps): require pdk ^4.7.3
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(settings): preserve settings on deactivation (#1772)
  composer.json
  composer.lock
  config/pdk.php
  src/Migration/2026_08_04_101714_restore_v6_options.php
  src/Service/WpInstallerService.php
  tests/Mock/MockWpdb.php
  tests/Mock/WordPressOptions.php
  tests/Unit/EntryTest.php
  tests/Unit/Migration/RestoreV6OptionsTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/mock_wp_functions.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(migration): scan the plugin for timestamped migrations
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/MigrationDiscoveryTest.php
Owners: @myparcelnl/integration

build(deps): require the pdk and js-pdk releases with flat insurance limits
  composer.json
  composer.lock
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(insurance): refresh stored carrier data to stop using deprecated insurance amounts (#1748)
  composer.json
  composer.lock
  config/pdk.php
  package.json
  src/Migration/2026_07_29_092726_refresh_carrier_capabilities.php
  tests/Unit/Migration/MigrationDiscoveryTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesMigrationTest.php
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): resolve the no tracking keys once per chunk
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

fix: attempt to migrate products and orders even if no settings are present
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

refactor(migration): remove the duplication between the two no tracking passes
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
Owners: @myparcelnl/integration

fix(carrier): report a failed carrier refresh instead of throwing
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(settings): report a failed conversion instead of throwing
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(orders): convert the tracking option on existing orders and shipments
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: optimize wc product loading
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
Owners: @myparcelnl/integration

feat(carrier): refresh carrier data so the no tracking option appears
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

test(migration): name the migration ids the way prestashop does
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): skip a record that cannot be converted instead of dropping its chunk
  src/Migration/NoTrackingChunkMigrator.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
Owners: @myparcelnl/integration

test(migration): cover every stored shape and drop a cross-file constant
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(migration): convert products and orders whatever the carrier settings hold
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(settings): convert stored carrier tracking settings to no tracking
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

fix(migration): convert tracking choices on shops upgrading from v6
  src/Migration/2026_08_04_110000_invert_tracked_to_no_tracking.php
  tests/Unit/Migration/InvertTrackedToNoTrackingMigrationTest.php
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

feat(settings): convert stored product tracking settings to no tracking
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/2026_07_30_153531_invert_tracked_to_no_tracking.php
  src/Migration/NoTrackingChunkMigrator.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Migration/NoTrackingChunkMigratorTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: gracefully handle account fetch failures
  src/Migration/2026_08_04_132333_refresh_carrier_capabilities_for_no_tracking.php
Owners: @myparcelnl/integration

test: hardcode test expectation migration id
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

test(migration): cover the account refresh failing on its own
  tests/Unit/Migration/RefreshCarrierCapabilitiesForNoTrackingMigrationTest.php
Owners: @myparcelnl/integration

fix(checkout): preserve unique hidden form fields
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

refactor(checkout): simplify visibility checks
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): preserve unique hidden form fields (#1807)
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(admin): fix action buttons for exported shipments being partially hidden on the orders-page
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
Owners: @myparcelnl/frontend

fix(admin): fix the order action dropdown/arrow icon not being fully visible on orders with a barcode displayed
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): improve the display of the shipment options on the order page
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): preserve required and hidden flags on separate address fields
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration
