Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

refactor: feedback
  includes/admin/settings/SameDayDeliveryService.php
Owners: @myparcelnl/integration

fix: multiple return labels for label in the box
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: add standard delivery price to sameday fee when surchage should be shown
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: add standard delivery price to sameday fee when surchage should be shown
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

feat: add settings for same day delivery
  includes/admin/OrderSettings.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: fix fatal error in 4.1.0 migration
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: multiple return labels for label in the box (#808)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: testing feedback
  includes/admin/OrderSettings.php
  includes/admin/settings/CarrierSettings.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-cart-fees.php
Owners: @myparcelnl/integration

fix: feedback
  includes/frontend/class-wcmp-cart-fees.php
Owners: @myparcelnl/integration

feat: add settings for same day delivery (#810)
  includes/admin/OrderSettings.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: fix fatal error in 4.1.0 migration (#811)
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: the weight calculations must be multiplied
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add settings for same day delivery (#810)
  includes/admin/OrderSettings.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: fix fatal error in 4.1.0 migration (#811)
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: multiple return labels for label in the box (#808)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

chore: update to v4.10.0
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): messages handling
  includes/admin/class-wcmp-export.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): messages handling
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix(export): unhappy path first
  src/js/wcmp-admin.js
Owners: @myparcelnl/frontend

Squashed commit of the following:
  CHANGELOG.md
  composer.json
  composer.lock
  includes/class-wcmp-postcode-fields.php
  package.json
  readme.txt
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: the weight calculations must be multiplied
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix(export): messages handling (#809)
  includes/admin/class-wcmp-export.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: disable deliverydays filter when delivery date is disabled for both carriers
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmypa-admin.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: the weight calculations must be multiplied (#814)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: syntax error on 4.1.0 migration
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

fix: syntax error on 4.1.0 migration (#817)
  migration/wcmp-upgrade-migration-v4-1-0.php
Owners: @myparcelnl/integration

refactor: hide order management option
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

refactor: hide order management option (#819)
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

feat: show message when user changes to order management
  includes/Settings/Api/AccountSettingsService.php
  includes/Settings/Listener/ExportModeSettingsListener.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

feat: show message when user changes to order management
  includes/Listener/AbstractSettingsListener.php
  includes/admin/MessagesRepository.php
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

feat: show message when user has order management enabled
  includes/Settings/Api/AccountSettingsService.php
  includes/Settings/Listener/ExportModeSettingsListener.php
Owners: @myparcelnl/integration

refactor
  includes/Settings/Api/AccountSettingsService.php
Owners: @myparcelnl/integration

feat: show message when user has order management enabled
  includes/Listener/AbstractSettingsListener.php
  includes/admin/MessagesRepository.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export-consignments.php
Owners: @myparcelnl/integration

fix
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
