Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

fix(v4): export shipment with weight (#1594)
  includes/admin/OrderSettings.php
Owners: @myparcelnl/integration

feat: sync ordergrid bulkactions with new order modes
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

Update src/Pdk/WcPdkBootstrapper.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(security): fix CVE-2026-40175 and CVE-2025-62718
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Handle shipment status by order mode
  config/pdk.php
  src/Pdk/Plugin/Service/WcShipmentStatusWebhookService.php
  src/Pdk/Webhook/WcShipmentStatusChangeWebhook.php
  tests/Unit/Pdk/Webhook/WcShipmentStatusChangeWebhookTest.php
Owners: @myparcelnl/integration

fix(security): fix CVE-2026-40175 and CVE-2025-62718 (#1603)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: add php-scoper patcher to fix php-di conflict with ActiveCampaign for WooCommerce
  scoper.vendor.inc.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: add php-scoper patcher to fix php-di conflict ActiveCampaign (#1604)
  scoper.vendor.inc.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

chore: update snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement pr agent feedback
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: adapt to next js-pdk version with proxy capabilities in enum
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
Owners: @myparcelnl/frontend

feat: expose capabilities proxy from pdk
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-delivery-options/src/utils/index.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: add test
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
Owners: @myparcelnl/frontend

feat: sync ordergrid bulkactions with new order modes (#1601)
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: expose capabilities proxy from pdk (#1600)
  composer.lock
  package.json
  scoper.vendor.inc.php
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-delivery-options/src/utils/index.ts
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(carrier): support and migrate to new carrier definitions in PDK v4
  .gitignore
  CLAUDE.md
  composer.json
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Hooks/ScheduledMigrationHooks.php
  src/Migration/Migration6_1_0.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WpInstallerService.php
  tests/Unit/Migration/Pdk/Migration6_1_0Test.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): fix incorrect pest dependencies
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: phpstan errors
  src/Hooks/TrackTraceHooks.php
  src/Migration/AbstractUpgradeMigration.php
  src/Pdk/Service/LanguageService.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

test: bootstrap tests with carrier data and update carrier-related snapshots
  CLAUDE.md
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: drive shipping-class auto-selection from capabilities + align tests with PDK v4
  src/Pdk/Context/Service/WcContextService.php
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Hooks/AutomaticOrderExportHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/Unit/Hooks/TrackTraceHooksTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_adds_necessary_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_all_shipment_options__1.html
  tests/__snapshots__/TrackTraceHooksTest__it_renders_order_details_in_account_with_data_set_order_with_saved_delivery_options__1.html
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: run test and analyse workflows for the capabilities branch
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: track PDK v4-capabilities branch tip for sibling CI
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: drop redundant pdk vcs repository, rely on Packagist
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(pdk-compat): migrate to v4-capabilities cleanup const removals
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Datasets/orders.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: drop unstable settings-migration snapshots for explicit key assertions
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(pdk-compat): remove references to PDK consts for packageTypes, deliveryTypes, shipmentOptions (#1613)
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Datasets/orders.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: re-enable shipment export when WooCommerce uses Order v2
  config/pdk.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: re-enable shipment export when WooCommerce uses Order v2 (#1617)
  config/pdk.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

docs: fix CONTRIBUTING snapshot heading and note capabilities proxy
  CLAUDE.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): require released PDK 4 and JS-PDK 2
  composer.json
  composer.lock
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): register declare_compatibility on before_woocommerce_init from constructor
  src/Hooks/BlocksIntegrationHooks.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): skip classic checkout scripts when blocks checkout is active
  src/Hooks/CheckoutScriptHooks.php
  tests/Mock/MockWcBlocksUtils.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

test: update BootTest snapshot after removing before_woocommerce_init hook
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

revert(blocks): remove over-aggressive script skip on blocks checkout
  src/Hooks/CheckoutScriptHooks.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

fix(blocks): restore stable integration name to match block.json handle
  src/Integration/AbstractBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
Owners: @myparcelnl/integration

fix(blocks): call declare_compatibility directly instead of via before_woocommerce_init
  src/Hooks/BlocksIntegrationHooks.php
Owners: @myparcelnl/integration

test: update BootTest snapshot after removing before_woocommerce_init hook
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): skip classic checkout scripts when blocks checkout is active
  src/Hooks/CheckoutScriptHooks.php
  tests/Mock/MockWcBlocksUtils.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

feat(blocks): rename delivery-options block namespace from myparcelnl to myparcelcom
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
  views/blocks/delivery-options/block.json
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(blocks): restore stable integration name to match block.json handle
  src/Integration/AbstractBlocksIntegration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Integration/DeliveryOptionsBlocksIntegrationTest.php
Owners: @myparcelnl/integration
