Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

style: reindent composer.json
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix issues
  src/Hooks/AbstractFieldsHooks.php
  src/PluginLoader.php
Owners: @myparcelnl/integration

fix: fix issues with classic checkout
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/OnWcBlocksLoadedHooks.php
  views/frontend/checkout-core/src/classic/getClassicCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: Make VAT and EORI fields optional for non-EU checkout
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

fix: failing tests ups new options
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: failing tests ups new options
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update tests for new UPS options in PDK (#1220)
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: Make VAT and EORI fields optional for non-EU checkout
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

fix: fix small package not showing in delivery options (#1167)
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.49.1
  composer.lock
Owners: @myparcelnl/integration

ci(release): do not update pdk dependencies by default
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: Make VAT and EORI fields optional for non-EU checkout
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

ci: allow release from v4
  .github/workflows/release.yml
  release.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add filter before consignment export
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add filter before consignment export
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: Make VAT and EORI fields optional for non-EU checkout (#1219)
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

feat: add filter before consignment export (#1222)
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add toggle for EU VAT and EORI fields in checkout settings
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

feat: add toggle for EU VAT and EORI fields in checkout settings (#1227)
  src/Hooks/TaxFieldsHooks.php
Owners: @myparcelnl/integration

docs: clarify limitations of third-party checkout limitations
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

ci: remove non working superfluous legacy action
  .github/workflows/release-legacy-v4.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: clarify limitations of third-party checkout limitations (#1231)
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

ci: remove non working superfluous legacy action (#1232)
  .github/workflows/release-legacy-v4.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: resolve errors relating to audits table
  src/Database/Contract/WpDatabaseServiceInterface.php
  src/Database/Service/WpDatabaseService.php
  src/Migration/Migration5_2_1.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.51.0
  composer.lock
Owners: @myparcelnl/integration

test(pdk): update pdk test snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test(pdk): update pdk tests to no longer work with audits
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/Plugin/Repository/WcPdkAuditRepositoryTest.php
Owners: @myparcelnl/integration

feat: add poc but testable implementation of the address-widget
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/README.md
  views/frontend/address-widget/package.json
  views/frontend/address-widget/src/main.ts
  views/frontend/address-widget/tsconfig.build.json
  views/frontend/address-widget/vite.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build: use a local gzipped package as the gh repo is private
  views/frontend/address-widget/package.json
  views/frontend/address-widget/package.tgz
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): incorrect import used
  views/frontend/address-widget/package.tgz
  views/frontend/address-widget/src/main.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: resolve errors relating to audits table (#1228)
  composer.lock
  src/Database/Contract/WpDatabaseServiceInterface.php
  src/Database/Service/WpDatabaseService.php
  src/Migration/Migration5_2_1.php
  src/Pdk/Audit/Repository/WcPdkAuditRepository.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Unit/Pdk/Plugin/Repository/WcPdkAuditRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(pdk): do not automatically upgrade pdk unless explicitly requested
  .github/workflows/analyse.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: partial address sync, properly hide address fields
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/address-widget/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: bump dependabot interval, assign reviewers, and include npm
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: group js-pdk dependabot prs together
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: bump dependabot interval, assign reviewers, and include npm
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(pdk): do not automatically upgrade pdk unless explicitly requested
  .github/workflows/analyse.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: group js-pdk dependabot prs together
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: do not upgrade pdk deps on pull request
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(pdk): do not automatically upgrade pdk unless explicitly requested (#1239)
  .github/dependabot.yml
  .github/workflows/analyse.yml
  .github/workflows/pdk-update.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend
