Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): update workflows
  .github/actions/build/action.yml
  .github/actions/setup/action.yml
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
  .github/workflows/--test.yml
  .github/workflows/dispatch-command.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): honor updates in pdk symlink for build:dev
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix install steps
  .github/actions/setup/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update node dependencies
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): change name and description of action
  .github/actions/setup/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prefix bulk actions with "MyParcel" (#999)
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

test: fix error in tests
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

refactor(migration): use cron service (#1002)
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Mock/WordPressOptions.php
  tests/Mock/WordPressScheduledTasks.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Service/WpCronServiceTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

fix: fix width of carrier settings not matching other tabs (#1000)
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

fix(admin): make button groups responsive (#1003)
  views/backend/admin/src/components/pdk/WcButtonGroup.vue
Owners: @myparcelnl/frontend

feat(product): support variation product settings (#996)
  config/pdk.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  src/Pdk/Service/WcFrontendRenderService.php
  src/Pdk/Service/WcViewService.php
  tests/Mock/MockWcProductVariation.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/WcDescription.vue
  views/backend/admin/src/components/WcHelpTip.vue
  views/backend/admin/src/components/pdk/WcChildProductSettingsFormGroup.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/composables/index.ts
  views/backend/admin/src/composables/useElementData.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): make the boxes and modals match wordpress better (#1001)
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.16.1
  composer.lock
Owners: @myparcelnl/integration

chore(deps): update dependencies
  composer.lock
  yarn.lock
Owners: @myparcelnl/integration

feat(product): support variation product settings (#996)
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix billing address 1 staying empty
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

refactor
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix empty billing address 1 (#1005)
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

refactor: replace autowire with get
  config/pdk.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

test: fix tests
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

chore(deps): upgrade myparcelnl/pdk to v2.17.0
  composer.lock
Owners: @myparcelnl/integration

test: fix pdk test files not being included
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(shipments): add barcode as order note
  config/pdk.php
  src/Pdk/Plugin/Repository/PdkOrderNoteRepository.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Mock/MockWcClass.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: replace autowire with get
  config/pdk.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  composer.lock
  yarn.lock
Owners: @myparcelnl/integration

fix(checkout): fix empty billing address 1 (#1005)
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

test: fix pdk test files not being included
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: improve tests
  composer.json
  tests/Datasets/orders.php
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcData.php
  tests/Mock/MockWcOrder.php
  tests/Mock/MockWpMeta.php
  tests/Pest.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/Unit/Hooks/TrackTraceHooksTest.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
  tests/functions.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

test: fix tests
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

chore(deps): update composer dependencies
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.17.1
  composer.lock
Owners: @myparcelnl/integration

build: add phpstan at level 5
  .github/workflows/analyse.yml
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .gitignore
  composer.json
  composer.lock
  package.json
  phpstan-baseline.php
  phpstan.neon.dist
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(phpstan): fix errors in facade phpdocs
  phpstan-baseline.php
  src/Facade/Filter.php
  src/Facade/WooCommerce.php
  src/Facade/WordPress.php
Owners: @myparcelnl/integration

test: update coverage and fix bugs
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  tests/Unit/Pdk/Plugin/Repository/WcOrderNoteRepositoryTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(shipments): add barcode as order note
  config/pdk.php
  src/Pdk/Plugin/Repository/PdkOrderNoteRepository.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/WooCommerce/Contract/WcOrderRepositoryInterface.php
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

fix: connect order note repository
  config/pdk.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
Owners: @myparcelnl/integration

refactor(phpstan): fix phpstan errors
  phpstan-baseline.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  composer.lock
  yarn.lock
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
