Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat(order): support digital stamp weight range option (#1035)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/factories/WC_Order_Factory.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): fix multiple automatic exports (#1034)
  phpstan-baseline.php
  src/Hooks/AutomaticOrderExportHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): show correct styling in settings page (#1036)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/myparcelnl-woocommerce.iml
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(orders): fix storing data in hpos (#1037)
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

test: refactor track trace test to use factories
  tests/Unit/Hooks/TrackTraceHooksTest.php
Owners: @myparcelnl/integration

test: remove constructor override from product settings hooks test
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration

fix: fix fatal error caused by wrongly prefixed file
  scoper.inc.php
Owners: @myparcelnl/integration

build: output new release version in the built files
  .github/actions/build/action.yml
  .github/actions/release/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  docker-compose.yml
  pdk.config.js
  release.config.cjs
  scoper.inc.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow shop manager to operate plugin
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: allow shop manager to operate plugin (#1028)
  CHANGELOG.md
  composer.json
  package.json
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
  src/Pdk/WcPdkBootstrapper.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): change pr version logic
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(orders): fix error when state does not match XX-XX format
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

fix(orders): fix error when state does not match XX-XX format (#1038)
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

fix: use different method for saving product settings
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

fix: feedback
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

test: add mock function
  tests/Mock/MockWcProduct.php
Owners: @myparcelnl/integration

fix: feedback
  src/Migration/AbstractMigration.php
Owners: @myparcelnl/integration

fix: feedback
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcProduct.php
Owners: @myparcelnl/integration

fix: fix products not saving on belgian platform
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix: fix products not updating
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

fix: fix saving product settings
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix(product-settings): fix updating without hpos (#1040)
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

fix: fix products not saving on belgian platform
  src/Pdk/Hooks/PdkProductSettingsHooks.php
Owners: @myparcelnl/integration

fix: fix products not saving on belgian platform
  scoper.inc.php
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.28.2
  composer.lock
Owners: @myparcelnl/integration

fix: fix products not updating
  scoper.inc.php
Owners: @myparcelnl/integration

fix: feedback
  scoper.inc.php
Owners: @myparcelnl/integration

chore: update v5 bug report form
  .github/ISSUE_TEMPLATE/ZZ-BUG-REPORT-v5.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(webhooks): use json params
  src/Hooks/Concern/UsesPdkRequestConverter.php
Owners: @myparcelnl/integration

fix: fix autoloader issue when building zip for belgie
  pdk.config.js
Owners: @myparcelnl/frontend

fix: fix autoloader issue when building zip for belgie
  pdk.config.js
Owners: @myparcelnl/frontend

fix: remove undefined var
  pdk.config.js
Owners: @myparcelnl/frontend

fix: remove if statement
  pdk.config.js
Owners: @myparcelnl/frontend

test: fix snapshot formatting
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(webhooks): use json params (#1046)
  src/Hooks/Concern/UsesPdkRequestConverter.php
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/EntryTest__it_proceeds_if_prerequisites_are_met__1.json
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_unrecognized_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_2_letter_state__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_unrecognized_state__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
