Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

test(product settings migration test): update snapshot
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): use show delivery options on backorders setting
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

test(mockwccart): change mockwccart to more accurately represent the real cart
  tests/Mock/MockWcCart.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

style: change if statement and move settings getter out of loop
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

refactor: use variable in loop
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

fix(mockwccart): change faulty check
  tests/Mock/MockWcCart.php
Owners: @myparcelnl/integration

refactor: make if statement readable
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

refactor: change to private
  tests/Mock/MockWpEnqueue.php
Owners: @myparcelnl/integration

refactor: slightly change if statement and variable names
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

wip
  src/Migration/Pdk/SettingsMigration.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(checkout): use show delivery options on backorders setting (#1136)
  src/Hooks/CheckoutScriptHooks.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWpEnqueue.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): use show delivery options on backorders setting (#1136)
  src/Hooks/CheckoutScriptHooks.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWpEnqueue.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update release config
  release.config.cjs
Owners: @myparcelnl/integration

test: improve tests
  .idea/runConfigurations/backend_admin.xml
  .idea/runConfigurations/frontend_checkout_core.xml
  .idea/runConfigurations/frontend_checkout_delivery_options.xml
  .idea/runConfigurations/frontend_checkout_separate_address_fields.xml
  .idea/runConfigurations/frontend_checkout_tax_fields.xml
  .idea/runConfigurations/frontend_common.xml
  views/backend/admin/package.json
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/pdk/components.spec.ts
  views/backend/admin/src/initialize.ts
  views/vite-config/index.js
  views/vite-config/test-setup.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: remove console.log
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

test: fix container cache clearing
  phpunit.xml
  tests/Pest.php
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: upgrade pdk before running composer tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: upgrade pdk before running frontend tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: pass app credentials to pdk upgrade action
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: do not run upgrade if there is no need to run tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): upgrade @myparcel-pdk/app-builder to v1.4.0
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.42.0
  composer.lock
Owners: @myparcelnl/integration

chore: remove version from docker-compose.yml
  docker-compose.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update workflows
  .github/workflows/build-custom.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update backend coverage logic
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update frontend coverage logic
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 5.0.0-beta.10 [skip ci]
  CHANGELOG.md
  composer.json
  package.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  49fd77d527f01a315241c1b39fc4dd3ee2f5fdcf
Owners: @myparcelnl/integration

wip
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Repository/WcShippingMethodRepository.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  src/Repository/WcShippingMethodRepository.php
Owners: @myparcelnl/integration

test: remove useless use statement
  tests/Pest.php
Owners: @myparcelnl/integration

wip: start with mock classes
  src/Pdk/Context/Service/WcContextService.php
  src/Repository/WcShippingMethodRepository.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcProduct.php
  tests/Mock/MockWcSession.php
  tests/Mock/MockWcShippingMethodClass.php
  tests/Mock/MockWcShippingZonesClass.php
  tests/Pest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration

wip: continue with mock classes
  src/Pdk/Context/Service/WcContextService.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcProduct.php
  tests/Mock/MockWcShippingMethodFlatRateClass.php
  tests/Mock/MockWcShippingZonesClass.php
  tests/Mock/MockWpTerm.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/__snapshots__/WcContextServiceTest__it_creates_the_checkout_context_for_flexible_shipping__1.json
  tests/factories/WC_Product_Factory.php
  tests/factories/WC_Shipping_Flat_Rate_Factory.php
  tests/factories/WC_Shipping_Method_Factory.php
  tests/factories/Wp_Term_Factory.php
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: remove cart from product settings migration
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_product_that_fits_in_mailbox_a_bazillion_times__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_for_mailbox_too_heavy__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_all_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_simple_product_with_some_settings__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product__1.json
  tests/__snapshots__/ProductSettingsMigrationTest__it_migrates_pre_v5.0.0_product_settings_with_data_set_variable_product_with_different_parent_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: update mock cart and retrieve wp_term
  tests/Mock/MockWcCart.php
  tests/Mock/MockWpTerm.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test: implement mock wp cache
  tests/Mock/MockWcProduct.php
  tests/Mock/MockWpCache.php
  tests/Mock/MockWpTerm.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

ci: add notification on release or push run failure
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: don't notify on failed rebase
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: add missing use statement
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
