Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(checkout): do not show address inputs when allowRetry is false (#967)
  composer.lock
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add barcode to fulfilment orders
  composer.json
  composer.lock
  includes/Webhook/Hooks/OrderStatusWebhook.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: show barcode in fulfilment order grid
  includes/Webhook/Hooks/OrderStatusWebhook.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: show barcode in fulfilment order grid
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent carrier 5 error retrieving account settings
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent carrier 5 error when retrieving account settings (#968)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: prevent passing unknown carrier id
  includes/Settings/Api/AccountSettings.php
Owners: @myparcelnl/integration

fix: subscribe status webhooks
  includes/Webhook/Service/WebhookSubscriptionService.php
Owners: @myparcelnl/integration

fix: prevent passing unknown carrier id (#969)
  includes/Settings/Api/AccountSettings.php
Owners: @myparcelnl/integration

build(gha): fix new version being passed to svn
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update contributing.md
  CONTRIBUTING.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(frontend): fix address_1 being empty with separate address fields
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

build(gulp): fix watch task
  gulpfile.js
  private/gulp/createWatchTask.js
Owners: @myparcelnl/frontend

fix: subscribe status webhooks
  includes/Webhook/Hooks/OrderStatusWebhook.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

refactor: remove unnecessary code
  includes/Webhook/Service/WebhookSubscriptionService.php
Owners: @myparcelnl/integration

feat: add barcode to fulfilment orders (#966)
  includes/Webhook/Hooks/OrderStatusWebhook.php
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/class-wcmypa-admin.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat(checkout): add tax fields
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

feat(checkout): add tax fields
  views/frontend/checkout-tax-fields/fields/fields.ts
  views/frontend/checkout-tax-fields/fields/index.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/vite.config.ts
Owners: @myparcelnl/frontend

fix(frontend): fix address_1 being empty with separate address fields (#971)
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix: default to postnl when carrier id is invalid
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: default to postnl when carrier id is invalid
  composer.lock
Owners: @myparcelnl/integration

fix: default to postnl when carrier id is invalid (#972)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add barcode to fulfilment orders (#966)
  includes/Webhook/Hooks/OrderStatusWebhook.php
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/admin/class-wcmypa-admin.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: default to postnl when carrier id is invalid (#972)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update release.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: tax fields
  src/Hooks/TaxFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-tax-fields/fields/index.ts
  views/frontend/checkout-tax-fields/package.json
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/showHideTaxFields.ts
  views/frontend/checkout-tax-fields/tsconfig.build.json
  views/frontend/common/src/address/usesAddressType.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Changes by joerivanveen
  views/frontend/checkout-tax-fields/fields/fields.ts
Owners: @myparcelnl/frontend

build(gha): use newer versions of node and php on alpha
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: enable releasing from alpha
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/ZZ-BUG-REPORT-v5.yml
  .github/workflows/release.yml
  package.json
  private/semantic-release/header-alpha.md
  private/semantic-release/header-develop.md
  release.config.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update node version to 18
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): enable writing a semantic-release summary
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(gh): update alpha bug report template
  .github/ISSUE_TEMPLATE/ZZ-BUG-REPORT-v5.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: rename js files to cjs for esm
  .eslintrc
  babel.config.cjs
  gulpfile.cjs
  package.json
  postcss.config.cjs
  private/createGettextFiles.cjs
  private/createTimestamp.cjs
  private/downloadTranslations.cjs
  private/gulp/createBuildJsTask.cjs
  private/gulp/createBuildScssTask.cjs
  private/gulp/createBuildTask.cjs
  private/gulp/createCleanTask.cjs
  private/gulp/createCleanTask.js
  private/gulp/createCopyDeliveryOptionsTask.cjs
  private/gulp/createCopyTask.cjs
  private/gulp/createTranslationsImportTask.cjs
  private/gulp/createUpdateComposerTask.cjs
  private/gulp/createUpdateComposerTask.js
  private/gulp/createZipTask.cjs
  private/mergeCsvTranslations.cjs
  private/updateVersion.cjs
  release.config.cjs
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update composer.json
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): move installation to separate action
  .github/actions/install/action.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix safari address error in checkout
  composer.lock
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

style: make code slightly nicer
  includes/class-wcmp-postcode-fields.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix billing address is required error in checkout (#970)
  composer.lock
  includes/class-wcmp-postcode-fields.php
Owners: @myparcelnl/integration

build(semantic-release): correct build command name
  release.config.cjs
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
