Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(pdk): update PDK from 4.0.1 to 4.1.1 (#1663)
  composer.json
  composer.lock
  src/Migration/Migration4_1_0.php
  tests/Mock/MockWpRestServer.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: normalize yarn.lock
  yarn.lock
Owners: @myparcelnl/integration

chore: normalize yarn.lock (#1665)
  yarn.lock
Owners: @myparcelnl/integration

feat(order-grid): use getForOrderList() in order list hook
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

fix(order-grid): fix @var annotation and guard fallback against double-throw
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

perf(order-grid): use wc_get_order() in WcOrderRepository to reuse WC cache
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

refactor(order-grid): use instanceof guard instead of @var cast for getForOrderList()
  src/Pdk/Hooks/PdkOrderListHooks.php
Owners: @myparcelnl/integration

test(order-grid): update getForOrderList test to assert empty notes/lines
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

fix(order-grid): set notes=[] to prevent per-order DB query in getForOrderList()
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(order-grid): add getForOrderList() to skip items/notes queries
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

feat(order-grid): eliminate per-order SQL queries for items and notes (#1640)
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

doc: update versions
  config/pdk.php
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: prevent warning on order confirmation page
  src/Pdk/Context/Service/WcContextService.php
Owners: @myparcelnl/integration

fix: remove fees when cart is not shippable
  src/Hooks/CartFeesHooks.php
  tests/Unit/Hooks/CartFeesHooksTest.php
Owners: @myparcelnl/integration

fix: fix test and phpstan
  src/Hooks/CartFeesHooks.php
  tests/Mock/MockWcOrder.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement feedback from copilot
  src/Hooks/CartFeesHooks.php
  tests/Unit/Hooks/CartFeesHooksTest.php
Owners: @myparcelnl/integration

fix: gate delivery-option fee on the allowed-shipping-methods matrix
  src/Hooks/CartFeesHooks.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Service/WcShippingClassMatrixService.php
  tests/Unit/Hooks/CartFeesHooksTest.php
Owners: @myparcelnl/integration

fix: implement feedback (1)
  src/Hooks/CartFeesHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

fix: prevent delivery-options cart push from reverting shipping method
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

test: cover classic post and pickup-clamp paths in CartFeesHooks
  tests/Unit/Hooks/CartFeesHooksTest.php
Owners: @myparcelnl/integration

fix: update prices in blocks checkout
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: update prices in blocks checkout
  src/Hooks/CartFeesHooks.php
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update prices in blocks checkout
  CLAUDE.md
  src/Hooks/CartFeesHooks.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcSession.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: use undefined instead of a 'NONE' sentinel for the selected rate
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: stop live-fee push from duplicating quick blocks orders
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: remove not working client-side-fix for edge case choosing option and ordering within 300ms
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: treat blocks local pickup (pickup_location) as local pickup
  src/WooCommerce/Repository/WcOrderRepository.php
Owners: @myparcelnl/integration

refactor: split cart push scheduling from the push itself
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: charge delivery-option fee on quick blocks orders without duplicating
  src/Hooks/CartFeesHooks.php
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update prices in blocks checkout
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

docs: capture blocks-checkout fee/shipping gotchas in CLAUDE.md
  CLAUDE.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement feedback (1)
  config/pdk.php
  readme.txt
  src/Hooks/CartFeesHooks.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: replace deprecated __internalIncrementCalculating with disableCheckoutFor
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: force the pre-submit cart flush past the settle gate
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/frontend

fix: remove deprecated global and hook
  src/Hooks/CartFeesHooks.php
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: drop obsolete delivery-option push guards, tighten comments
  src/Hooks/CartFeesHooks.php
  views/blocks/delivery-options/src/frontend.tsx
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: clear pdk container cache when plugin version changes
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(checkout): fix prices in blocks checkout not updating (#1652)
  CLAUDE.md
  readme.txt
  src/Hooks/CartFeesHooks.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  src/Pdk/Service/WcShippingClassMatrixService.php
  src/Service/WordPressHookService.php
  src/WooCommerce/Repository/WcOrderRepository.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcOrder.php
  tests/Mock/MockWcSession.php
  tests/Unit/Hooks/CartFeesHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/__snapshots__/BootTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
  views/blocks/delivery-options/src/frontend.tsx
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update pdk to 4.2.1
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix issues with stale cache causing issues when updating the plugin (#1669)
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend
