Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(security): remove unused build tooling and let pinned resolutions float
  package.json
  views/blocks/delivery-options/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - move to vite 8, vitest 4 and happy-dom 20
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/index.js
  views/vite-config/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump nx to 23
  .gitignore
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump semantic-release-config to 7
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): INT-1935 - cache tasks through targetDefaults
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - bump pdk-app-builder to 4.1.4
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): INT-1935 - refresh transitive fixes in range
  yarn.lock
Owners: @myparcelnl/integration

build(deps-dev): remove unused build tooling (#1894)
  package.json
  views/blocks/delivery-options/package.json
  views/webpack-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): move the frontend toolchain to vite 8, vitest 4 and happy-dom 20 (#1895)
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/index.js
  views/vite-config/package.json
  vitest.config.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): bump nx to 23 (#1896)
  .gitignore
  nx.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps-dev): bump semantic-release-config to 7 and pdk-app-builder to 4.1.4 (#1897)
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): INT-1564 - require sdk 11.0.0-beta.35 for its mapper
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: INT-1564 - resolve carrier and package type names via the sdk
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Migration6_5_1.php
  src/Pdk/Context/Service/WcContextService.php
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

refactor: INT-1564 - stop using the pdk type name constants
  composer.json
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Pdk/ProductSettingsMigration.php
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: INT-1564 - cover the legacy carrier map of the 6.5.1 migration
  tests/Datasets/orders.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
Owners: @myparcelnl/integration

build(deps): INT-1564 - require pdk 5.0.0
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: INT-1564 - sort the sdk imports
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration

refactor: resolve carrier, package type and delivery type names through the sdk (#1933)
  composer.json
  composer.lock
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Migration/Migration6_5_1.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Context/Service/WcContextService.php
  tests/Datasets/orders.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/Unit/Migration/Pdk/Migration6_5_1Test.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Hooks/PdkProductSettingsHooksTest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: run tests on pull requests to any branch
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: run tests on pull requests to any branch (#1970)
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): INT-1913 - send the cart weight in grams without a unit
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

refactor(checkout): INT-1913 - leave the shipping class weight to INT-1801
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
Owners: @myparcelnl/integration

fix(checkout): refresh the complete cart weight
  src/Pdk/Context/Service/WcContextService.php
  tests/Unit/Pdk/Context/Service/WcContextServiceTest.php
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(checkout): INT-1913 - name the cart checks in the checkout listeners
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): INT-1913 - refresh the checkout context only after a shipping method change
  views/frontend/checkout-delivery-options/src/utils/init.spec.ts
  views/frontend/checkout-delivery-options/src/utils/init.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.spec.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

feat(admin): show a spinner and a button in notifications
  views/backend/admin/src/components/pdk/WcNotification.vue
Owners: @myparcelnl/frontend

feat(address): allow filtering of address fields through wcAddressFields filter
  src/Adapter/WcAddressAdapter.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

docs(readme): link to the filters and actions in the manual
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(address): fall back to the unfiltered fields when wcAddressFields returns no array
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

test(address): cover the address_2 house number case from #1367
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

feat(address): pass the address source to the wcAddressFields filter
  src/Adapter/WcAddressAdapter.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

feat(tests): add support for mocking remove_filter function
  tests/Mock/MockWpActions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

docs(agents): name where the minimum PHP version is declared
  AGENTS.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): apply the wcAddressFields filter to all address sources
  src/Adapter/WcAddressAdapter.php
  tests/Mock/MockWpActions.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

test(adapter): ensure filters are removed after usage in WcAddressAdapterTest
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

test(address): add failing tests for the wcAddressFields filter limits
  tests/Mock/MockWpMeta.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

fix(checkout): stop stripping slashes from the Store API request body
  src/Hooks/CartFeesHooks.php
  src/Pdk/Hooks/PdkCheckoutPlaceOrderHooks.php
  tests/Unit/Hooks/CartFeesHooksTest.php
  tests/Unit/Hooks/PdkCheckoutPlaceOrderHooksTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix(build): make the admin iife run under vite 8
  views/backend/admin/vite.config.ts
  views/vite-config/__fixtures__/node-env.js
  views/vite-config/__fixtures__/tsconfig.build.json
  views/vite-config/__fixtures__/vue-demi.js
  views/vite-config/index.js
  views/vite-config/index.spec.js
  views/vite-config/package.json
  views/vite-config/vitest.config.js
  vitest.config.ts
Owners: @myparcelnl/frontend, @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
