Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(admin): improve button styles
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update composer dependencies
  composer.lock
Owners: @myparcelnl/integration

refactor(admin): fix import
  views/backend/admin/src/components/pdk/WcButton.vue
Owners: @myparcelnl/frontend

feat(checkout): improve checkout logic
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-delivery-options/src/endpoints/index.ts
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/main.ts
Owners: @myparcelnl/frontend

fix(checkout): fix delivery options not being passed to backend
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

feat(endpoints): improve endpoint logic
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
  src/Pdk/Hooks/PdkWebhookHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

build: update scripts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(repository): use currency service
  src/Pdk/Plugin/Repository/WcCartRepository.php
Owners: @myparcelnl/integration

fix(admin): fix code editor not being used
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(filters): allow not having a default value
  src/Service/WpFilterService.php
Owners: @myparcelnl/integration

refactor: fix inverted checkout view condition
  src/Hooks/CheckoutScriptHooks.php
  src/Pdk/Service/WcViewService.php
Owners: @myparcelnl/integration

fix(cart): fix incorrect reference to delivery options fees service
  src/Hooks/CartFeesHooks.php
Owners: @myparcelnl/integration

refactor: fix phpdoc
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

fix: allow pre orders
  includes/frontend/class-wcmp-frontend.php
Owners: @myparcelnl/integration

fix(compatibility): fix fatal error when using yith pre-order plugin (#978)
  includes/frontend/class-wcmp-frontend.php
Owners: @myparcelnl/integration

feat: allow dhl for you features for every user
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

refactor(settings): use new correct settings keys
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
Owners: @myparcelnl/integration

refactor: improve address parsing
  src/Factory/WcAddressAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  src/Service/WcRecipientService.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcCustomer.php
  tests/Mock/MockWcOrder.php
  tests/Pest.php
  tests/Unit/Factory/WcAddressAdapterTest.php
  tests/Uses/UsesMockWcPdkInstance.php
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_billing_address_BE__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Cart_with_data_set_vat_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_billing_address_BE__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Customer_with_data_set_vat_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address_BE__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_billing_address__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_default__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_separate_address_fields__1.yml
  tests/__snapshots__/WcAddressAdapterTest__it_creates_address_from_WC_Order_with_data_set_vat_fields__1.yml
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(docker): add docker-compose.yml
  .gitignore
  docker-compose.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(request): pass $_COOKIE and $_SERVER to converted requests
  src/Hooks/Concern/UsesPdkRequestConverter.php
Owners: @myparcelnl/integration

fix(checkout): improve checkout logic
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

refactor: clean up filter service
  src/Service/WpFilterService.php
Owners: @myparcelnl/integration

chore(config): update default shipping methods
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(admin): fix console warning on modal open
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

refactor: remove obsolete file
  views/vite-config/tsconfig.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: load cart in frontend routes
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

fix: correctly show track & trace in account page
  src/Hooks/TrackTraceHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

refactor: improve loading of scripts
  src/Hooks/CheckoutScriptHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

test: update snapshot
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  composer.json
  composer.lock
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: use newest deliveryy options
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow dhl for you features for every user (#980)
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/frontend/class-wcmp-checkout.php
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow dhl for you features for every user
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

fix(checkout): fix showing address errors before address is filled in (#976)
  package.json
  src/js/wcmp-frontend.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow dhl for you features for every user
  includes/Settings/Api/AccountSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/CarrierSettings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

build(gha): only force push rebase on develop if release has been done
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update yarn to 3.5.1
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: bump delivery options
  composer.lock
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  composer.lock
Owners: @myparcelnl/integration
