Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: add order number
  composer.lock
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.26.0
  composer.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat(order): add reference identifier
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

Revert "chore: update lock file"
  yarn.lock
Owners: @myparcelnl/integration

chore: update lock file
  yarn.lock
Owners: @myparcelnl/integration

revert lock file
  yarn.lock
Owners: @myparcelnl/integration

feat(order): add reference identifier (#1033)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: fix non-existent webhook class
  src/Pdk/Hooks/PdkWebhookHooks.php
Owners: @myparcelnl/integration

chore: update phpstan baseline
  phpstan-baseline.php
Owners: @myparcelnl/integration

feat
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): include address line 2 in full street (#1032)
  views/frontend/checkout-core/src/utils/createFields.ts
Owners: @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.28.0
  composer.lock
Owners: @myparcelnl/integration

chore(ide): update ide files
  .idea/misc.xml
  .idea/php-test-framework.xml
  .idea/php.xml
Owners: @myparcelnl/integration

chore(ide): update ide files
  .idea/myparcelnl-woocommerce.iml
  .idea/php.xml
Owners: @myparcelnl/integration

fix(webhook): use correct class to execute webhooks (#1029)
  phpstan-baseline.php
  src/Pdk/Hooks/PdkWebhookHooks.php
Owners: @myparcelnl/integration

feat(order): add reference identifier (#1033)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore: add dependabot.yml
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

chore: update php-stan baseline
  scoper.inc.php
Owners: @myparcelnl/integration

build(gha): cache php compile step
  .github/actions/build/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add prefix to packages in vendor folder
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  composer.json
  composer.lock
  pdk.config.cjs
  pdk.config.js
  scoper.inc.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: cancel exclusion of composer.json files
  scoper.inc.php
Owners: @myparcelnl/integration

chore: update composer.lock
  composer.lock
Owners: @myparcelnl/integration

fix: fix double prefixes
  pdk.config.js
  scoper.inc.php
Owners: @myparcelnl/frontend, @myparcelnl/integration

wip: help
  pdk.config.js
Owners: @myparcelnl/frontend

fix(compatibility): reduce conflicts with other plugins (#1025)
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  composer.json
  composer.lock
  pdk.config.cjs
  pdk.config.js
  scoper.inc.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(order): support digital stamp weight range option
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/factories/WC_Order_Factory.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(order): support digital stamp weight range option (#1035)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/factories/WC_Order_Factory.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): show correct styling in settings page
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: fix return type
  .idea/inspectionProfiles/Project_Default.xml
  .idea/myparcelnl-woocommerce.iml
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
Owners: @myparcelnl/integration

fix(orders): fix storing data in hpos
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

fix: fix php missing index error on orders page
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
Owners: @myparcelnl/integration

fix(orders): fix storing data in hpos (#1037)
  src/Migration/AbstractMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcOrderNoteRepository.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
  tests/Mock/MockWcClass.php
Owners: @myparcelnl/integration

fix(admin): show correct styling in settings page (#1036)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/myparcelnl-woocommerce.iml
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): fix multiple automatic exports
  src/Hooks/AutomaticOrderExportHooks.php
Owners: @myparcelnl/integration

test: update phpstan baseline
  phpstan-baseline.php
Owners: @myparcelnl/integration

test: update snapshot
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(compatibility): reduce conflicts with other plugins (#1025)
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  composer.json
  composer.lock
  pdk.config.cjs
  pdk.config.js
  scoper.inc.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
