Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: compare versions for upgrade or install (#1063)
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build(gha): reduce unnecessary composer and yarn installs
  .github/actions/build/action.yml
  .github/actions/composer-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/analyse.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update all outdated github actions
  .github/actions/build/action.yml
  .github/actions/composer-install/action.yml
  .github/actions/release/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/analyse.yml
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update frontend dependencies
  .gitignore
  nx.json
  package.json
  tsconfig.base.json
  views/backend/admin/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: separate between local and remote styles
  src/Hooks/CheckoutScriptHooks.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

build: fix nx watch scripts not working
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(order-mode): fix item value on customs declaration
  includes/Helper/ExportRow.php
Owners: @myparcelnl/integration

build(gha): fix yarn install being broken
  .github/actions/build/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update ide files
  .idea/codeStyles/Project.xml
  .idea/myparcelnl-woocommerce.iml
Owners: @myparcelnl/integration

docs: update readme formatting
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: remove broken link from readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): fix composer and yarn install actions
  .github/actions/build/action.yml
  .github/actions/composer-install/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/analyse.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix failing actions
  .github/actions/build/action.yml
  .github/actions/setup/action.yml
  .github/actions/yarn-install/action.yml
  .github/workflows/analyse.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): improve actions
  .github/actions/build/action.yml
  .github/actions/release/action.yml
  .github/actions/setup/action.yml
  .github/workflows/analyse.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(phpstan): fix phpstan error
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

build(gha): fix errors in actions
  .github/actions/build/action.yml
  .github/workflows/analyse.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): include php version in scoper cache
  .github/actions/build/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(order-mode): fix item value on customs declaration (#1066)
  includes/Helper/ExportRow.php
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.33.0
  composer.lock
Owners: @myparcelnl/integration

wip
  composer.lock
Owners: @myparcelnl/integration

wip
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(deps): upgrade myparcelnl/pdk to v2.33.0
  composer.lock
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): post artifacts on pull request
  .github/workflows/pull-request-completed.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): switch to new composite action for release artifacts
  .github/workflows/pull-request-completed.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): debug nx step
  .github/actions/build/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): switch to new composite action for release artifacts
  .github/workflows/pull-request-completed.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): post artifacts on pull request
  .github/workflows/pull-request-completed.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): remove debugging
  .github/actions/build/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): disconnect from nx cloud
  .github/actions/build/action.yml
  .github/workflows/test.yml
  nx.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: update snapshots
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(yarn): upgrade to yarn 4.1
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update ide files
  .idea/.gitignore
  .idea/php.xml
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.34.0
  composer.lock
Owners: @myparcelnl/integration

fix: check if the table exists before trying to create it
  src/Database/Service/WpDatabaseService.php
Owners: @myparcelnl/integration

test: fix failing wpdb tests
  tests/Mock/MockWpDatabaseService.php
  tests/Mock/MockWpdb.php
  tests/Unit/Migration/Pdk/Migration5_0_0Test.php
Owners: @myparcelnl/integration

fix: differentiate between upgrade and install migrations
  src/Migration/Migration5_0_0.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

fix: differentiate between upgrade and install migrations
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

test: increase coverage
  src/Pdk/Plugin/Installer/WcMigrationService.php
Owners: @myparcelnl/integration

test: fix tests
  src/Database/Service/WpDatabaseService.php
  tests/Mock/MockWcPdkBootstrapper.php
  tests/Mock/MockWpDatabaseService.php
  tests/Uses/UsesMockWcPdkInstance.php
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
