Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build: improve watch scripts
  package.json
  views/backend/admin/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-split-address-fields/package.json
  views/frontend/common/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add customizable string for address not found
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

fix: removed setting for addressNotFound
  package-lock.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Revert "fix: removed setting for addressNotFound"
  package-lock.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: removed addressNotFound row
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

feat: add customizable string for address not found (#945)
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

chore(release): 4.17.0-rc.1 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  7be9846446c22caa645ae54090689496e05801c8
Owners: @myparcelnl/integration

wip: vue components
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

fix: width of input select
  views/backend/admin/src/assets/scss/_helpers.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: save order and shipments
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

chore: update dependencies
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: make checkbox input work without element
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
Owners: @myparcelnl/frontend

style: eslint fixes
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
Owners: @myparcelnl/frontend

fix: fetch actual shipments on pdk order
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: improve order repository
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor: clean up order repository
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: save shipments so they can be read back
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat: get order statuses
  src/Pdk/Plugin/Service/WooCommerceOrderStatusService.php
Owners: @myparcelnl/integration

chore: remove translations from git
  config/pdk/translations/.gitignore
  config/pdk/translations/en.json
  config/pdk/translations/fr.json
  config/pdk/translations/nl.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: improve components
  .eslintrc.js
  package.json
  tsconfig.base.json
  tsconfig.json
  views/backend/admin/package.json
  views/backend/admin/postcss.config.js
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/assets/scss/_helpers.scss
  views/backend/admin/src/assets/scss/_modal.scss
  views/backend/admin/src/assets/scss/_transitions.scss
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNumberInput.vue
  views/backend/admin/src/components/pdk/WcPluginSettingsWrapper.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTabNavButtonWrapper.ts
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/index.ts
  views/backend/admin/src/jQuery.d.ts
  views/backend/admin/tailwind.config.cjs
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: improve components
  views/backend/admin/src/assets/scss/_modal.scss
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/index.ts
  views/backend/admin/tailwind.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix belgian number suffix
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: fix for belgian number suffixes
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: change tailwind prefix
  views/backend/admin/src/assets/scss/_transitions.scss
  views/backend/admin/src/assets/scss/index.scss
  views/backend/admin/src/components/pdk/WcButtonGroup.ts
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/index.ts
  views/backend/admin/tailwind.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: feedback
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

fix: fix belgian number suffix (#923)
  includes/adapter/RecipientFromWCOrder.php
Owners: @myparcelnl/integration

chore(release): 4.17.0-rc.2 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  fa0c567459a846e3beabef11779f1a6e698bf768
Owners: @myparcelnl/integration

fix: prevent widget config errors
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: prevent widget config errors (#947)
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

chore(release): 4.17.0-rc.3 [skip ci]
  CHANGELOG.md
  composer.json
  composer.lock
  package.json
  readme.txt
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  d3fa59176470c3474c018c2e18c2d6158fd486fd
Owners: @myparcelnl/integration

feat: add migration for metadata on old orders
  src/Migration/Migration5_0_0.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat: add migration for metadata on old orders
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

feat(admin): improve dropdown button
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

feat(migration): improve migration performance
  src/Migration/Migration5_0_0.php
Owners: @myparcelnl/integration

fix: fix code that's not valid in php 7.1
  src/Pdk/Guzzle7ClientAdapter.php
Owners: @myparcelnl/integration

refactor: clean up
  src/Hooks/CheckoutHooks.php
  src/Hooks/RestApiHooks.php
  src/Hooks/WordPressHooksInterface.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Action/WcEndpointActions.php
  src/Pdk/Service/AdminPdkHookService.php
  src/Service/ScriptService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat(admin): update components
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCard.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcNotification.vue
  views/backend/admin/src/components/pdk/WcProductSettingFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTabNavButton.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/index.ts
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
