Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: sanitize validate escape (#893)
  README.md
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-modal-result-page.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-data.php
  includes/class-wcmp-postcode-fields.php
  includes/compatibility/class-wc-core-compatibility.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend-track-trace.php
  includes/frontend/class-wcmp-frontend.php
  includes/views/html-delivery-options-template.php
  private/createGettextFiles.js
  readme.txt
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: update tested up to 6.1
  readme.txt
Owners: @myparcelnl/integration

fix: only subscribe to webhook when api key changed (#846)
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: add myparcel block to dashboard (#854)
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  composer.json
  config/pdk.php
  includes/Boot.php
  includes/Helper/ExportRow.php
  includes/PdkLogger.php
  includes/PdkOrderRepository.php
  includes/PdkSettingsRepository.php
  includes/WooEndPointActions.php
  includes/adapter/Guzzle7ClientAdapter.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/class-wcmp-data.php
  includes/class-wcmp-log.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/ExportActions.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
  includes/compatibility/abstract-wc-data-compatibility.php
Owners: @myparcelnl/integration

wip
  src/js/popper.js
Owners: @myparcelnl/frontend

Changes by thijmenwijers
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
Owners: @myparcelnl/integration

Changes by mark
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
  includes/compatibility/abstract-wc-data-compatibility.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  includes/Data.php
  includes/adapter/Guzzle7ClientAdapter.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/class-wcmp-log.php
Owners: @myparcelnl/integration

feat: add pdk
  includes/Helper/ExportRow.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

refactor: use callAction() for automatic export
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

wip
  includes/admin/OrderSettingsRows.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/PdkSettingsRepository.php
  includes/WooEndPointActions.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  includes/PdkLogger.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/PdkSettingsRepository.php
  includes/adapter/Guzzle7ClientAdapter.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  composer.json
  config/pdk.php
  includes/PdkLogger.php
  includes/PdkOrderRepository.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

fix: render pps buttons
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: add pdk
  includes/Data.php
  includes/Helper/ExportRow.php
  includes/Helper/LabelDescriptionFormat.php
  includes/Settings/Api/AccountSettings.php
  includes/Webhook/Hooks/OrderStatusWebhook.php
  includes/adapter/PdkOrderCollectionFromWCOrdersAdapter.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/adapter/RecipientFromWCOrder.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/CountryCodes.php
  includes/admin/OrderSettings.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-country-codes.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmp-shipping-methods.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-log.php
  includes/class-wcmp-postcode-fields.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend-track-trace.php
  includes/views/html-delivery-options-template.php
  includes/wcmp-initialize-settings-collection.php
  migration/wcmp-upgrade-migration-v4-1-0.php
  migration/wcmp-upgrade-migration-v4-2-1.php
  migration/wcmp-upgrade-migration-v4-4-1.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

Changes by mark
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/adapter/PdkOrderCollectionFromWCOrdersAdapter.php
  includes/adapter/PdkOrderFromWCOrderAdapter.php
  includes/admin/ExportActions.php
  includes/admin/OrderSettingsRows.php
  includes/admin/OrderStatus.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/compatibility/class-ce-compatibility.php
Owners: @myparcelnl/integration

wip
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

fix: fix js actions on export
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
  includes/admin/OrderStatus.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

Changes by mark
  includes/admin/class-wcmp-export-consignments.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  includes/adapter/Guzzle7ClientAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

feat: add pdk
  config/pdk.php
  includes/Webhook/Service/WebhookSubscriptionService.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/OrderSettings.php
  includes/admin/class-wcmp-export-consignments.php
  includes/admin/class-wcmp-export.php
  includes/admin/settings/class-wcmp-settings-data.php
Owners: @myparcelnl/integration

wip
  includes/adapter/Guzzle7ClientAdapter.php
  includes/adapter/WCOrderToPdkOrderAdapter.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

wip
  config/pdk.php
  includes/WooEndPointActions.php
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
Owners: @myparcelnl/integration

wip
  includes/Helper/ExportRow.php
  includes/admin/ExportActions.php
  includes/admin/OrderStatus.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/CarrierSettings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-modal-result-page.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

wip
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

Changes by mark
  includes/Helper/ExportRow.php
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
Owners: @myparcelnl/integration

work in progress
  includes/admin/class-wcmypa-admin.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
