Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat(address): add basic styles for validation messages
  views/frontend/checkout-address-widget/assets/css/style.css
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: remove local pdk repo reference
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct implementation of woocommerce_checkout_fields
  src/Hooks/AddressWidgetHooks.php
Owners: @myparcelnl/integration

chore: update snapshots
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: country change not toggling fields correctly
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: resolve several data syncing issues with partial addresses
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: fix delivery options not updating with resolved addresses
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: update required pdk and other locks
  composer.json
  composer.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): add myparcel address input widget to the checkout (#1237)
  composer.json
  composer.lock
  src/Adapter/WcAddressAdapter.php
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  views/frontend/checkout-address-widget/README.md
  views/frontend/checkout-address-widget/assets/css/style.css
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/constants/fields.ts
  views/frontend/checkout-address-widget/src/main.ts
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-address-widget/src/utils/showHide.ts
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  views/frontend/checkout-address-widget/tsconfig.build.json
  views/frontend/checkout-address-widget/vite.config.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/classic/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-core/src/utils/createName.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/isClassicCheckout.ts
  views/frontend/common/src/index.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/isClassicCheckout.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/index.ts
  vitest.workspace.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: use correct pdk import for address widget
  views/frontend/checkout-address-widget/src/utils/init.ts
Owners: @myparcelnl/frontend

build(deps): update all js-pdk monorepo packages to the latest versions
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): resolve issues with loading some form components in admin (#1306)
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/src/utils/init.ts
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix empty address on export when country changed during checkout
  src/Adapter/WcAddressAdapter.php
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix validation error when using split address on classic checkout
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

feat(checkout): add split address fields to blocks checkout
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/Contract/WooCommerceInitCallbacksInterface.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

doc: remove flespakket
  readme.txt
Owners: @myparcelnl/integration

docs: remove flespakket
  readme.txt
Owners: @myparcelnl/integration

feat: sync street/houseNumber to address field in blocks checkout
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCheckoutStore.ts
Owners: @myparcelnl/frontend

feat(checkout): save separated address fields for blocks checkout to the order
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(checkout): fix validation error when using split address (#1322)
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
Owners: @myparcelnl/frontend

docs: remove flespakket (#1324)
  readme.txt
Owners: @myparcelnl/integration

fix: fix incorrect argument types
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

test: update snapshots with new hooks
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(checkout): add split address fields to blocks checkout
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/Contract/WooCommerceInitCallbacksInterface.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: fix issues with classic checkout and/or separate address disabled
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

fix: update PDK to latest version to fix separate address type issues
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix meta key not having the correct legacy format
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

feat(checkout): save separated address fields for blocks checkout to the order
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/AddressWidgetHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

feat: sync street/houseNumber to address field in blocks checkout
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCheckoutStore.ts
Owners: @myparcelnl/frontend

fix: resolve issues filling in address for countries without separate address fields
  src/Hooks/SeparateAddressFieldsHooks.php
  views/frontend/checkout-separate-address-fields/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: union types are not available in php <8.0
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

fix: fix separate address fields showing for the wrong countries
  src/Hooks/SeparateAddressFieldsHooks.php
Owners: @myparcelnl/integration

fix: fix a problem where the delivery options would not receive all data on page load
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
Owners: @myparcelnl/frontend

fix(checkout): fix empty address on export when country changed during checkout
  src/Adapter/WcAddressAdapter.php
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-address-widget/src/utils/syncData.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(address): fix address input initializing as an empty object rather than an actual empty value
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

fix: emit event when address changes to empty
  views/frontend/checkout-address-widget/src/utils/syncData.ts
Owners: @myparcelnl/frontend

feat(checkout): support using separate address fields in woocommerce blocks (#1325)
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/Contract/WooCommerceInitCallbacksInterface.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WordPressHookService.php
  tests/__snapshots__/EntryTest__it_adds_all_hooks_on_plugin_init__1.json
  tests/__snapshots__/EntryTest__it_instantiates_the_plugin__1.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-address-widget/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/utils/createId.ts
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/checkout-tax-fields/package.json
  views/frontend/common/src/types.ts
  views/frontend/common/src/utils/checkout/getBlocksCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getClassicCheckoutConfig.ts
  views/frontend/common/src/utils/checkout/getShippingRate.ts
  views/frontend/common/src/utils/checkout/index.ts
  views/frontend/common/src/utils/checkout/useCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCartStore.ts
  views/frontend/common/src/utils/checkout/useWcCheckoutStore.ts
  woocommerce-myparcel.php
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct price when exporting order
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

Update snapshots
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: correct price when exporting order (#1332)
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
