Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: implement feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: clearer texts
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix: remove dependency on sdk
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_carrier__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: conform some more
  src/Adapter/LegacyDeliveryOptionsAdapter.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix: remove dependency on sdk
  src/Adapter/LegacyDeliveryOptionsAdapter.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix: structure model array things
  src/Adapter/LegacyDeliveryOptionsAdapter.php
Owners: @myparcelnl/integration

fix codacy feedback
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

fix: implement feedback
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat/add-legacy-delivery-options-meta
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_default__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_pickup_location__1.yml
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_shipment_options__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: constants and var name
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

test: more coverage
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
  tests/__snapshots__/LegacyDeliveryOptionsAdapterTest__it_creates_legacy_options_with_data_set_with_date__1.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add hpos incompatibility warning (#1109)
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(ordergrid): prevent warning undefined array key
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: add legacy delivery options meta (#1097)
  src/Adapter/LegacyDeliveryOptionsAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Adapter/LegacyDeliveryOptionsAdapterTest.php
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.38.1
  composer.lock
Owners: @myparcelnl/integration

build(deps): upgrade @myparcel-pdk/app-builder to v1.2.0
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

feat: add shipping methods input
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(admin): improve responsiveness of settings
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/tailwind.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): allow changing transition per table
  views/backend/admin/src/components/pdk/WcTable.vue
Owners: @myparcelnl/frontend

fix(migration): update shipping methodsm migration
  src/Migration/Migration5_0_0_beta_9.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Migration/Migration5_0_0_beta_9Test.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): upgrade @myparcel-pdk/app-builder to v1.2.1
  yarn.lock
Owners: @myparcelnl/integration

chore: add clean script
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update @myparcel/delivery-options
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade @myparcel-pdk/*
  yarn.lock
Owners: @myparcelnl/integration

fix(checkout): fix error in shipping method logic
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/frontend

fix(migration): update shipping methodsm migration
  src/Migration/Migration5_0_0_beta_9.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Migration/Migration5_0_0_beta_9Test.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add shipping methods input
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(admin): improve responsiveness of settings
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/tailwind.config.cjs
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): allow changing transition per table
  views/backend/admin/src/components/pdk/WcTable.vue
Owners: @myparcelnl/frontend

fix(ordergrid): prevent warning undefined array key (#1122)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: allow picking package type per shipping method (#1104)
  src/Migration/Migration5_0_0_beta_9.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Migration/Migration5_0_0_beta_9Test.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/initialize.ts
  views/backend/admin/tailwind.config.cjs
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip: use shipping classes in shipping method logic
  config/pdk.php
  src/Pdk/Context/Service/WcContextService.php
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  src/Repository/WcShippingMethodRepository.php
  views/frontend/checkout-core/src/blocks/getBlocksCheckoutConfig.ts
  views/frontend/checkout-core/src/blocks/index.ts
  views/frontend/checkout-core/src/main.ts
  views/frontend/checkout-core/src/types.ts
  views/frontend/checkout-core/src/utils/getShippingRate.ts
  views/frontend/checkout-core/src/utils/index.ts
  views/frontend/checkout-core/src/utils/useCartStore.ts
  views/frontend/checkout-delivery-options/src/endpoints/fetchHighestShippingClass.ts
  views/frontend/checkout-delivery-options/src/endpoints/index.ts
  views/frontend/checkout-delivery-options/src/main.ts
  views/frontend/checkout-delivery-options/src/utils/getHighestShippingClass.ts
  views/frontend/checkout-delivery-options/src/utils/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): always rebase prs immediately on push
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow picking package type per shipping method (#1104)
  src/Migration/Migration5_0_0_beta_9.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  tests/Unit/Migration/Migration5_0_0_beta_9Test.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
  views/backend/admin/src/assets/scss/_woocommerce.scss
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTable.vue
  views/backend/admin/src/components/pdk/WcTableCol.vue
  views/backend/admin/src/initialize.ts
  views/backend/admin/tailwind.config.cjs
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add clean script
  package.json
  views/backend/admin/package.json
  views/blocks/delivery-options/package.json
  views/frontend/checkout-core/package.json
  views/frontend/checkout-delivery-options/package.json
  views/frontend/checkout-separate-address-fields/package.json
  views/frontend/checkout-tax-fields/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update @myparcel/delivery-options
  yarn.lock
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
