Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

work in progress
  includes/admin/ExportActions.php
Owners: @myparcelnl/integration

wip
  composer.json
  includes/admin/ExportActions.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: save shipments to metadata
  includes/Helper/LabelDescriptionFormatter.php
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
  includes/admin/OrderSettingsRows.php
  includes/admin/OrderStatus.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/views/html-send-return-email-form.php
Owners: @myparcelnl/integration

feat: add print action
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
  includes/admin/class-wcmypa-admin.php
  includes/class-wcmp-assets.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: updated handlePdkAction
  includes/admin/ExportActions.php
Owners: @myparcelnl/integration

build: prevent missing folders during svn deploy
  .github/workflows/release.yml
  .github/workflows/svn-deploy.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: implement feedback
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: prevent missing folders during svn deploy (#902)
  .github/workflows/release.yml
  .github/workflows/svn-deploy.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: show digital stamp weight in order view (#896)
  includes/admin/OrderSettings.php
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat: show test connection button (#881)
  composer.lock
  includes/Settings/Api/AccountSettings.php
  includes/Settings/Api/AccountSettingsService.php
  includes/Webhook/Hooks/AccountSettingsWebhook.php
  includes/admin/settings/class-wcmp-settings-data.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: prevent dismissed message from reappearing (#898)
  includes/admin/MessagesRepository.php
Owners: @myparcelnl/integration

chore: update tested up to 6.1 (#899)
  readme.txt
Owners: @myparcelnl/integration

chore: sanitize validate escape (#893)
  README.md
  includes/admin/MessagesRepository.php
  includes/admin/class-wcmp-api.php
  includes/admin/class-wcmp-export.php
  includes/admin/class-wcmp-rest.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-callbacks-enhanced-select.php
  includes/admin/settings/class-wcmp-settings-callbacks.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/MyParcelWidget.php
  includes/admin/views/html-modal-result-page.php
  includes/admin/views/html-order-return-shipment-options.php
  includes/admin/views/html-order-shipment-options.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/class-wcmp-data.php
  includes/class-wcmp-postcode-fields.php
  includes/compatibility/class-wc-core-compatibility.php
  includes/frontend/class-wcmp-cart-fees.php
  includes/frontend/class-wcmp-checkout.php
  includes/frontend/class-wcmp-frontend-track-trace.php
  includes/frontend/class-wcmp-frontend.php
  includes/views/html-delivery-options-template.php
  private/createGettextFiles.js
  readme.txt
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: remove barcode from refund mail (#894)
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: prevent unnecessary automatic export (#895)
  includes/admin/class-wcmypa-admin.php
Owners: @myparcelnl/integration

feat(dashboard): add option to only show myparcel orders
  includes/admin/class-wcmp-export.php
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: filter refunded orders
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

refactor: pr feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

refactor: feedback
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: feedback
  includes/admin/class-wcmp-export.php
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

feat: add modal option for myparcel orders only (#869)
  includes/admin/class-wcmp-export.php
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

fix: include config in gulp zip
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
  private/gulp/createZipTask.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow link to order detail from widget
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

wip: use bulk export
  includes/admin/ExportActions.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: bump pdk version in composer.json
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: show tracktrace in order email when no refunds
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

fix: show tracktrace in order email when no refunds
  includes/frontend/class-wcmp-frontend-track-trace.php
Owners: @myparcelnl/integration

wip
  includes/Data.php
  includes/Helper/ExportRow.php
  includes/PdkOrderRepository.php
  includes/adapter/RecipientFromWCOrder.php
  includes/adapter/delivery-options-from-order-adapter.php
  includes/admin/CountryCodes.php
  includes/admin/ExportActions.php
  includes/admin/OrderSettingsRows.php
  includes/admin/class-wcmypa-admin.php
  includes/admin/settings/Status.php
  includes/admin/settings/class-wcmp-settings-data.php
  includes/admin/settings/class-wcmypa-settings.php
  includes/admin/views/html-order-shipment-summary.php
  includes/admin/views/html-order-track-trace-table.php
  includes/admin/views/html-send-return-email-form.php
  includes/class-wcmp-assets.php
  includes/frontend/class-wcmp-checkout.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: get correct hs code and country of origin for variation
  includes/Helper/ExportRow.php
Owners: @myparcelnl/integration

fix: get correct hs code and country of origin for variation (#910)
  includes/Helper/ExportRow.php
Owners: @myparcelnl/integration

fix: allow link to order detail from widget (#906)
  includes/admin/views/MyParcelWidget.php
Owners: @myparcelnl/integration

wip
  includes/PdkOrderRepository.php
  includes/admin/ExportActions.php
  includes/admin/OrderStatus.php
  includes/admin/class-wcmypa-admin.php
  src/js/wcmp-admin.js
Owners: @myparcelnl/integration, @myparcelnl/frontend
