Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(deps): update @myparcel-pdk packages
  yarn.lock
Owners: @myparcelnl/integration

feat(deps): upgrade myparcelnl/pdk to v2.8.0
  composer.lock
Owners: @myparcelnl/integration

feat(fulfilment): add order notes
  src/Hooks/OrderNotesHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

fix(meta): fix settings link not showing on plugins page
  src/Hooks/PluginInfoHooks.php
Owners: @myparcelnl/integration

fix(admin): fix input widths exceeding containers
  views/backend/admin/src/components/pdk/WcTextInput.vue
Owners: @myparcelnl/frontend

refactor(checkout): use app name in delivery options class
  src/Pdk/Service/WcFrontendRenderService.php
Owners: @myparcelnl/integration

feat(fulfilment): add order notes
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: improve prerequisites logic
  config/pdk.php
  src/Contract/WcFeatureServiceInterface.php
  src/Contract/WooCommerceServiceInterface.php
  src/Contract/WordPressServiceInterface.php
  src/Facade/WooCommerce.php
  src/Facade/WordPress.php
  src/Hooks/PluginInfoHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WcFeatureService.php
  src/Service/WooCommerceService.php
  src/Service/WordPressService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build(nx): remove deprecated nx setting
  nx.json
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(hpos): fix order grid bulk actions not working
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

fix(admin): use different log level in production mode
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

chore(deps): update npm dependencies
  package.json
  views/backend/admin/package.json
  views/vite-config/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): upgrade myparcelnl/pdk to v2.11.1
  composer.lock
Owners: @myparcelnl/integration

feat(order): get order notes
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/WcPdkProductRepository.php
Owners: @myparcelnl/integration

test: update tests
  tests/Mock/MockWcClass.php
  tests/Pest.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_SKU__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/install/action.yml
  .github/actions/test-backend/action.yml
  .github/actions/test-coverage/action.yml
  .github/actions/test-frontend/action.yml
  .github/workflows/--test.yml
  .github/workflows/dispatch-command.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  composer.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update test actions
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add coverage.xml to gitignore
  .gitignore
Owners: @myparcelnl/integration

build(gha): fix error in test-backend action
  .github/actions/test-backend/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): move install step out of test actions
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
  .github/workflows/--test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): upload frontend and backend coverage separately
  .github/actions/test-backend/action.yml
  .github/actions/test-coverage/action.yml
  .github/actions/test-frontend/action.yml
  .github/workflows/--test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(vite): report uncovered files
  views/vite-config/index.cjs
Owners: @myparcelnl/integration

refactor: move address adapter to adapter namespace
  src/Adapter/WcAddressAdapter.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/Repository/WcCartRepository.php
  tests/Unit/Adapter/WcAddressAdapterTest.php
Owners: @myparcelnl/integration

build(gha): fix error in test-backend
  .github/actions/test-backend/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): send more specific flags to codecov
  .github/actions/test-backend/action.yml
  .github/actions/test-frontend/action.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix select inputs not showing initial value
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

chore(deps): lock eslint dependencies
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(migration): move constant inside class
  src/Migration/Pdk/SettingsMigration.php
Owners: @myparcelnl/integration

fix(orders): improve order note author mapping
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(orders): fix meta keys being saved multiple times
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(notes): get api identifier from order meta data
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(notes): add hook to post note after adding to order
  src/Hooks/OrderNotesHooks.php
  src/Service/WordPressHookService.php
Owners: @myparcelnl/integration

refactor(orders): improve notes retrieval logic
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  tests/Unit/Pdk/Plugin/Repository/PdkOrderRepositoryTest.php
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_CUSTOMER_NOTE__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_ORDER_NR__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_ID__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_NAME__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_label_description_PRODUCT_QTY__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_multiple_label_description_placeholders__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/mock_class_map.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(export): export label description
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: prevent error performing method_exists
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(migration): migrate product package type
  src/Migration/Pdk/ProductSettingsMigration.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(migration): keep looping for any package type
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): do not use all the memory
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration

fix(migration): migrate product package type
  src/Migration/Pdk/ProductSettingsMigration.php
Owners: @myparcelnl/integration
