Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat(settings): improve settings views
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

refactor(core): rename MultiCheckboxInput and MultiRadioInput
  views/backend/admin/src/__tests__/componentTests.spec.ts
  views/backend/admin/src/components/pdk/WcCheckboxGroup.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: render settings page
  src/Pdk/Hooks/PdkPluginSettingsHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(admin): update button style
  views/backend/admin/src/components/pdk/WcButton.vue
Owners: @myparcelnl/frontend

fix(admin): add multi select input
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: implement bootstrapper
  config/pdk.php
  src/Hooks/PdkAdminEndpointHooks.php
  src/Hooks/PdkFrontendEndpointHooks.php
  src/Hooks/PdkWebhookHooks.php
  src/Logger/WcLogger.php
  src/Pdk/Boot.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Pdk/Hooks/PdkOrderHooks.php
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/Hooks/PdkProductSettingsHooks.php
  src/Pdk/Plugin/Action/WcBackendEndpointService.php
  src/Pdk/Plugin/Action/WcWebhookService.php
  src/Pdk/Plugin/Repository/PdkAccountRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
  src/Pdk/Service/LanguageService.php
  src/Pdk/Service/WcRenderService.php
  src/Pdk/Service/WcViewService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Pdk/Webhook/WcWebhooksRepository.php
  src/Service/WpScriptService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix(admin): fix select boxes duplicating and options not being preselected
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

refactor(admin): replace imports
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

fix(admin): initialize tooltips properly
  views/backend/admin/src/hooks/closeModalOnEscape.ts
  views/backend/admin/src/hooks/index.ts
  views/backend/admin/src/hooks/initializeTooltips.ts
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

fix: improve components
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcLoader.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/main.ts
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

fix: ensure numeric values at physical properties
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

refactor: simplify modal
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

fix: fix naming error in bulk actions order mode
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix: use correct option for automatic export
  src/Hooks/AutomaticOrderExportHooks.php
Owners: @myparcelnl/integration

refactor: clean up config
  config/pdk.php
Owners: @myparcelnl/integration

fix(migration): improve migration logic
  .gitignore
  composer.json
  phpunit.xml
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Migrator.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/OrdersMigration.php
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/WcPdkBootstrapper.php
  tests/Pest.php
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_old_settings__1.json
  woocommerce-myparcel.php
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(admin): add text area and code editor component
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: show notices through all_admin_notices hook
  src/Pdk/Hooks/PdkCoreHooks.php
Owners: @myparcelnl/integration

fix: update frontend routes
  src/Pdk/Plugin/Action/WcFrontendEndpointService.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

feat: prepend order note with text from settings
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

feat(plugin): add links to plugin meta
  src/Hooks/PluginInfoHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WordPressHookService.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

fix: increase order list column width
  views/backend/admin/src/assets/scss/_woocommerce.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): improve select inputs
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

feat(admin): improve radio component
  views/backend/admin/src/components/pdk/WcRadioInput.vue
Owners: @myparcelnl/frontend

fix(modal): fix modal actions
  views/backend/admin/src/components/pdk/WcModal.vue
Owners: @myparcelnl/frontend

fix: wrap pdk admin init in window.onload
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

fix(admin): update form group
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix: set physical properties on pdkorder
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Product/Repository/PdkProductRepository.php
Owners: @myparcelnl/integration

style: remove concatenation
  src/Pdk/Plugin/Service/WcDeliveryOptionsService.php
Owners: @myparcelnl/integration

feat(admin): make select2 component work properly
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

fix: fix number error on "add order" page
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix(admin): update components
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/components/pdk/WcMultiCheckbox.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcSelectInput.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
  views/backend/admin/src/main.ts
Owners: @myparcelnl/frontend

wip: add separate address fields
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Pdk/Hooks/PdkCoreHooks.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  views/frontend/checkout-delivery-options/assets/scss/_checkout.scss
  views/frontend/checkout-delivery-options/assets/scss/index.scss
  views/frontend/checkout-delivery-options/src/delivery-options/getDeliveryOptionsAddress.ts
  views/frontend/checkout-delivery-options/src/helpers/addAddressFieldListeners.ts
  views/frontend/checkout-delivery-options/src/helpers/index.ts
  views/frontend/checkout-delivery-options/src/helpers/setHouseNumber.ts
  views/frontend/checkout-split-address-fields/assets/scss/_autofill-hack.scss
  views/frontend/checkout-split-address-fields/assets/scss/_checkout.scss
  views/frontend/checkout-split-address-fields/assets/scss/index.scss
  views/frontend/checkout-split-address-fields/src/address/fillAddressFields.ts
  views/frontend/checkout-split-address-fields/src/address/getAddressParts.ts
  views/frontend/checkout-split-address-fields/src/address/index.ts
  views/frontend/checkout-split-address-fields/src/address/splitAddress.ts
  views/frontend/checkout-split-address-fields/src/data/fields.ts
  views/frontend/checkout-split-address-fields/src/main.ts
  views/frontend/checkout-split-address-fields/src/utils/index.ts
  views/frontend/checkout-split-address-fields/src/utils/setAddress.ts
  views/frontend/checkout-split-address-fields/src/utils/splitFields.ts
  views/frontend/checkout-split-address-fields/src/utils/synchronizeAddress.ts
  views/frontend/common/src/address/fillSplitAddressFields.ts
  views/frontend/common/src/address/getAddressParts.ts
  views/frontend/common/src/address/getHouseNumber.ts
  views/frontend/common/src/address/index.ts
  views/frontend/common/src/address/setFieldValue.ts
  views/frontend/common/src/data/fields.ts
  views/frontend/common/src/data/index.ts
  views/frontend/common/src/store/createStore.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add bulk actions
  src/Pdk/Hooks/PdkOrderListHooks.php
  src/Pdk/WcPdkBootstrapper.php
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/components/pdk/WcOrderGridShipmentWrapper.vue
  views/backend/admin/src/hooks/onCreateStore.ts
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/main.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): change shipment label row transition
  views/backend/admin/src/assets/scss/_transitions.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: retrieve shipping methods
  src/Pdk/Plugin/WcShippingMethodRepository.php
Owners: @myparcelnl/integration

fix: disable selectwoo for now because it won't work
  views/backend/admin/src/components/pdk/WcSelectInput.vue
Owners: @myparcelnl/frontend

refactor: change enum properties to pascal case
  views/backend/admin/src/components/pdk/WcBox.vue
  views/backend/admin/src/components/pdk/WcButton.vue
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
  views/backend/admin/src/components/pdk/WcShipmentLabelWrapper.vue
  views/backend/admin/src/hooks/onInitialized.ts
  views/backend/admin/src/utils/createDashIcon.ts
Owners: @myparcelnl/frontend

refactor: clean up render service
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

fix: fix imports
  views/backend/admin/src/components/pdk/WcCol.vue
  views/backend/admin/src/components/pdk/WcModal.vue
  views/backend/admin/src/hooks/listenForBulkActions.ts
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
