Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

ci: store pdk update info in variables
  .github/workflows/pdk-update.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: fix yaml indent
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: move if to steps
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: use env instead of with
  .github/workflows/pdk-update.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: use correct job name
  .github/workflows/pdk-update.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update build trigger summary
  .github/workflows/pdk-update.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update ide config
  .idea/myparcelnl-woocommerce.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/runConfigurations/All_tests.xml
Owners: @myparcelnl/integration

perf: properly externalize delivery options dependency
  views/vite-config/index.js
Owners: @myparcelnl/frontend

ci: add debugging
  .github/workflows/build-custom.yml
  .github/workflows/upgrade.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(deps): upgrade @myparcel-pdk/app-builder to v1.6.0
  yarn.lock
Owners: @myparcelnl/integration

feat(admin): add download logs action
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
Owners: @myparcelnl/integration

refactor: fix wrong return type
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

chore: use correct annotation
  tests/Mock/MockWpActions.php
Owners: @myparcelnl/integration

fix: make filters work correctly
  config/pdk.php
  src/Contract/WpFilterServiceInterface.php
  src/Facade/Filter.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WpFilterService.php
  tests/Mock/MockWpActions.php
  tests/Unit/Service/WpFilterServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

chore: use correct annotations
  src/Contract/WpFilterServiceInterface.php
  src/Service/WpFilterService.php
Owners: @myparcelnl/integration

feat(backend): add download logs action (#1175)
  src/Hooks/Concern/UsesPdkRequestConverter.php
  src/Logger/WcLogger.php
  src/Pdk/Hooks/AbstractPdkEndpointHooks.php
  src/Pdk/Hooks/PdkAdminEndpointHooks.php
  src/Pdk/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

fix: make filters work correctly (#1189)
  config/pdk.php
  src/Contract/WpFilterServiceInterface.php
  src/Facade/Filter.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WpFilterService.php
  tests/Mock/MockWpActions.php
  tests/Unit/Service/WpFilterServiceTest.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

fix: add default position in case no position is chosen
  src/Hooks/CheckoutScriptHooks.php
Owners: @myparcelnl/integration

test: add tests for disabling position setting when blocks checkout is enabled
  tests/Mock/MockWcBlocksUtils.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/mock_class_map.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix: re add delivery options default setting for dropdown menu
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(checkout): remove delivery options default position so that setting is used
  src/Pdk/WcPdkBootstrapper.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

refactor: implement feedback on pr
  src/Hooks/CheckoutScriptHooks.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix: change formatting and fix test
  src/Contract/WooCommerceServiceInterface.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
Owners: @myparcelnl/integration

refactor: replace error with return to more closely resemble the original function
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

style: add extra lines
  tests/Mock/MockWcBlocksUtils.php
  tests/mock_class_map.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

refactor: remove unused import
  src/Contract/WooCommerceServiceInterface.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

wip: hide position settings when blocks checkout is enabled
  src/Contract/WooCommerceServiceInterface.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WooCommerceService.php
Owners: @myparcelnl/integration

fix: add delivery options default position back
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(settings): hide delivery options position setting when blocks checkout is enabled (#1188)
  src/Contract/WooCommerceServiceInterface.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WooCommerceService.php
  tests/Mock/MockWcBlocksUtils.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/mock_class_map.php
  tests/mock_wc_functions.php
Owners: @myparcelnl/integration

fix(webhook): prevent webhook callback never being executed
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix(webhook): prevent webhook callback never being executed
  src/Service/WpCronService.php
  tests/Mock/MockCallableClass.php
  tests/Unit/Service/WpCronServiceTest.php
Owners: @myparcelnl/integration

fix(webhook): prevent webhook callback never being executed
  src/Service/WpCronService.php
Owners: @myparcelnl/integration

fix(webhooks): prevent webhook callback never being executed (#1187)
  src/Service/WpCronService.php
  tests/Mock/MockCallableClass.php
  tests/Unit/Service/WpCronServiceTest.php
Owners: @myparcelnl/integration

ci: add legacy release workflow
  .github/workflows/release-legacy-v4.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix small parcel not showing in DO
  includes/frontend/class-wcmp-checkout.php
Owners: @myparcelnl/integration

chore: update phpstan config
  phpstan.neon.dist
Owners: @myparcelnl/integration

test: clean up tests
  tests/Datasets/meta.php
  tests/Factory/AbstractWcDataFactory.php
  tests/Factory/AbstractWpFactory.php
  tests/Factory/Contract/WpFactoryInterface.php
  tests/Mock/MockWcCart.php
  tests/Mock/MockWcClass.php
  tests/Mock/MockWcData.php
  tests/Mock/MockWcPdkAuditRepository.php
  tests/Mock/MockWcShipping.php
  tests/Mock/MockWcShippingMethodClass.php
  tests/Mock/MockWcShippingZone.php
  tests/Mock/MockWpTerm.php
  tests/Mock/MockWpdb.php
  tests/Mock/MocksGettersAndSetters.php
  tests/Pest.php
  tests/Unit/Hooks/AutomaticOrderExportHooksTest.php
  tests/Unit/Hooks/CheckoutScriptHooksTest.php
  tests/Unit/Migration/Pdk/OrdersMigrationTest.php
  tests/Unit/Migration/Pdk/ProductSettingsMigrationTest.php
  tests/Unit/Pdk/Plugin/WcShippingMethodRepositoryTest.php
  tests/Unit/Pdk/WcPdkBootstrapperTest.php
  tests/factories/WC_Order_Factory.php
  tests/factories/WC_Order_Item_Factory.php
  tests/factories/WC_Order_Item_Product_Factory.php
  tests/factories/WC_Product_Factory.php
  tests/factories/WC_Shipping_Flat_Rate_Factory.php
  tests/factories/WC_Shipping_Method_Factory.php
  tests/factories/WC_Shipping_Zone_Factory.php
  tests/factories/WP_Term_Factory.php
  tests/functions.php
  tests/mock_class_map.php
  tests/mock_namespaced_class_map.php
  tests/mock_wc_functions.php
  tests/mock_wp_functions.php
Owners: @myparcelnl/integration

build: switch to new php image tag
  docker-compose.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update editorconfig
  .editorconfig
Owners: @myparcelnl/integration

test: update snapshots
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_delivery_options_dhlforyou__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_exported_in_order_mode__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_multiple_shipments_to_be__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_shipments_with_pickup_location__1.json
  tests/__snapshots__/OrdersMigrationTest__it_migrates_orders_with_data_set_split_address__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_BE_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_EU_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_ROW_order__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_all_shipment_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_delivery_options__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_order_with_saved_notes__1.json
  tests/__snapshots__/PdkOrderRepositoryTest__it_creates_a_valid_pdk_order_with_data_set_simple_order__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_empty__1.json
  tests/__snapshots__/SettingsMigrationTest__it_migrates_pre_v5.0.0_settings_with_data_set_filled__1.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
