Repository myparcelnl/woocommerce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix(hooks): fix error on getting pdk frontend routes
  src/Hooks/PdkFrontendEndpointHooks.php
Owners: @myparcelnl/integration

fix: save shipment even when updated is not null
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
Owners: @myparcelnl/integration

fix: update product settings
  src/Pdk/Service/WcRenderService.php
Owners: @myparcelnl/integration

docs: remove readme
  views/backend/admin/README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: ignore generated tsconfig files
  .gitignore
Owners: @myparcelnl/integration

feat(dhl): add vat and eori fields for europlus (#974)
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Service/WcRecipientService.php
  src/Service/WordPressHookService.php
  src/Service/WpScriptService.php
  views/frontend/checkout-delivery-options/src/listeners/onDeliveryOptionsUpdate.ts
  views/frontend/checkout-tax-fields/package.json
  views/frontend/checkout-tax-fields/src/data/fields.ts
  views/frontend/checkout-tax-fields/src/data/index.ts
  views/frontend/checkout-tax-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/utils/hasTaxFields.ts
  views/frontend/checkout-tax-fields/src/utils/index.ts
  views/frontend/checkout-tax-fields/src/utils/toggleTaxFields.ts
  views/frontend/checkout-tax-fields/tsconfig.build.json
  views/frontend/checkout-tax-fields/vite.config.ts
  views/frontend/common/src/types.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: update product migration
  src/Migration/Pdk/ProductSettingsMigration.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/integration

fix(admin): fix rendering on elements with undefined as ref value
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

fix(settings): correct keys for webhook settings
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

refactor: move migration logic to pdk
  config/pdk.php
  src/Migration/AbstractUpgradeMigration.php
  src/Migration/Contract/MigrationInterface.php
  src/Migration/Migration2_0_0.php
  src/Migration/Migration2_4_0_beta_4.php
  src/Migration/Migration3_0_4.php
  src/Migration/Migration4_0_0.php
  src/Migration/Migration4_1_0.php
  src/Migration/Migration4_2_1.php
  src/Migration/Migration4_4_1.php
  src/Migration/Migration5_0_0.php
  src/Migration/Migrator.php
  src/Migration/Pdk/AbstractPdkMigration.php
  src/Migration/Pdk/SettingsMigration.php
  src/Pdk/Plugin/Installer/WcMigrationService.php
  src/Pdk/Settings/Repository/PdkSettingsRepository.php
  src/Pdk/WcPdkBootstrapper.php
  woocommerce-myparcel.php
Owners: @myparcelnl/integration

build(semantic-release): update paths to assets
  release.config.cjs
Owners: @myparcelnl/integration

style: remove extra commas
  tests/Unit/Migration/Pdk/SettingsMigrationTest.php
Owners: @myparcelnl/integration

build(nx): run more jobs in parallel by default
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(admin): add missing vue shims file
  views/backend/admin/src/vue.shims.d.ts
Owners: @myparcelnl/frontend

fix(admin): fix import of shipment label wrapper
  views/backend/admin/src/components/pdk/index.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

fix(admin): improve dropdown button
  views/backend/admin/src/components/pdk/WcDropdownButton.vue
Owners: @myparcelnl/frontend

fix(checkout): disable eori field warnings when they don't exist
  views/frontend/checkout-tax-fields/src/utils/toggleTaxFields.ts
  views/frontend/common/src/address/getAddressField.ts
  views/frontend/common/src/utils/getElement.ts
Owners: @myparcelnl/frontend

refactor: replace split with separate
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Service/WcRecipientService.php
  src/Service/WpScriptService.php
Owners: @myparcelnl/integration

refactor: clean up custom fields logic
  src/Facade/Filter.php
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/CheckoutScriptHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Pdk/Plugin/Repository/PdkOrderRepository.php
  src/Pdk/Plugin/WcShippingMethodRepository.php
  src/Pdk/WcPdkBootstrapper.php
  src/Service/WcRecipientService.php
  src/Service/WpFilterService.php
Owners: @myparcelnl/integration

docs: add todo
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/frontend

fix(checkout): fix showing address errors before address is filled in
  src/js/wcmp-frontend.js
Owners: @myparcelnl/frontend

chore(deps): update @myparcel/delivery-options to 5.7.3
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(checkout): fix showing address errors before address is filled in (#976)
  package.json
  src/js/wcmp-frontend.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: move showing/hiding logic to app config
  views/frontend/checkout-core/src/main.ts
Owners: @myparcelnl/frontend

fix: fix custom fields not showing when they should
  src/Hooks/AbstractFieldsHooks.php
  src/Hooks/SeparateAddressFieldsHooks.php
  src/Hooks/TaxFieldsHooks.php
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

refactor: remove obsolete code
  views/frontend/checkout-separate-address-fields/src/main.ts
  views/frontend/checkout-tax-fields/src/main.ts
Owners: @myparcelnl/frontend

fix: update fields
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

chore: update pdk config
  pdk.config.cjs
Owners: @myparcelnl/integration

fix(admin): fix tooltips not being initialized
  views/backend/admin/src/components/pdk/WcFormGroup.vue
  views/backend/admin/src/hooks/index.ts
  views/backend/admin/src/hooks/initializeTooltips.ts
  views/backend/admin/src/initialize.ts
Owners: @myparcelnl/frontend

feat(admin): add subtext option to field
  src/Pdk/Service/WcRenderService.php
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(admin): fix cutoff time option throwing error
  views/backend/admin/src/components/pdk/WcCheckboxInput.vue
  views/backend/admin/src/components/pdk/WcCodeEditor.vue
  views/backend/admin/src/components/pdk/WcDropOffInput.vue
  views/backend/admin/src/components/pdk/WcRadioInput.vue
  views/backend/admin/src/components/pdk/WcTextArea.vue
  views/backend/admin/src/components/pdk/WcTextInput.vue
  views/backend/admin/src/components/pdk/WcToggleInput.vue
Owners: @myparcelnl/frontend

chore(deps): update npm dependencies
  yarn.lock
Owners: @myparcelnl/integration

fix(admin): translate form group text correctly
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

fix: add missing entry to container
  src/Pdk/WcPdkBootstrapper.php
Owners: @myparcelnl/integration

fix(admin): do not render untranslated subtext
  views/backend/admin/src/components/pdk/WcFormGroup.vue
Owners: @myparcelnl/frontend

build: update build flow
  .github/workflows/release.yml
  nx.json
  package.json
  pdk.config.cjs
  readme.txt
  release.config.cjs
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  1e/b7cc2c1cb90f75c1d0d8533c8a24be2201f11c
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  3e/8b4b5b6cd45f22d2742f76297193452264c41c
Owners: @myparcelnl/integration

Notes added by 'git notes add'
  6a/f9caf13ddb838a7fc888a6fc2a54ab737f829b
Owners: @myparcelnl/integration

.github/CODEOWNERS:

# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Frontend only ---
*.js    @myparcelnl/frontend
*.jsx   @myparcelnl/frontend
*.ts    @myparcelnl/frontend
*.tsx   @myparcelnl/frontend
*.vue   @myparcelnl/frontend

# --- Exceptions ---
# Top level javascript or dotfiles are probably config files.
./*.js  @myparcelnl/integration @myparcelnl/frontend
./.*    @myparcelnl/integration @myparcelnl/frontend

# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
